{% extends "commons_base.html" %}

{% load i18n staticfiles %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block body %}
<div class="marginTB30">
  <div class="panel-heading-c0">
    <h1 class="padding1020 margin0">{% trans "Confirm E-mail Address" %}</h1>
  </div>
<div class="body-panel bc-white borderBLRradius borderColor-c0">
<div class="marginTB30 padding1020">

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="font16">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit" class="btn btn-default">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="font16">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</div>
</div>
</div>


{% endblock %}
