{% extends "commons_base.html" %}

{% load i18n staticfiles %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_style %}
<style>
	form.password_reset > p {
	margin-bottom: 15px;
}

form.password_reset > p > input {
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form.password_reset > ul.errorlist {
	color: red;
}
</style>
{% endblock %}

{% block body %}

<div class="marginTB30">
  <div class="panel-heading-c0">
    <h1 class="padding1020 margin0">{% trans "Password Reset" %}</h1>
  </div>
<div class="body-panel borderBLRradius borderColor-c0">
<div class="padding1020">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-default" value="{% trans 'Reset My Password' %}" />
    </form>
    <p class="marginT20">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %} <a href="mailto:commons@commonspaces.eu"><i class="fa fa-envelope-o demiBold" aria-hidden="true"></i></a></p>
</div>
</div>
</div>
{% endblock %}
