{% extends "commons_base.html" %}

{% load i18n staticfiles %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_style %}
<style>
	form > p {
	margin-bottom: 15px;
}

form > p > input {
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form > ul.errorlist {
	color: red;
}
</style>
{% endblock %}

{% block body %}
<div class="marginTB30">
  <div class="panel-heading-c0">
    <h1 class="padding1020 margin0">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
  </div>
<div class="body-panel borderBLRradius borderColor-c0 {% if token_fail or not form %}bc-white{% endif %}">
<div class="padding1020">
  
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="font16 marginT30">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-default" />
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
</div>
</div>
{% endblock %}
