{% extends "commons_base.html" %}

{% load i18n staticfiles %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<div class="marginTB30">
  <div class="panel-heading-c0">
    <h1 class="padding1020 margin0">{% trans "Password Reset" %}</h1>
  </div>
<div class="body-panel bc-white borderBLRradius borderColor-c0">
<div class="padding1020">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="font16 marginTB30">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %} <a href="mailto:commons@commonspaces.eu"><i class="fa fa-envelope-o demiBold" aria-hidden="true"></i></a></p>
</div>
</div>
</div>
{% endblock %}
