{% extends "commons_print_template.html" %}
{% load staticfiles i18n %}
{% block body %}

<h2>{{ node.get_label }}</h2>

<p class="font15">{{ node.oer.description }}</p>

{% if node.oer.url %}
    <p>{% trans "URL" %}: <a href="{{ node.oer.url }}" target="_blank">{{ node.oer.url }}</a></p>
{% endif %}

<p class="text-note">
<span class="border-padding-top">{% trans "NOTE" %}</span><br>
{% if mimetype %}{% trans "cannot convert to PDF a document of mimetype"|capfirst %} <b>{{ mimetype }}</b>.{% endif %}
{% if node.oer.url or node.get_online_document_url %}
    {% if mimetype %}<br>{% endif %}
    {% trans "this node refers to an online content that you should try to access through its URL"|capfirst %}:
    {% if node.oer.url %}{{ node.oer.url|safe }}{% endif %}
    {% if node.get_online_document_url %}{{ node.get_online_document_url|safe }}{% endif %}
{% endif %}
</p>

{% endblock %}