{% load i18n staticfiles %}
        <div class="panel-white">
          <h4 class="panel-heading-c0 padding510 margin0">{% trans "select a mentor"|capfirst %}</h4>
       {% if candidate_mentors %}
           <form method="POST" action="/set_mentor/">{% csrf_token %}
             {% for hidden in match_mentor_form.hidden_fields %}{{ hidden }}{% endfor %}
             <div class="padding105 form-group">
               <div class="list-n">
               {% for radio in match_mentor_form.mentor %}
                 {% if not forloop.first %}
                 <label for="{{ radio.id_for_label }}">
                   <div class="box-label">{{ radio.choice_label }}</div>
                   <div class="text-center">{{ radio.tag }}</div>
                 </label>
                 {% endif %}
               {% endfor %}
               </div>
             </div>
             {% if select_mentor_A %}
               <div class="padding105 form-group">
                 <label for="{{ match_mentor_form.message.name }}" {% if match_mentor_form.message.field.required %}class="required"{% endif %}>{{ match_mentor_form.message.label|capfirst}}</label>
                 {{ match_mentor_form.message }}
                 {% if match_mentor_form.message.help_text %}<small id="{{ match_mentor_form.message.name }}helpBlock" class="help-block">{{ match_mentor_form.message.help_text }}</small>{% endif %}
               </div>
               <div class="panel-footer-c0 padding510"><button type="submit"  class="btn btn-default" name="submit" id="submit" value="submit">{% trans "send the request to the mentor" %}</button></div>
             {% endif %}

             {% if can_propose == 'B' %}
               <div class="panel-footer-c0 padding510">
                 {% comment %}
                 <button type="submit"  class="btn btn-default" name="save" id="save" value="save">{% trans "save the choice" %}</button> &nbsp; &nbsp;
                 <button type="submit" class="btn btn-default" name="submit" id="submit" value="submit">{% trans "confirm and send the request to the mentor" %}</button> &nbsp; &nbsp;
                 {% endcomment %}
               <button type="submit" class="btn btn-default" name="submit" id="submit" value="submit">{% trans "send the request to the mentor" %}</button> &nbsp; &nbsp;
               </div>
             {% endif %}
             {% if can_propose == 'C' %}
               
               <div class="panel-footer-c0 padding510">
               	{% comment %}
               	<div><button type="submit"  class="btn btn-default" name="save" id="save" value="save">{% trans "save the choice" %}</button> &nbsp; &nbsp;
               <button type="submit" class="btn btn-default" name="submit" id="submit" value="submit">{% trans "confirm and send the request to the mentor" %}</button></div>
               <div class="marginT5"><button type="submit" class="btn btn-default" name="delegate" id="delegate" value="delegate">{% trans "delegate community administrator" %}</button></div>
               {% endcomment %}
               <button type="submit" class="btn btn-default" name="submit" id="submit" value="submit">{% trans "send the request to the mentor" %}</button> &nbsp; &nbsp;
               <button type="submit" class="btn btn-default" name="delegate" id="delegate" value="delegate">{% trans "delegate community administrator" %}</button>
               </div>
             {% endif %}
           </form>
       {% else %}
           <div class="padding510">{% trans "currently there aren't any mentors available"|capfirst %}</div>
       {% endif %}
     </div>
