{% load staticfiles %}
{% load socialaccount %}
{% load i18n %}

  <div class="modal modal-login fade" id="modal-login" role="dialog" aria-labelledby="modal-login" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content mymodal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-close"></span></button>
          <h4 class="modal-title">{% trans "Log in" %}</h4>
        </div>
        <div class="modal-body">
          <form method="post" id="form-login-modal" class="mymodallogin" action="/accounts/login/{% if not "accounts" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">{% csrf_token %}
            <fieldset class="userdata">
              <div id="form-login-e-mail" class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="modlgn-id_login" type="text" name="login" class="input form-control" tabindex="0" size="15" placeholder="{% trans "email address"|capfirst %}">
                </div>
              </div>
              <div id="form-login-password" class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock tip"></i></span>
                  <input id="modlgn-id_password" type="password" name="password" class="input form-control" tabindex="0" size="15" placeholder="{% trans "password"|capfirst %}">
                </div>
              </div>
              <div id="form-login-remember" class="form-group">
                <label for="modlgn-remember">
                  {% trans "Remember Me" %}: <input id="modlgn-remember" type="checkbox" name="remember"  value="yes"> 
                </label>
              </div>
              <div class="form-group">
                <input type="submit" name="Submit" class="btn btn-primary" value="{% trans "Log in" %}">
              </div>
              <ul class="list-unstyled">
                {% if is_primary_domain %}<li><a href="/accounts/signup/">{% trans "Create an account" %} <span class="fa fa-arrow-right"></span></a></li>{% endif %}
                <li><a href="/accounts/password/reset/">{% trans "Forgot Password?" %}</a></li>
              </ul>
            </fieldset>
          </form>
          <script type="text/javascript">
            $(document).ready(function(event) {
              $("#form-login-modal").submit( function () {
                email = $.trim($("#modlgn-id_login").val());
                pwd = $.trim($("#modlgn-id_password").val());
                if (email != '' && pwd != '') {
                  $("#modlgn-id_login").val(email);
                  $("#modlgn-id_password").val(pwd);
                  return true;
                }
                return false;
              })
            })
          </script>
        </div>
        {% if HAS_SOCIAL_AUTHENTICATION or is_secondary_domain or is_test_domain %}
        <div class="modal-footer visible-xs">
          <div class="social-login">
            {% if HAS_SOCIAL_AUTHENTICATION %}
            <a id="sc_fblogin" href="{% provider_login_url 'facebook' process='login' %}{% if not "accounts" in request.get_full_path %}&next={{request.get_full_path}}{% endif %}">
              <img src="{% static "commons/img/fb_icon.png" %}" alt="{% trans "Login With" %} Facebook" title="{% trans "Login With" %} Facebook"></a>
              {% if HAS_LINKEDIN_AUTHENTICATION %}
              <a id="sc_inlogin" href="{% provider_login_url "linkedin_oauth2" %}{% if not "accounts" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
                <img src="{% static "commons/img/in_icon.png" %}" alt="{% trans "Login With" %} Linkedin" title="{% trans "Login With" %} Linkedin "></a>
              {% endif %}
            {% elif is_secondary_domain or is_test_domain %}
              {% if HAS_SAML2 %}
              <a id="sc_up2u" href="/saml2/login/{% if not "saml2" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
                <img src="{% static "commons/img/up2u_icon.png" %}" alt="{% trans "Login With" %} Up2U" title="{% trans "Login With" %} Up2U "></a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div> 