{% load i18n staticfiles %}

<style>
ul.ta-menu li, ul.ta-menu li a { display: inline; font-size: 12px; line-height: 1;}
ul.ta-menu li:before { display: none; }
</style>

   <span class="dropdown"> &nbsp;
     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></b></a>
     <ul class="dropdown-menu ta-menu">
       <li><a href="/textanalysis/context/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Keywords In Context" %}</a></li>
       <li><a href="/textanalysis/wordlists/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Word Lists by POS" %}</a></li>
       <li><a href="/textanalysis/annotations/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Annotated text" %}</a></li>
       <li><a href="/textanalysis/nounchunks/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Noun Chunks" %}</a></li>
       <li><a href="/textanalysis/readability/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Text Readability" %}</a></li>
       <li><a href="/textanalysis/cohesion/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Text Cohesion" %}</a></li>
       <li><a href="/textanalysis/summarization/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Text Summarization" %}</a></li>
       <li><a href="/textanalysis/dashboard/{{ obj_type }}/{{ obj_id }}/" target="_blank">{% trans "Text Analysis Dashboard" %}</a></li>
     </ul>
   </span>
