{% extends "commons_print_template.html" %}
{% load staticfiles i18n %}
{% block body %}

<h2>{{ node.get_label }}</h2>

<p class="font15">{{ node.oer.description }}</p>

{% if videoID %}
   <p><a href="{{node.oer.url}}" target="_blank"><img src="{% if video_data.image %}{{video_data.image}}{% else %}{{ PROTOCOL }}://img.youtube.com/vi/{{videoID}}/hqdefault.jpg{% endif %}" class="img-responsive-basic"></a></p>
{% endif %}

{% if node.oer.url %}
   <p>{% trans "URL" %}: <a href="{{ node.oer.url }}" target="_blank">{{ node.oer.url }}</a></p>
{% endif %}

{% if not videoID %}
<p class="text-note">
<span class="border-padding-top">{% trans "NOTE" %} </span><br>
{% trans "this node refers to an OER that you can access online through its URL"|capfirst %}.
{% if err_msg %}<br>{{ err_msg }}.
{% elif mimetype %}<br>{% trans "the associated resource has content type"|capfirst %} <b>{{ mimetype }}</b>.{% endif %}
{% if ranges %}
<span><br>{% trans "an excerpt of the content follows"|capfirst %}</span>
{% endif %}
</p>
{% endif %}
{% endblock %}

