{% extends "base.html" %}

{% load i18n %}
{% load commons_tags %}

{% block head_title %}
  {% if actor %}{% blocktrans with the_actor=actor.get_display_name %}Recent activity by {{ the_actor }}{% endblocktrans %}
  {% elif project %}{% blocktrans with the_project=project.name%}Recent activity by {{ the_project }}{% endblocktrans %}
  {% else %}{% trans "recent activity"|capfirst %}
  {% endif %}
{% endblock %}

{% block body_class %}activity_stream{% endblock %}

{% block extra_head %}
<style>
	th, td { padding: 0 1em }
</style>
{% endblock extra_head %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="marginT30">
              {% if actor %}{% blocktrans with the_actor=actor.get_display_name %}Recent activity by {{ the_actor }}{% endblocktrans %} <span class="small">({{ actor.id }})</span>
              {% elif project %}{% blocktrans with the_project=project.name%}Recent activity by {{ the_project }}{% endblocktrans %}
              {% else %}{% trans "recent activity"|capfirst %}
              {% endif %}
            </h1>
			{% if actions %}
			<table id="stream" style="padding: 1em;">
			<thead><tr class="panel-white">
				<th>{% trans "time" %}</th>{% if not actor %}<th>{% trans "actor" %}</th>{% endif %}
			    <th>{% trans "verb" %}</th><th>{% trans "object type" %}</th><th>{% trans "object" %}</th><th>{% trans "context" %}</th>
			</tr></thead>
			<tbody>
		    {% for action in actions %}<tr>
		        <td>{{ action.timestamp|date:"d.m.Y H:i" }}</td>
		        {% if not actor %}<td><a href="/profile/{{ action.actor.username }}/">{{ action.actor.get_display_name }}</a></td>{% endif %}
		        <td class="text-center">{{ action.verb }}</td>
		        <td class="text-center">{% if action.description and not action.action_object %}{{ action.description }}{% elif action.action_object %}{{ action.action_object|object_class }}{% endif %}</td>
		        <td>{% if action.action_object.get_absolute_url %}<a href="{{ action.action_object.get_absolute_url }}">{% endif %}{% if action.action_object.name %}{{ action.action_object.name|truncatechars:60 }}{% elif action.action_object.title %}{{ action.action_object.title|truncatechars:60 }}{% elif action.action_object.label %}{{ action.action_object.label|truncatechars:60 }}{% if action.action_object %}</a>{% endif %}{% endif %}</td>
				{% if action.target %}
		        <td><a href="{{ action.target.get_absolute_url }}">{{ action.target.name|truncatechars:60 }}</a></td>
				{% endif %}
		    </tr>{% endfor %}
			</tbody>
			</table>
			{% else %}
				<div style="margin-inline-start: 1.5em;"><i>{% trans "no actions were found"|capfirst %}.</i></div>
			{% endif %}
        </div>
    </section>
{% endblock %}
