{% extends "base.html" %}

{% load staticfiles%}
{% load i18n %}
{# load tinymce_tags #}

{% block head_title %}{% if node %}{{ node.label }} [{% trans "edit learning path node" %}]{% else %}{% trans "add node"|capfirst %}{% endif %}{% endblock %}


{% block extra_style %}
{% include "_select2_css.html" %}
{% endblock %}

{% block body_class %}pathnode_edit{% endblock %}
{% block body %}
<div class="panel panel-c1 text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h4 class="marginTB5">{{ name_lp }}</h4>
        {% if node %}
        <h2 class="marginTB5">{{node.label}}</h2>
        <p>{% trans "edit"|capfirst %} </p>
        {% else %}
        <h2 class="marginTB5">{% trans "add learning path node"|capfirst %}</h2>
        {% endif %}
    </h2>
  </div>
  <p class="padding1020 demiBold font12">{% trans "In this form you can specify 3 types of resources: 1) an OER; 2) a document tailored to the needs of this learning path (LP); 3) a formatted text. When playing the LP, the platform will visualize only one of them: the OER, if present, otherwise the document or the formatted text as the last choice." %}</p>
  <form method="POST" action="{{ action }}" id="edit_pathnode" enctype="multipart/form-data" onsubmit="lockoutSubmit(this); return true;">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
    {% if form.errors %}
      {% if form.non_field_errors %}
      <div class="txt-error demiBold" style="margin-inline-start:-20px">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    {% endif %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}

      <div class="form-group">
      	{% if field.name == 'remove_document' or field.name  == 'new_document' %}
        {% if field.name == 'remove_document' %}
          {% if node.document_id > 0 %}
            <label for = "group_doc" style="display:block">{% trans "document"|capfirst %}</label>
              {{ field }} <label for="{{ field.name }}" style="font-weight: normal">{{ field.label|capfirst}}: {{node.document.label}}</label>
          {% else %}
            <div style="display:none">{{ field }}</div>
          {% endif %}
        {% endif %}
        {% if  field.name  == 'new_document' %}
          {% if not node.document_id > 0 %}
            <label for="{{ field.name }}">{{ field.label|capfirst}}</label>
          {% endif %}
        {% endif %}
        {% else %}
        <label for="{{ field.name }}">{{ field.label|capfirst}}</label>
        {% endif %}
        {% if not field.name == 'remove_document' %}
          <span class="txt-error">{{ field.errors }}</span>{{ field }}
          {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
        {% endif %}
      </div>
      {% if  field.name  == 'new_document' %}
        <div class="marginT5 form-group">
          <button id="clearfile" name="clearfile" class="btn btn-default" type="button">{% trans "remove selected file" %}</button>
        </div>
      {% endif %}
    {% endwith %}{% endfor %}
    </fieldset>
    <div class="panel-footer-c1 padding1020">
      {% include "_edit_submit.html" %}
    </div>
  </form>
</div>
{% endblock %}

{% block extra-body %}
  <div id='loadingmessage' style='display:none'>
    <div class="modal" style='display:block; padding-inline-end:17px;'>
      <div class="modal-dialog" style="width:300px"><div class="modal-content text-center"><img src='{% static 'commons/img/ajax-loader.gif' %}'></div></div>
    </div>
    <div class="modal-backdrop in"></div>
  </div>
{% endblock extra-body %}

{% block extra_script %}
   <script type="text/javascript" src="{% static "commons/js/bootstrap-filestyle.min.js" %}"></script>

{% include "_select2_js.html" %}

{% include "_tinymce_init.html" with data='extend' %}

<script type="text/javascript">
    var exts = '{{exts_file_attachment}}';
    var appls = "" // "text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,image/jpeg,image/png,image/x-png,image/gif,audio/mp3,video/mp3,audio/mp4,video/mp4,application/rtf"; // application/x-ipynb+json
    var fsize = {{size_file_attachment}};
    var fsizeplus = {{plus_size}}*{{size_file_attachment}};
    var sub_exts = '{{sub_exts}}';
    $(document).ready(function() {
        $('#clearfile').click(function() {
            $('#id_new_document').filestyle('clear');
            if ($("#id_new_document").hasClass('error')) {
                $("#id_new_document").removeClass('error');
                $("#id_new_document-error").html('');
            }
        });
    });
</script>
{% include "_validate_file.html" with addDoc='edit_pathnode' fieldFile='new_document' %}
{% endblock %}
