<html>

<head>
<style>
input { display:none; }
input ~ label {
	display: inline-block;
    margin: 0 2px 6px 3px;
    padding: 1px 2px 1px 2px;
    background-color: #fff;
    border: 1px solid #999;
    color: #999;
    cursor: pointer;
    font-size: smaller;
}
input:checked ~ label {
	color: white;
	background-color: #999;
}
</style>
</head>

<body>
<span><input type="checkbox" id="c1"><label for="c1">Aliens</label></span>
<span><input type="checkbox" id="c2"><label for="c2">Ghosts</label></span>
<span><input type="checkbox" id="c3"><label for="c3">Monsters</label></span>
</body>

</html>