{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="/static/brat_client/style-vis.css"/>
<link rel="shortcut icon" href="favicon.png"/>
 
<!-- override a few style-vis.css settings for the embedded version to make things larger -->
<style type="text/css">
text { font-size: 15px; }
.span text { font-size: 10px; }
.arcs text { font-size: 9px; }
</style>

<script type="text/javascript" src="/static/brat_client/client/lib/head.load.min.js"></script>

<script type="text/javascript">
var bratLocation = '/static/brat_client';
head.js(
    // External libraries
    bratLocation + '/client/lib/jquery.min.js',
    bratLocation + '/client/lib/jquery.svg.min.js',
    bratLocation + '/client/lib/jquery.svgdom.min.js',

    // brat helper modules
    bratLocation + '/client/src/configuration.js',
    bratLocation + '/client/src/util.js',
    bratLocation + '/client/src/annotation_log.js',
    bratLocation + '/client/lib/webfont.js',

    // brat modules
    bratLocation + '/client/src/dispatcher.js',
    bratLocation + '/client/src/url_monitor.js',
    bratLocation + '/client/src/visualizer.js'
);

var collData = {
    entity_types: [ {
            type   : 'Person',
            /* The labels are used when displaying the annotion, in this case
                we also provide a short-hand "Per" for cases where
                abbreviations are preferable */
            labels : ['Person', 'Per'],
            // Blue is a nice colour for a person?
            bgColor: '#7fa2ff',
            // Use a slightly darker version of the bgColor for the border
            borderColor: 'darken'
    } ],
    relation_types: [ {
        type     : 'Anaphora',
        labels   : ['Anaphora', 'Ana'],
        // dashArray allows you to adjust the style of the relation arc
        dashArray: '3,3',
        color    : 'purple',
        /* A relation takes two arguments, both are named and can be constrained
            as to which types they may apply to */
        args     : [
            // 
            {role: 'Anaphor', targets: ['Person'] },
            {role: 'Entity',  targets: ['Person'] }
        ]
    } ],
    event_types: [ {
        type   : 'Assassination',
        labels : ['Assassination', 'Assas'],
        bgColor: 'lightgreen',
        borderColor: 'darken',
        /* Unlike relations, events originate from a span of text and can take
            several arguments */
        arcs   : [
            {type: 'Victim', labels: ['Victim','Vict'] },
            // Just like the event itself, its arguments can be styled
            {type: 'Perpetrator', labels: ['Perpetrator','Perp'], color: 'green' }
        ]
    } ]
};

var docData = {
    // Our text of choice
    text     : "Ed O'Kelley was the man who shot the man who shot Jesse James.",
    // The entities entry holds all entity annotations
    entities : [
        /* Format: [${ID}, ${TYPE}, [[${START}, ${END}]]]
            note that range of the offsets are [${START},${END}) */
        ['T1', 'Person', [[0, 11]]],
        ['T2', 'Person', [[20, 23]]],
        ['T3', 'Person', [[37, 40]]],
        ['T4', 'Person', [[50, 61]]]
    ],
	relations: [ 
        // Format: [${ID}, ${TYPE}, [[${ARGNAME}, ${TARGET}], [${ARGNAME}, ${TARGET}]]]
        ['R1', 'Anaphora', [['Anaphor', 'T2'], ['Entity', 'T1']]]
    ],
    triggers: [
        // The format is identical to that of entities
        ['T5', 'Assassination', [[45, 49]]],
        ['T6', 'Assassination', [[28, 32]]]
    ],
    events: [
        // Format: [${ID}, ${TRIGGER}, [[${ARGTYPE}, ${ARGID}], ...]]
        ['E1', 'T5', [['Perpetrator', 'T3'], ['Victim', 'T4']]],
        ['E2', 'T6', [['Perpetrator', 'T2'], ['Victim', 'T3']]]
    ]
};

var webFontURLs = [
	bratLocation + '/fonts/Astloch-Bold.ttf',
    bratLocation + '/fonts/PT_Sans-Caption-Web-Regular.ttf',
    bratLocation + '/fonts/Liberation_Sans-Regular.ttf'
];

head.ready(function() {
    // Evaluate the code from the examples and show it to the user ...
    // Fuck it! We'll do it live!
    var collInput = $('#coll-input');
    var docInput = $('#doc-input');
    var liveDiv = $('#embedding-live-example');

    // Time for some "real" brat coding, let's hook into the dispatcher
    var liveDispatcher = Util.embed('embedding-live-example',
            $.extend({'collection': null}, collData),
            $.extend({}, docData), webFontURLs);

    var renderError = function() {
        // liveDiv.css({'border': '2px solid red'}); // setting this blows the layout
        collInput.css({'border': '2px solid red'});
        docInput.css({'border': '2px solid red'});
    };

    liveDispatcher.on('renderError: Fatal', renderError);

    var collInputHandler = function() {
        var collJSON;
        try {
            collJSON = JSON.parse(collInput.val());
            collInput.css({'border': '2px inset'});
        } catch (e) {
            // Not properly formatted JSON...
            collInput.css({'border': '2px solid red'});
            return;
        }

        try {
            liveDispatcher.post('collectionLoaded',
                    [$.extend({'collection': null}, collJSON)]);
            //liveDiv.css({'border': '2px inset'});  // setting this blows the layout
            docInput.css({'border': '2px inset'});
        } catch(e) {
            console.error('collectionLoaded went down with:', e);
            //liveDiv.css({'border': '2px solid red'});
            collInput.css({'border': '2px solid red'});
        }
    };

    var docInputHandler = function() {
        var docJSON;
        try {
            docJSON = JSON.parse(docInput.val());
            docInput.css({'border': '2px inset'});
        } catch (e) {
            docInput.css({'border': '2px solid red'});
            return;
        }

        try {
            liveDispatcher.post('requestRenderData', [$.extend({}, docJSON)]);
            // liveDiv.css({'border': '2px inset'});  // setting this blows the layout
            collInput.css({'border': '2px inset'});
        } catch(e) {
            console.error('requestRenderData went down with:', e);
            // liveDiv.css({'border': '2px solid red'});
            collInput.css({'border': '2px solid red'});
        }
    };

    // Inject our current example as a start
    var collJSON = JSON.stringify(collData, undefined, '    ');
    docJSON = JSON.stringify(docData, undefined, '    ')
    // pack those just a bit
    var packJSON = function(s) {
        // replace any space with ' ' in non-nested curly brackets
        s = s.replace(/(\{[^\{\}\[\]]*\})/g, 
                      function(a, b) { return b.replace(/\s+/g, ' '); });
        // replace any space with ' ' in [] up to nesting depth 1
        s = s.replace(/(\[(?:[^\[\]\{\}]|\[[^\[\]\{\}]*\])*\])/g, 
                      function(a, b) { return b.replace(/\s+/g, ' '); });
        return s
    }
    collInput.text(packJSON(collJSON));
    docInput.text(packJSON(docJSON));

    var listenTo = 'propertychange keyup input paste';
    collInput.bind(listenTo, collInputHandler);
    docInput.bind(listenTo, docInputHandler);
});
</script>

 <body>
    <div id="main" class="center">
		<h2>Live embedding</h2>
		<div id="embedding-live-example"></div>

	</div>
</body>

</html>