{% extends "commons_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}Contents Dashboard{% endblock %}
{% block extra_style %}
    <!-- MMR link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/highlight.js/9.5.0/styles/default.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="{% static "vue_apps/vddl/vddl.css" %}">
<style>
.wrapper {
    min-height: 0;
    margin:0;
    padding:0;
}
h3 {
    margin-top:0;
    margin-bottom:0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
    
.list-e .box-e:nth-child(4n+1) {
    clear: both;
}
.list-e > div {
  width: 24%;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
  background: #fff;
  border: 1px solid #67AE73;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.list-r > div {
  width:100%;
  margin: 0 1em 1em 0;
  background: #fff;
  border: 1px solid #8c8c8c;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
  

.list-e > div.box100  {
    width:100%;
}
tr.vddl-draggable {
    padding:3px 10px 3px 10px;
    border-bottom: 1px dotted #67AE73;
    font-size:90%;
}
tr.vddl-draggable:first {
    padding-top: 6px;
}
tr.vddl-draggable:last {
    border-bottom:none;
}
.panel-heading-r {
    color: #fff;
    background: #8c8c8c;
}

</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
{% comment %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/vuedraggable@2.24.3/src/vuedraggable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vddl@0.7.1/dist/vddl.js"></script>
{% endcomment %}
    <script src="{% static "vue/vue.js" %}"></script>
    <script type="module" src="{% static "vue_apps/sortable/Sortable.js" %}"></script>
    <script type="module" src="{% static "vue_apps/vuedraggable/vuedraggable.js" %}"></script>
    <script src="{% static "vue_apps/vddl/vddl.js" %}"></script>
{% endblock extra_head %}

{% block body_class %}contents_dashboard{% endblock %}

{% block nav %}
  <div class="navbar">
    <h2 class="text-center">{% trans "contents dashboard"|capfirst %}</h2>
  </div>
{% endblock nav %}

{% block body_base %}

    {% verbatim %}
    <div id="app">
      <div class="container-fluid marginTB20">

        <div class="list-e">
          <div class="box100" v-for="resource_list in resource_lists">
            <div class="panel-heading-c0 padding510 demiBold"><a class="toggleIcon" href="#"><i class="fa fa-plus-square"></i></a> &nbsp;{{ resource_list.label }}</div>
            <vddl-list :list=resource_list.els class="box-scroll box-small"
              tag="table" width="100%" style="display: none;"
              :allowed-types=[resource_list.list_id]
              :inserted="handleInserted"
              :dragover="handleDragover"
              :drop="handleDrop">
              <tbody tag='tbody' :is="draggable">
                <vddl-draggable v-for="item in resource_list.els" v-bind:key="item.obj_id"
                tag="tr" style="display: block;"
                :type=resource_list.list_id
                :draggable=item
                :index=item['index']
                :wrapper=resource_list.els
                effect-allowed="move"
                :selected="selectedEvent"
                :dragstart="handleDragstart"
                :dragend="handleDragend"
                :canceled="handleCanceled"
                :moved="handleMoved"
                v-bind:class="{'selected': resource_list.selected === item}"
                >
                  <td tag='td' width="10%"><div style="display:inline; color: red;">{{ item.obj_type }}</div></td>
                  <td tag='td' width="10%"><a :href=item.url>{{ item.obj_id }}</a></td>
                  <td tag='td' width="80%"><div style="display:inline;">{{ item.label }}</div></td>
                </vddl-draggable>
              </tbody>
            </vddl-list>
          </div>
        </div>

        <hr>

        <div class="list-r" style="clear:both">
          <div>
            <div class="panel-heading-r padding510 demiBold">{{ label_corpus }}</div>
            <vddl-list :list=corpus.els
              tag="table" width="100%" style="display: block; min-height: 40px"
              :type=corpus.list_id
              :inserted="handleInserted"
              :dragover="handleDragover"
              :drop="handleDrop">
              <tbody tag='tbody' :is="draggable">
              <vddl-draggable v-for="item in corpus.els" v-bind:key="item.obj_id"
              tag="tr" width="100%" style="display: block;"
              :draggable=item
              :index=item['index']
              :wrapper=corpus.els
               effect-allowed="move"
              :selected="selectedEvent"
              :dragstart="handleDragstart"
              :dragend="handleDragend"
              :canceled="handleCanceled"
              :moved="handleMoved"
               v-bind:class="{'selected': corpus.selected === item}"
              >
                <td tag='td' width="10%"><div style="display:inline; color: red;">{{ item.obj_type }}</div></td>
                <td tag='td' width="10%"><a :href=item.url>{{ item.obj_id }}</a></td>
                <td tag='td' width="80%"><div style="display:inline;">{{ item.label }}</div></td>
              </vddl-draggable>
              </tbody>
            </vddl-list>
          </div>
        </div>

        <div>
          <button v-if="corpus.els.length" v-on:click="preprocessSelected();">{{ label_preprocess }}</button> &nbsp;
      	  <button v-if="result" v-on:click="compareSelected();">{{ label_similarity }}</button>
        </div>
        <div id="result" class="vddl-list">{{ result }}</div>

      </div>
    </div>
    {% endverbatim %}

{% endblock body_base %}

{% block footer_base %}
{% endblock footer_base %}

{% block script_base %}
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
      var app = new Vue({
        name: 'contents_dashboard',
        data: {
          resource_lists: { my_lps: {list_id: 'my_lps', label: 'My LPs', els: [], selected: null}, personal_lps: {list_id: 'personal_lps', label: 'Personal LPs', els: [], selected: null}, my_oers: {list_id: 'my_oers', label: 'My OERs', els: [], selected: null}, personal_oers: {list_id: 'personal_oers', label: 'Personal OERs', els: [], selected: null} },
          corpus: {list_id: 'corpus', label: 'Corpus', els: [], selected: null},
          // resource_list: {},
          list: [],
          selected: null,
          index: 0,
          result: '',
          all_types: ['my_oers', 'personal_oers', 'my_lps', 'personal_lps', 'corpus'],
          source_id: '',
          label_preprocess: '{% trans "preprocess"|capfirst %}',
          label_similarity: '{% trans "similarity"|capfirst %}',
          label_corpus: '{% trans "my current corpus"|capfirst %}',
		},
        el: '#app',
        components: {
          // 'vddl-draggable': window.httpVueLoader("http://localhost:8000/static/yarn/vddl/src/components/vddl-draggable.vue"),
          // 'vddl-list': window.httpVueLoader("http://localhost:8000/static/yarn/vddl/src/components/vddl-list.vue")
        },
        methods: {
          selectedEvent: function(item){
            console.log(':v-draggable: dragstart');
            // this.selected = item;
            var key = item.list_id
            this.lists[key].selected = item;
          },
          handleDragstart(target) {
            console.log(':v-draggable: dragstart');
          },
          handleDragend() {
            console.log(':v-draggable: dragend');
          },
          handleCanceled() {
            console.log(':v-draggable: canceled');
          },
          handleMoved(item) {
            console.log(':v-draggable: moved');
            console.log(item);
            const { index, list } = item;
            list.splice(index, 1);
          },
          handleDragover() {
            console.log(':v-list: handleDragover');
          },
          // handleInserted() {
          handleInserted(event, index, transferredObject) {          
            console.log(':v-list: inserted');
            console.log(event);
            console.log(event['list']);
            for (i=0; i<event['list'].length; i++) {
              console.log(event['list'][i]['index']);
              event['list'][i]['index'] = i
              console.log(event['list'][i]['index']);
            };
          },
          handleDrop(data) {
            console.log(':v-list: drop');
            console.log(data);
            const { index, list, item } = data;
            // change the id
            item.id = new Date().getTime();
            list.splice(index, 0, item);
          },
          preprocessSelected() {
            console.log('preprocessSelected');
            fetch('/ajax_preprocess_resources/', {
              method: 'POST',
              headers: { "Content-Type": "application/json", "X-Requested-With": "XMLHttpRequest" },
              body: JSON.stringify(app.corpus)
           	})
            .then(response => response.json())
            .then(data => (this['result'] = data['result']))
            .catch(err => (this['result'] = err))
          },
          compareSelected() {
            console.log('compareSelected');
            fetch('/ajax_compare_resources/', {
              method: 'POST',
              headers: { "Content-Type": "application/json", "X-Requested-With": "XMLHttpRequest" },
              body: JSON.stringify(app.corpus)
           	})
            .then(response => response.json())
            .then(data => (this['result'] = data['result']))
            .catch(err => (this['result'] = err))
          }
        },
        mounted: function () {
          this['corpus']['els'] = [];
          fetch('/contents_dashboard/', {
            method: 'GET',
            headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
          })
          .then(response => response.json())
          .then(data => {
	        console.log(Object.entries(data).length);
            // set all properties from response data into app data
            for (var key in data) {
              var resource_list = this['resource_lists'][key]
              resource_list['els'] = data[key];
        	  for (index = 0; index <resource_list['els'].length; index++) {
        	    resource_list['els'][index]['list_id'] = key;
        	    resource_list['els'][index]['selected'] = false;
        	    resource_list['els'][index]['index'] = index;
        	  }
        	}
          })
          .catch(err => (console.log(err)))
        },
        updated: function () {
        },
      });
      
      $(document).ready(function (){
        $('div a.toggleIcon').on('click', function(event){
            event.preventDefault();
            $("body").css("cursor", "default");
            var accordion = $(this).parent();
            var accordionContent = accordion.next('table');
            var accordionToggleIcon = $(this);
            accordion.toggleClass("open");
            accordionContent.slideToggle(250);
            if (accordion.hasClass("open")) {
                accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
            } else {
                accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
            }
        });
      });
	</script>
{% endblock script_base %}
