{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "keywords in context"|capfirst %}{% endblock %}
{% block extra_style %}
<style>
.wrapper {
  min-height: 0;
  margin:0;
  padding:0 0 10px 0;
}
.context {
  padding: 3px 10px;
  display: grid;
  grid-template-columns: 34% 10% auto;
  font-size:85%;
  background: #fff;
  border 1px dotted #B2B2B2;
  border-top-width: 0;
}
.context:hover {
  background-color: #F4F4F4;
}
.panel-heading-context {
  color: #333;
  background: #fff;
  border-bottom: 2px solid #B2B2B2;
}
.panel-heading-context:hover, .open {
    background-color: #B2B2B2;
    color: #fff;
}
.panel-heading-context a {
  color: #333;
}
.panel-heading-context:hover a, .open a {
  color:white;
}
.panel-heading-context a:hover {
	color: #ebeded;
}
.my-navbar-user-auth > li {
  padding-inline-start: 7px !important;
  padding-inline-end: 7px !important;
  color: #ccc !important;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "vue/vue.js" %}"></script>
{% endblock extra_head %}

{% block body_class %}context_dashboard{% endblock %}
{% block user %}{% include "_header_bar.html" %} {% endblock user %}

{% block topbar %}
{% block nav %}
  <div class="navbar">
    <h3 class="text-center">{% trans "keywords in context"|capfirst %}</h3>
  </div>
{% endblock nav %}
{% endblock topbar %}

{% block body_base %}
  {% verbatim %}
  <div id="app">
    <div class="container-fluid marginTB20" >
      <div v-for="(kwic, index) in kwics" >
        <div class="panel-heading-context padding510 demiBold"><a href="#" class="marginR10" onclick="toggle_icon($(this)); return false;"><i class="fa fa-plus-square"></i></a><span class="marginR10">{{ kwic.frequency }}</span><span class="kw">{{ kwic.kw }}</span></div>
        <div style="display:none">
          <div class="context" v-for="context in kwic.contexts">
            <div class="text-right">{{ context[0] }}</div><div class="text-center"><span class="bold" style="letter-spacing:-1px">{{ context[1] }}</span></div><div>{{ context[2] }}</div>
          </div>
        </div>
      </div>
      <div v-if="error">{{ error }}</div>
    </div>
  </div>
  {% endverbatim %}
{% endblock body_base %}

{% block footer_base %}
{% endblock footer_base %}

{% block script_base %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript">
  var app = new Vue({
    name: 'context_dashboard',
    data: {
      file_key: '{{ file_key }}',
      obj_type: '{{ obj_type }}',
      obj_id: '{{ obj_id }}',
      kwics: [],
      result: [],
      error: '',
      window: 2,
    },
    el: '#app',
    methods: {
    },
    mounted: function () {
      fetch('/context_dashboard/'+this['file_key']+'/'{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
        method: 'GET',
        headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
      })
      .then(response => response.json())
      .then(data => {this['kwics'] = data['kwics']; this['result'] = data['kwics'];})
      .catch(err => (this['error'] = err))
    },
  });

  function toggle_icon(element){
        $("body").css("cursor", "default");
        console.log("entro");
        var accordion = element.parent();
        var accordionContent = accordion.next('div');
        var accordionToggleIcon = element;
        accordion.toggleClass("open");
        accordionContent.slideToggle(200);
        if (accordion.hasClass("open")) {
            accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
            accordionContent.attr("style", "display: block;")
        } else {
            accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
        }
  }
</script>
{% endblock script_base %}