{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "Text Analysis" %} - {% trans "Keywords In Context" %}{% endblock %}
{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<style>
.context {
  padding: 3px 10px;
  display: grid;
  grid-template-columns: 34% 10% auto;
  font-size:85%;
  background: #fff;
  border 1px dotted #B2B2B2;
  border-top-width: 0;
}
.context:hover {
  background-color: #F4F4F4;
}
.panel-heading-context {
  color: #333;
  background: #fff;
  border-bottom: 2px solid #B2B2B2;
}
.panel-heading-context:hover, .open {
    background-color: #B2B2B2;
    color: #fff;
}
.panel-heading-context a {
  color: #333;
}
.panel-heading-context:hover a, .open a {
  color:white;
}
.panel-heading-context a:hover {
	color: #ebeded;
}
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="https://use.fontawesome.com/d391635073.js"></script>
    <script src="{% static "vue/vue.js" %}"></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "Keywords In Context" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
  {% verbatim %}
  <div class="container-fluid">
    <div id="app" class='components-container'>
      <div class="marginB10">
        <span v-if="obj_type_label"><b>{{ obj_type_label }}</b></span>
        <span v-if="title"><i>{{ title }}</i></span>
        <span v-if="obj_id">(id = {{ obj_id }})</span>
      </div>
      <div v-if="language"><label>language</label> {{ language }}</div>
      <div v-for="(kwic, index) in kwics" >
        <div class="panel-heading-context padding510 demiBold"><a href="#" class="marginR10" onclick="toggle_icon($(this)); return false;"><i class="fa fa-plus-square"></i></a><span class="marginR10">{{ kwic.frequency }}</span><span class="kw">{{ kwic.kw }}</span></div>
        <div style="display:none">
          <div class="context" v-for="context in kwic.contexts">
            <div class="text-right">{{ context[0] }}</div><div class="text-center"><span class="demiBold" style="letter-spacing:-1px">{{ context[1] }}</span></div><div>{{ context[2] }}</div>
          </div>
        </div>
      </div>
      <div v-if="error">{{ error }}</div>
    </div>
  </div>
  {% endverbatim %}
{% endblock body_base %}

{% block footer_base %}
{% endblock footer_base %}

{% block script_base %}
{% comment %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
{% endcomment %}
<script type="text/javascript">
  var app = new Vue({
    name: 'context_dashboard',
    data: {
      file_key: '{{ file_key }}',
      obj_type: '{{ obj_type }}',
      obj_id: '{{ obj_id }}',
      obj_type_label: '{{ obj_type_label }}',
      title: '{{ title }}',
      language: '{{ language }}',
      kwics: [],
      result: [],
      error: '',
      window: 2,
    },
    el: '#app',
    methods: {
    },
    mounted: function () {
      fetch('/context_dashboard/'{% if file_key %}+this['file_key']+'/'{% endif %}{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
        method: 'GET',
        headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
      })
      .then(response => response.json())
      .then(data => {
         for (var key in data) {
      		this[key] = data[key];
      	 };
       })
      .catch(err => (this['error'] = err))
    },
  });

  function toggle_icon(element){
        $("body").css("cursor", "default");
        console.log("entro");
        var accordion = element.parent();
        var accordionContent = accordion.next('div');
        var accordionToggleIcon = element;
        accordion.toggleClass("open");
        accordionContent.slideToggle(200);
        if (accordion.hasClass("open")) {
            accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
            accordionContent.attr("style", "display: block;")
        } else {
            accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
        }
  }
</script>
{% endblock script_base %}