{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Text Analysis Dashoard" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<style>
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/wow.min.js" %}"></script>
    <script>
      new WOW().init();
    </script>
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
    <!-- <script src="../dist/vue-split-pane.min.js"></script> -->
    <script src="{% static "vue_apps/src/assets/vue-split-pane.min.js" %}"></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "Word Lists by POS" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
  {% verbatim %}
  <div class="container-fluid">
  <div id="app" class='components-container'>
    <template v-if="error===null">
      <template>
        <split-pane v-on:resize="resize" split="horizontal" :default-percent='10'>
          <template slot="paneL">
		    <div>
              <span v-if="obj_type_label"><label>{{ obj_type_label }}</label></span>
              <span v-if="title">: <i>{{ title }}</i></span>
		      <span v-if="id">(id = {{ obj_id }})</span>
		    </div>
            <div v-if="language"><label>language</label> {{ language }}</div>
          </template>
          <template slot="paneR">
            <split-pane v-on:resize="resize" split="vertical" :default-percent='14'>
              <template slot="paneL">
                <h4 style="text-align: center;">Verb lemmas</h4>
                <div v-for="item in verb_frequencies">
                  <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                    {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                </div>
              </template>
              <template slot="paneR">
                <split-pane v-on:resize="resize" split="vertical" :default-percent='17'>
                  <template slot="paneL">
                    <h4 style="text-align: center;">Noun lemmas</h4>
                    <div v-for="item in noun_frequencies">
                      <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                        {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                    </div>
                  </template>
                  <template slot="paneR">
                    <split-pane v-on:resize="resize" split="vertical" :default-percent='20'>
                      <template slot="paneL">
                        <h4 style="text-align: center;">Adjective lemmas</h4>
                        <div v-for="item in adjective_frequencies">
                          <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                            {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                        </div>
                      </template>

                      <template slot="paneR">
                        <split-pane v-on:resize="resize" split="vertical" :default-percent='25'>
                          <template slot="paneL">
                            <h4 style="text-align: center;">Adverbs</h4>
                            <div v-for="item in adverb_frequencies">
                              <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                                {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                            </div>
                          </template>

                          <template slot="paneR">
                            <split-pane v-on:resize="resize" split="vertical" :default-percent='33'>
                              <template slot="paneL">
                                <h4 style="text-align: center;">Proper nouns and OOV tokens</h4>
                                <div v-for="item in propn_frequencies">
                                  <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                                    {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                                </div>
                              </template>
                              <template slot="paneR">
                                <split-pane v-on:resize="resize" split="vertical" :default-percent='49'>
                                  <template slot="paneL">
                                    <h4 style="text-align: center;">Coordinating conjunctions</h4>
                                    <div v-for="item in cconj_frequencies">
                                      <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                                        {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                                    </div>
                                  </template>
                                  <template slot="paneR">
                                    <h4 style="text-align: center;">Subordinating conjunctions</h4>
                                    <div v-for="item in sconj_frequencies">
                                      <div style="margin-inline-start: 5px; margin-inline-end: 5px;"><span v-bind:class="{'a': item.a, 'b': item.b, 'c': item.c}">
                                        {{ item.key }}</span> ({{ item.freq }}) {{ item.level }}</div>
                                    </div>
                                  </template>
                                </split-pane>
                              </template>
                            </split-pane>
                          </template>

                        </split-pane>
                      </template>

                    </split-pane>
                  </template>
                </split-pane>
              </template>
            </split-pane>
          </template>
        </split-pane>
      </template>
    </template>
    <template v-else>
      <h4 style="color: red; text-align: center; margin: 10px;">{{ error }}</h4>
    </template>
  </div>
  </div>
  {% endverbatim %}
{% endblock body_base %}

{% block footer_base %}
{% endblock footer_base %}

{% block script_base %}
  <script>
      var app = new Vue({
        name: 'test',
        data: {
          file_key: '{{ file_key }}',
          obj_type: '{{ obj_type }}',
          obj_id: '{{ obj_id }}',
          obj_type_label: '{{ obj_type_label }}',
          title: '{{ title }}',
          language: '{{ language }}',
          n_tokens: null, n_sentences: null,
          verb_frequencies: null, noun_frequencies: null, adjective_frequencies: null, adverb_frequencies: null, propn_frequencies: null, cconj_frequencies: null, sconj_frequencies: null,
          error: null,
		},
        el: '#app',
        methods: {
          resize() {
            console.log('resize')
          }
        },
        mounted: function () {
          $this = this;
          if (! this['obj_id'])
            this['obj_id'] = 0;
          fetch('/text_wordlists/'{% if file_key %}+this['file_key']+'/'{% endif %}{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
            method: 'GET',
            headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
          })
          .then(response => response.json())
          .then(data => {
             for (var key in data) {
          		this[key] = data[key];
          	 };
           })
          .catch(err => (this['error'] = err))
		},
      });
  </script>
{% endblock script_base %}