private.py
google_analytics.html
*.key
*.pem
.*

#############
## Python
#############
*.py[cod]

# Packages
*.egg
*.egg-info
*Copia.*
*.bak
*.old
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

## Yarn
.yarn/
.pnp.js
node_modules/
.editorconfig
.gitattributes
