{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% block title-page %}{% endblock title-page %} - CommonS Weblog{% endblock title %}

{% block body %}
 {% block breadcrumbs %}{% endblock breadcrumbs %}
 <div class="row">
 	<div class="col-md-9">
      <div id="content" class="hfeed" role="main">

        {% block content %}
        <div class="links">
          <h2>{% trans "Useful links" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Search" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock content %}
      </div>
    </div>
    <div class="col-md-3">
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
  </div>
{% endblock %}      

