{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}CommonS Platform{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h2>{% blocktrans %}Welcome to CommonS{% endblocktrans %}</h2>
            <p>
                {% blocktrans %}
                <b>CommonS</b>[paces] is an international <i>community of practice</i>
                devoted to the improvement of <b>employability</b> skills.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="feature-columns">
                <div>
                    <a href="/admin/auth/group/"><i class="fa fa-wechat fa-3x"></i><br>
                    {% blocktrans %}
                    <b>COPs</b>.
                    <i>Communities of Practice</i>.
                    {% endblocktrans %}</a>
                </div>
                <div>
                    <a href="/mayan"><i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>OERs</b>.
                    a repository of <i>Open Educational Resources</i>.
                    {% endblocktrans %}</a>
                </div>
                <div>
                    <i class="fa fa-road fa-3x"></i><br>
                    {% blocktrans %}
                    <b>LPs</b>.
                    a repertoire of <i>Learning Paths</i>.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">www.commonspaces.eu</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
