{% load scheduletags %}
<div class="table-day table-responsive">
  <table class="table table-striped">
    {% for slot in slots %}
    <tr>
      <td class="slot text-right">
        <span>{{ slot.start|time:"G:i" }}</span>
        {% if addable %}
          {% create_event_url calendar slot.start %}
        {% endif %}
      </td>
      {% for event in day.events %}
      <td class="occ">
        {% for occ in slot.occurrences %}
          {% if occ.event == event %}
            {% if slot.start == occ.start and slot.end ==  occ.end %}
              <button class="btn btn-default" data-toggle="modal" data-target="#{% hash_occurrence occ %}" style="{% if occ.event.color_event %} border-color:{{occ.event.color_event}};{% endif %}">
                {% options occ %}
                {% title occ %}
              </button>
            {% elif slot.start == occ.start %}
              <button class="btn btn-default" data-toggle="modal" data-target="#{% hash_occurrence occ %}" style="{% if occ.event.color_event %} border-color:{{occ.event.color_event}};{% endif %} border-bottom: none; border-bottom-left-radius:0; border-bottom-right-radius:0;">
                {% options occ %}
                {% title occ %}
              </button>
            {% elif slot.end ==  occ.end %}
              <div class="nobtn" style="{% if occ.event.color_event %} border-color:{{occ.event.color_event}};{% endif %} border-top: none; border-top-left-radius:0; border-top-right-radius:0;">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon glyphicon-remove"></span>
                {% title occ %}
              </div>
            {% else %}
              <div class="nobtn" style="{% if occ.event.color_event %} border-color:{{occ.event.color_event}};{% endif %} border-top:none; border-bottom:none; border-radius:0;">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon glyphicon-remove"></span>
                {% title occ %}
              </div>
            {% endif %}
            {% include 'schedule/_detail.html' with occurrence=occ %}
          {% endif %}
        {% endfor %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

