{% load scheduletags %}
{% if day.start.month != month.start.month %}
<td></td>
{% else %}
<td class="verticalTop">
  <div ><a class="{% if day.has_occurrences %} btn btn-primary btn-block{%endif%}" {% if day.has_occurrences %}style="border-bottom: 0; border-bottom-left-radius:0; border-bottom-right-radius:0;"{% endif %} href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
    <strong>{{day.start.day}}</strong>
  </a></div>
  {% if size != "small" %}
    <div class="{% if day.has_occurrences %} btn btn-primary{%endif%}" style="border-top: 0; border-top-left-radius:0; border-top-right-radius:0;">{% include "schedule/_day_cell_big.html" %}</div>
  {% endif %}
</td>
{% endif %}
