{% extends "base.html" %}
{% load scheduletags i18n %}
{% block head_title %}{% trans "Monthly Calendar" %}{% endblock %}
{% block body %}
<div class="marginT20 marginB10 padding5 borderRadius4 bc-white">
{% include "schedule/_dialogs.html" %}
<div class="text-center">
  <h4>{{ calendar.name }}</h4>
  <div class="padding5">{% prevnext "month_calendar" calendar period "F Y"%}</div>
  {% comment %}
  <div class="padding5">
    <span>&bull;</span>
    <a href="{% url "month_calendar" calendar.slug %}">
      {% trans "Current month" %}
    </a>
    <span>&bull;</span>
  </div>
  {% endcomment %}
  <div class="paddingB10">
    {% month_table calendar period "regular" %}
  </div>
  <div>
  <span>&bull;</span>
  <a href="{% url "month_calendar" calendar.slug %}">
      {% trans "Current Month Calendar" %}
   </a>
  <span>&bull;</span>
  <a href="{% url "tri_month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Three Month Calendar" %}
  </a><span class="">&bull;</span>
  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Full Year Calendar" %}
  </a>
  <span>&bull;</span>
  </div>
</div>

{% endblock %}
