{% extends "base.html" %}
{% load scheduletags i18n  static %}
{% block head_title %}{% trans "Weekly Calendar" %}{% endblock %}
{% block body_base %}
<section id="content_body">
<div class="container-fluid">
<div class="marginT20 marginB10 padding5 borderRadius4 bc-white">

{% include "schedule/_dialogs.html" %}

<div class="text-center marginB10">
  <h4>{{ calendar.name }}</h4>
  <div>{% prevnext "week_calendar" calendar period "\W\e\ek W, M Y" %}</div>
</div>

<div class="row">
  {% for day in period.get_days %}
    <div class="col-lg-6 col-md-6">
      <div class="text-center">
        <span>&bull;</span>
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d"}}
        </a>
        <span>&bull;</span>
      </div>
      <div class="table-day">
        {% comment %}
      {% if forloop.first %}

          {% daily_table day %}
          
      {% else %}
      {% endcomment %}
          {% daily_table day %}
      {% comment %}    
      {% endif %}
      {% endcomment %}
    </div>
    </div>
  {% endfor %}
</div>

<div class="text-center">
  <span>&bull;</span>
  <a href="{% url "week_calendar" calendar.slug %}">
     {% trans "This Week Calendar" %}
  </a>
  <span>&bull;</span>
  <a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Monthly Calendar" %}
  </a>
  <span>&bull;</span>

  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Full Year Calendar" %}
  </a>
  <span>&bull;</span>
</div>
</div>
</div>
</section>

{% endblock %}

{% block extra_script %}
 <script type="text/javascript" src="{% static "schedule.js" %}"></script>
{% endblock %}