{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% comment %}{% load url from future %}{% endcomment %}
{% block head_title %}{% trans "Deleted Messages" %}{% endblock head_title %}

{% block content %} 
<h1>{% trans "Deleted Messages" %}</h1>
{% if message_list %} 
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td style="padding: 2px 10px 0 0">{{ message.sender.get_display_name }}</td>
        <td style="padding: 2px 10px 0 0"> 
        {{ message.subject }}
        </td>
        <td style="padding: 2px 10px 0 0">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td style="padding: 2px 10px 0 0"><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p><i>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</i></p>
{% endblock %}