{% extends "django_messages/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "View Message" %}{% endblock head_title %}
{% block content %}
<h3 class="text-center marginT5">{% trans "View Message" %}</h3>
<div class="font13">
<p style="width:70%; display:inline-block"><span class="demiBold">{% trans "Sender" %}:</span> {{ message.sender.get_display_name }}</p>
<p style="width:20%; display:inline-block">
    {% ifequal message.recipient.pk user.pk %}
    <a href="{% url 'messages_reply' message.id %}"><i class="fa fa-reply" aria-hidden="true"></i> {% trans "Reply" %}</a> &nbsp; &nbsp; 
    {% endifequal %}
    <a href="{% url 'messages_delete' message.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans "Delete" %}</a>
</p>
<p style="width:70%; display:inline-block"><span class="demiBold">{% trans "Subject" %}:</span> {{ message.subject }}</p>
<p style="width:20%; display:inline-block"><span class="demiBold">{% trans "Date" %}:</span> {{ message.sent_at|date:_("SHORT_DATETIME_FORMAT")}}</p>
<p class="marginB20"><span class="demiBold">{% trans "Recipient" %}:</span> {{ message.recipient.get_display_name }}</p>
<p class="marginB20">{{ message.body|linebreaksbr }}</p>
</div>
{% endblock %}