{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block head_title %}{% trans "Sent Messages" %}{% endblock head_title %}
{% block content %} 
<h3 class="text-center marginT5">{% trans "Sent Messages" %}</h3>
{% if message_list %} 
<table class="table table-responsive table-stripped"> 
    <thead>
        <tr>
            <th class="demiBold"><i class="fa fa-trash-o" aria-hidden="true"></i></th>
            <th class="demiBold">{% trans "Subject" %}</th>
            <th class="demiBold">{% trans "Recipient" %}</th>
            <th class="demiBold">{% trans "Date" %}</th>
        </tr>
    </thead>
    <tbody>
{% for message in message_list %} 
        <tr class="font13">
            <td><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}" title="{% trans "delete" %}"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
            <td><a href="/my_mail/view/{{ message.id }}/">{{ message.subject }}</a></td>
            <td>{{ message.recipient.get_display_name }}</td>
            <td>{{ message.sent_at|date:_("SHORT_DATETIME_FORMAT") }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
{% endblock %}