ul.tags {
  margin-top: 4px;
  margin-bottom: 0;
  padding: 0;
}

ul.tags li {
  display: inline-block;
/*margin: 0 5px 10px 5px;
  padding: 5px; */
  margin: 0 2px 6px 3px;
  padding: 1px 2px 1px 2px;
  background-color: #fff;
/*border: 1px solid #ff8600; 
  color: #777; */
  border: 1px solid #999999;
  color: #555;
  cursor: pointer;
  font-size: smaller;
}
ul.tags li.selected {
/*background-color: #ff8600; */
  background-color: #999999;
  color: #fff;
}
ul.tags li:hover {
/*background-color: #FF9966; */
  background-color: #999999;
}
