{% load i18n scheduletags %}
{% load commons_tags %}

  {% if day.has_occurrences %}
      {% for o in day.get_occurrence_partials %}
                    {% with occurrence=o.occurrence %}
            <div class="paddingB5 paddingLR5 btn-block text-center">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{% hash_occurrence occurrence %}"style="{% if occurrence.event.color_event %} border-color:{{occurrence.event.color_event}};{% endif %}">
                  <div>
                      {% if o.class == 0 %}{{ occurrence.start|time:"G:i" }}{% endif %}
                      {% if o.class == 1 %}{{ occurrence.start|time:"G:i" }}{% endif %}
                      {% if o.class == 2 %}({% trans "All day" %}){% endif %}
                      {% if o.class == 3 %}{% trans "Ends at" %} {{ occurrence.end|time:"G:i" }}{% endif %}
                  </div>
                  <div>
                      {% title occurrence %}
                  </div>
                </button>
            </div>

              <div class="modal fade " id="{% hash_occurrence occurrence %}" tabindex="-1" role="dialog" aria-labelledby="occurrence_detailsl">
                <div class="modal-dialog" role="document">
                  <div class="modal-content c-demiblack">
                    <div class="modal-header text-center">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ occurrence.title }}</h4>
                    </div>
                    <div class="modal-body  noBold">
                        <table class="table table-striped">
                            <tr>
                                <td class="text-center">{% trans "Starts" %}</td>
                                <td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
                            </tr>
                            <tr>
                                <td class="text-center">{% trans "Ends" %}</td>
                                <td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                            </tr>
                            {% if HAS_FEEDBACK %}
                            {% with user_id=user.id %}{% with event_code=occurrence.event|private_code:user_id %}
                            <tr>
                                <td class="text-center">{% trans "personal event code"|capfirst %}</td>
                                <td><textarea cols="8" style="text-align:center;">{{ event_code }}</textarea></td>
                            </tr>
                            <tr>
                                <td class="text-center">{% trans "event dashboard"|capfirst %}</td>
                                <td><a class="btn btn-default" href="/feedback/dashboard/{{ event_code }}/" target="_{{ event_code }}">{% trans "open"|capfirst %}</a></td>
                            </tr>
                            {% endwith %}{% endwith %}
                            {% endif %}
                            {% if occurrence.event.rule %}
                                {% if not occurrence.id %}
                                    <tr>
                                        <td class="text-center">{% trans "Reoccurs" %}</td><td>{{occurrence.event.rule}}</td>
                                    </tr>
                                    {% if occurrence.event.end_recurring_period %}
                                        <tr>
                                            <td class="text-center">{% trans "Until" %}</td>
                                            <td>{% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </table>
                        {% if occurrence.description %}
                            <h6 class="demiBold">{% trans "Description" %}</h6>
                            <p class="text-left" style="white-space:normal">{{occurrence.description}}</p>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endwith %}
      {% endfor %}
  {% endif %}

