{% extends "base.html" %}
{% load scheduletags i18n %}

{% block head_title %}{% trans "Full Year Calendar" %}{% endblock %}

{% block body_base %}
<section id="content_body">
<div class="container-fluid">
<div class="marginT20 marginB10 padding5 borderRadius4 bc-white">
  <div class="text-center" >
  <h4>{{ calendar.name }} {% include "schedule/_link_project.html" %}</h4>
  <div class="padding5">{% prevnext "year_calendar" calendar period "Y"%}</div>
      {% for month in period.get_months %}
        {% if forloop.counter == 1 or  forloop.counter == 5 or forloop.counter == 9 %}
          <div class="row">
        {% endif %}
        <div class="col-lg-3 col-md-3 col-sm-3 paddingB10">
          <!--div>
            <a class="btn btn-custom" href="{% url "month_calendar" calendar.slug %}{% querystring_for_date month.start 2 %}">{% trans month.name  %}</a>
          </div-->
          <div>
            {% month_table calendar month "small" %}
          </div>
        </div>
        {% if forloop.counter == 4 or  forloop.counter == 8 or forloop.counter == 12 %}
            </div>
        {% endif %}
      {% endfor %}

<div>
  <span>&bull;</span>
  <a href="{% url "month_calendar" calendar.slug %}">
    {% trans "Current Month Calendar" %}
  </a>
  <span>&bull;</span>
  <a href="{% url "year_calendar" calendar.slug %}">
    {% trans "Current Year Calendar" %}
  </a>
  <span>&bull;</span>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
