{% extends "base.html" %}
{% load scheduletags i18n %}
{% block head_title %}{% trans "This month" %}{% endblock %}

{% block body_base %}
<section id="content_body">
<div class="container-fluid">
<div class="marginT20 marginB10 padding5 borderRadius4 bc-white">
  <div class="text-center marginB10">
    <h4>{{ calendar.name }} {% include "schedule/_link_project.html" %}</h4>
    <div>{% prevnext "tri_month_calendar" calendar period "F Y" %}</div>
  </div>
  <div class="text-center marginB10">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 paddingB10">{% month_table calendar period "small" -1 %}</div>
        <div class="col-lg-4 col-md-4 col-sm-4 paddingB10">{% month_table calendar period "small" %}</div>
        <div class="col-lg-4 col-md-4 col-sm-4 paddingB10">{% month_table calendar period "small" +1 %}</div>
    </div>
  </div>
  <div class="text-center">
        <span>&bull;</span>
        <a href="{% url "tri_month_calendar" calendar.slug %}">
            {% trans "Three Month Calendar" %}
        </a>
        <span>&bull;</span>
        <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
            {% trans "Full Year Calendar" %}
        </a>
        <span>&bull;</span>
    </div>
</div>
</div>
</section>
{% endblock %}
