{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Delete event" %}{% endblock %}
{% block body %}
<div class="marginTB30 padding10 borderRadius4 bc-white">
<h3 class="text-center">{% trans "Delete event" %}</h3>
<div class="padding10 text-center">
<p>{% trans "Are you sure that you really want to delete it?" %}</p>

<form action="" method="post">{% csrf_token %}
	<input type="hidden" name="next" value="{{next}}">
    <input type="submit" value="{% trans "Confirm" %}">
    <input type="submit" name="cancel" value="{% trans "Cancel" %}">
</form>

</div>
</div>
{% endblock %}
