/* commons_vue.css */

::-webkit-scrollbar { width: 10px; height: 10px; }
.a, .a1, .a2 { color: green; }
.b, .b1, .b2 { color: orange; }
.c, .c1, .c2 { color: red; }

body.nlp-vue-body {
  font-size: 1.2rem;
  margin: 0;
}

body { /* from bootstrap */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.components-container {
  margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {  /* from bootstrap */
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 3px;
  padding: 3px;
}

h1 { /* from commons */
	font-size: 26px;
}
h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

label { /* from bootstrap */
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

*:before,
*:after { /* from bootstrap */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img { /* from bootstrap */
  border: 0;
}
img { /* from bootstrap */
  vertical-align: middle;
}

.marginTB0 {/* from commons */
	margin-block-start:0;
	margin-block-end:0;
}
.marginT5 {
	margin-block-start:5px;
}
.marginT10 {
	margin-block-start:10px;
}
.marginB5 {
	margin-block-end: 5px;
}
.marginB10 {
	margin-block-end: 10px !important;
}
.marginR10 {
    margin-inline-end: 10px;
}
.padding0 {
	padding: 0;
}
.padding510 {
    padding: 5px 10px;
}
.padding1020 {
	padding:10px 20px;
}

.text-left { /* from bootstrap */
  text-align: start;
}
.text-right {
  text-align: end;
}
.text-center {
  text-align: center;
}

.demiBold { /* from commons */
	font-weight:600;
}
.bold {
	font-weight:700;
}

table {
  background-color: transparent;
}
.table { /* from bootstrap */
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.container { /* from bootstrap */
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  margin-inline-end: auto;
  margin-inline-start: auto;
padding-top: 3px;
padding-bottom: 3px;
}
.nav { /* from bootstrap */
  padding-inline-start: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li { /* from bootstrap */
  /* position: relative; */
  display: block;
}
.navbar { /* from bootstrap */
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar { /* from bootstrap */
	border-radius: 0;
	margin-block-end: 0;
	border: none;
}
.navbar-default {
	padding-block-end:5px;
	background:white;
	box-shadow: inset 0 -10px 10px -10px #999999;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-fixed-top {
  border-width: 0;
}
.navbar-fixed-top {
  border-width: 0;
}
.mynavbar-brand {
    padding:5px 15px 7px 15px;
    height:auto;
}
.mynavbar-brand-xs {
    padding:5px 7px 7px 15px;
    height:auto;
}
.my-navbar-user-auth > li { /* from commons */
  display:inline-block;
  padding-block-start:5px;
}
.my-navbar-user-auth > li { /* from context_dashboard */
  padding-inline-start: 7px !important;
  padding-inline-end: 7px !important;
  color: #ccc !important;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.my-navbar-user-auth >li:first-child { /* from commons */
  /*padding-block-start:0;*/
  font-size:13px;
display: inline;
}
.wrapper { /* from context_dashboard */
  min-height: 0;
  margin:0;
  padding:0 0 10px 0;
}
.pull-right { /* from fix to bootstrap */
    float: right !important;
}
.avatar-small { /* commons */
  width:25px;
  height:auto;
  border-radius:3px;
  margin-block-start:-3px;
}
.container > .navbar-header
 {
  margin-inline-end: -15px;
  margin-inline-start: -15px;
display: inline;
}
.visible-xs {
  display: none !important;
}
@media (max-width: 767px) { /* bootstrap */
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 768px) { /* bootstrap */
  .navbar-fixed-top {
    padding-inline-end: 0;
    padding-inline-start: 0;
  }
}
.navbar-fixed-top { /* bootstrap */
  max-height: 340px;
}
.navbar-fixed-top { /* bootstrap */
  position: fixed;
  width:100%;
  z-index: 1030;
}
@media (min-width: 768px) { /* bootstrap */
.navbar-fixed-top {
    border-radius: 0;
  }
}
.navbar-fixed-top { /* bootstrap */
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-top { /* commons */
  border-width: 0;
}
