{% load socialaccount %}
{% load staticfiles %}
{% load i18n %}

<style>
@font-face {
  src: url('/static/commons/fonts/LeagueMonoVariable.ttf');
  font-family:'LeagueMonoVariable';
  font-style: normal;
  font-stretch: 1% 500%; /* Required by Chrome */
}
</style>

  <div class="navbar navbar-inverse">
    <div class="container">
     <div class="navbar-header pull-left">
       <a class="navbar-brand mynavbar-brand hidden-xs" href="/"><img src="{% static "commons/img/common_logo_white.png" %}" class="img-responsive"></a>
       <a  class="navbar-brand mynavbar-brand-xs visible-xs" href="/"><img src="{% static "commons/img/common_logo_white_short.png" %}" class="img-responsive"></a>
       {% if SITE_ID > 1 %}<div style="display:inline; vertical-align:text-bottom; line-height:48px; color:white; font-family: LeagueMonoVariable,sans-serif; font-stretch: extra-expanded;"><span style="font-family:'Open Sans',sans-serif;">{% trans "for" %}</span> <span style="font-size:x-large; font-weight: normal;">{{ site_name }}</span></div>{% endif %}
     </div>

     {% if user.is_authenticated %}
       <ul class="nav navbar-nav pull-right my-navbar-user-auth">
         <li><a {% if user.is_completed_profile %} href="{% url "user_home" %}" title="{% trans "my home"|capfirst %}" {% else %} href="/user_welcome/" title="{% trans "complete your profile"|capfirst %}" {% endif %}>
           {% if user.profile.avatar %}
             <img src="/media/{{ user.profile.avatar }}" class="avatar-small">
           {% else %}
             <img src="/media/images/avatars/anonymous.png" class="avatar-small">
           {% endif %}{% if not user.is_completed_profile %}<sup class="fa fa-exclamation-triangle" style="border-top-left-radius:10px; background:#222; margin-inline-start:-10px; font-size:13px; color:yellow;" aria-hidden="true"></sup>{% endif %} <span class="hidden-xs"> {{ user.get_display_name }} {{ user.get_completeness }}</span>
         </a></li>
         {% if user.is_completed_profile %}
         <li><a href="/my_mail/" title="{% trans "my messages" %}"><i class="fa fa-envelope" aria-hidden="true"></i>{% if INBOX_COUNT %}<sup class="format" style="margin-inline-start:-3px;">{{ INBOX_COUNT }}</sup>{% endif %}</a></li>
         <li><a href="/dashboard/{{ user.username }}/new_posts/" title="{% trans "new posts"|capfirst %}"><i class="fa fa-comment" aria-hidden="true"></i>{% with unviewed_posts_count=user.unviewed_posts_count %}{% if unviewed_posts_count %}<sup class="format" style="margin-inline-start:-3px;">{{ unviewed_posts_count}}</sup>{% endif %}{% endwith %}</a></li>
         {% if HAS_CALENDAR %}
           <li><a href="/schedule/calendar/month/{{ site_name }}/" title="{% trans "{{ site_name }} calendar" %}"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
         {% endif %}
         {% include "_menu_analytics.html" with data='N' %}
         {% if request.user.is_staff and request.LANGUAGE_CODE == 'en' %}
           <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}" title="{% trans "admin"|capfirst %}"><span class="fa fa-cog" aria-hidden="true"></span></a></li>
         {% endif %}
         {% endif %}
         <li>
           <form method="post" action="{% url 'account_logout' %}" class="form-logout">{% csrf_token %}
             {% if redirect_field_value %}
               <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
             {% endif %}
             <button type="submit" class="btn btn-logout" title="{% trans "Log out" %}"><span class="fa fa-power-off" aria-hidden="true"></span></button>
           </form>
         </li>
       </ul>
     {% else %}
       <!-- Login hidden on mobile -->
       <form class="navbar-form navbar-right mylogin hidden-xs hidden-sm" action="/accounts/login/{% if not "accounts" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}" method="post" name="form-login" id="form-login">{% csrf_token %}
         <div class="form-group">
           <span id="form-login-username">
             <input name="login" id="id_log_login" type="email" size="15" class="form-control" placeholder="{% trans "email address"|capfirst %}">
           </span>
           <span id="form-login-password">
             <input name="password" id="id_log_password" type="password" size="15" class="form-control" placeholder="{% trans "password"|capfirst %}">
           </span>
           <a data-placement="bottom" style="color:#ccc" title="{% trans "Forgot Password?" %}" href="/accounts/password/reset/" class="button secondaryAction">
             <span class="fa fa-question-circle" aria-hidden="true"></span>
           </a>
         </div>
         <label id="form-login-remember">
           <span for="remember">
             {% trans "Remember Me" %}: <input class="checkbox" type="checkbox" name="remember" id="id_log_remember" value="yes">
           </span>
         </label>
         <button type="submit" name="Submit" class="btn btn-sm btn-primary primaryAction">{% trans "Log in" %}</button>
         {% if is_primary_domain %}<a class="btn btn-sm btn-accent" href="/accounts/signup/">{% trans "sign up"|capfirst %}</a>{% endif %}
         <div class="social-login">
           {% if is_primary_domain %}
           <a id="sc_fblogin" href="{% provider_login_url 'facebook' process='login'%}{% if not "accounts" in request.get_full_path %}&next={{request.get_full_path}}{% endif %}">
             <img src="{% static "commons/img/fb_icon.png" %}" alt="{% trans "Login With" %} Facebook" title="{% trans "Login With" %} Facebook"></a>
           <a id="sc_inlogin" href="{% provider_login_url "linkedin_oauth2"%}{% if not "accounts" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
             <img src="{% static "commons/img/in_icon.png" %}" alt="{% trans "Login With" %} Linkedin" title="{% trans "Login With" %} Linkedin "></a>
           {% elif is_secondary_domain or is_test_domain %}
             <a id="sc_up2u" href="/saml2/login/"%}{% if not "saml2" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
               <img src="{% static "commons/img/up2u_icon.png" %}" alt="{% trans "Login With" %} Up2U" title="{% trans "Login With" %} Up2U "></a>
           {% endif %}
         </div>
         <script type="text/javascript">
           $(document).ready(function(event) {
             $("#form-login").submit( function () {
               email = $.trim($("#id_log_login").val());
               pwd = $.trim($("#id_log_password").val());
               if (email != '' && pwd != '') {
                 $("#id_log_login").val(email);
                 $("#id_log_password").val(pwd);
                   return true;
               }
               $("body").css("cursor","default");
               return false;
             })
           })
         </script>
       </form>
       <div class="navbar-form pull-right mylogin-xs visible-xs">
       <!-- MOBILE LOGIN BUTTON -->
         <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-login">
           <i class="fa fa-sign-in" aria-hidden="true"></i>
             {% trans "Log in" %}
         </button>
         {% if is_primary_domain %}<a class="btn btn-sm btn-accent" href="/accounts/signup/">{% trans "sign up"|capfirst %}</a>{% endif %}
       </div>
       <div class="navbar-form pull-right mylogin-xs visible-sm">
       <!-- MOBILE LOGIN SOCIAL LOGIN BUTTON-->
         <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-login">
           <i class="fa fa-sign-in" aria-hidden="true"></i>
           {% trans "Log in" %}
         </button>
         {% if is_primary_domain %}<a class="btn btn-sm btn-accent" href="/accounts/signup/">{% trans "sign up"|capfirst %}</a>{% endif %}
         <div class="social-login">
           {% if is_primary_domain %}
           <a id="sc_fblogin" href="{% provider_login_url 'facebook' process='login'%}{% if not "accounts" in request.get_full_path %}&next={{request.get_full_path}}{% endif %}">
             <img src="{% static "commons/img/fb_icon.png" %}" alt="{% trans "Login With" %} Facebook" title="{% trans "Login With" %} Facebook"></a>
           <a id="sc_inlogin" href="{% provider_login_url "linkedin_oauth2" %}{% if not "accounts" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
             <img src="{% static "commons/img/in_icon.png" %}" alt="{% trans "Login With" %} Linkedin" title="{% trans "Login With" %} Linkedin "></a>
           {% elif is_secondary_domain or is_test_domain %}
             <a id="sc_up2u" href="/saml2/login/{% if not "saml2" in request.get_full_path %}?next={{request.get_full_path}}{% endif %}">
               <img src="{% static "commons/img/up2u_icon.png" %}" alt="{% trans "Login With" %} Up2U" title="{% trans "Login With" %} Up2U "></a>
           {% endif %}
         </div>
       </div>
     {% endif %}
    </div>
  </div>
