{% load staticfiles i18n %}

<style>
  .ui { font-style: italic; }
</style>

<h1>{{ node.get_label }}</h1>

{% if node.oer.description %}
<div><strong>{{ node.oer.description }}</strong></div>
{% endif %}

{% if node.oer.url %}
<div style="margin-top: 1.0em;">
<span class="ui"><strong>{% trans "URL" %}</strong></span><br />
<a href="{{ node.oer.url }}">{{ node.oer.url }}</a>
</div>
{% endif %}

<div style="margin-top: 1.0em;">
(<i>{% trans "cannot convert to PDF"|capfirst %}</i>{% if mimetype %}<i> {% trans "a document of mimetype" %}</i> {{ mimetype }}{% endif %}.{% if node.oer.url %}<br>
<i>{% trans "this node refers to an OER that you can access online through its URL"|capfirst %}</i>.{% endif %})
</div>

