{% extends "commons_print_template.html" %}
{% load staticfiles i18n %}
{% block body %}

<h2>{{ node.get_label }}</h2>

<p class="font15">{{ node.oer.description }}</p>

{% if node.oer.url %}
   <p>{% trans "URL" %}: <a href="{{ node.oer.url }}" target="_blank">{{ node.oer.url }}</a></p>
{% endif %}

<p class="text-note">
	______<br>
{% trans "NOTE" %}<br>
{% if mimetype %}{% trans "cannot convert to PDF a document of mimetype"|capfirst %} <b>{{ mimetype }}</b>.{% endif %}
{% if mimetype and node.oer.url %}<br>{% endif %}
{% if node.oer.url %}{% trans "this node refers to an OER that you can access online through its URL"|capfirst %}.{% endif %}
</p>

{% endblock %}