{% load i18n %}

&copy; 2015 <a href="http://www.commonspaces.eu/" target="_blank">{% trans "the CommonS Consortium" %}</a> -
{% trans "built by"|capfirst %} <a href="http://www.linkroma.it" target="_blank">LINK srl</a>
{% trans "with" %} <a href="https://www.python.org/" target="_blank"><i>Python</i></a> {% trans "and" %} <a href="https://www.djangoproject.com/" target="_blank"><i>Django</i></a>
{% comment %}, <a href="http://www.mayan-edms.com/" target="_blank"><i>Mayan-EDMS</i></a> and <a href="http://pinaxproject.com/" target="_blank"><i>Pinax</i></a>{% endcomment %}
- <a href="/info/privacy/">{% trans "privacy policy"|capfirst %} </a>
