{% load i18n %}

{% trans "&copy; 2015" %} the <a href="http://www.commonspaces.eu/" target="_blank">CommonS {% trans "Consortium" %}</a> -
{% trans "Built by" %} <a href="http://www.linkroma.it" target="_blank">LINK srl</a>
{% trans "with" %} <a href="https://www.python.org/" target="_blank"><i>Python</i></a>, <a href="https://www.djangoproject.com/" target="_blank"><i>Django</i></a>, <a href="http://www.mayan-edms.com/" target="_blank"><i>Mayan-EDMS</i></a> and <a href="http://pinaxproject.com/" target="_blank"><i>Pinax</i></a>
- <a href="/info/privacy/">{% trans "Privacy Policy" %} </a>
