{% load staticfiles i18n %}

<style>
.element.basic.Rect, .element.basic.Circle {
    cursor: pointer;
}
.marker-arrowhead { display: none }
{% if not can_edit %}
.connection-wrap, .marker-vertices { display: none }
.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }
{% endif %}
</style>

<link rel="stylesheet" href="{% static "jointjs/joint.css" %}" />
<link rel="stylesheet" href="{% static "jointjs/autolayout.css" %}" />
<!-- <script src="jquery.js"></script>  -->
<script src="{% static "jointjs/lodash.min.js" %}"></script>
<script src="{% static "jointjs/backbone-min.js" %}"></script>
<script src="{% static "jointjs/graphlib.js" %}"></script>
<script src="{% static "jointjs/dagre.js" %}"></script>
<script src="{% static "jointjs/joint.js" %}"></script>
<script src="{% static "jointjs/joint.layout.DirectedGraph.js" %}"></script>
<script src="{% static "jointjs/autolayout.js"" %}"></script>
<script src="{% static "jointjs/svg-pan-zoom.js"" %}"></script>

<script type="text/javascript">

/*var x_margin = 50;
var max_width = 300;
var half_max_width = max_width/2;
var y_step = 50;*/
var node_height = 40;
//var half_height = node_height/2;
var node_padding = 10; // 20; // 50;
var icon_size = 16;
var node_color = '#CB4F98';
// var edge_color = 'blue';
var edge_color = '#CB4F98';

var dagElement = $('#dag');
var graph = new joint.dia.Graph;
var paper = new joint.dia.Paper({
    el: dagElement,
    width: dagElement.width(),
    height: dagElement.height(),
    model: graph,
    gridSize: 1,
{% if can_edit %}
    // interactive: function(cellView) { return ! cellView.model.isLink(); },
    interactive: true,
{% else %}
	interactive: false,
{% endif %}
	async: false,
    });
{% if can_edit %}
var drop = new joint.shapes.basic.Circle({
    size: { width: icon_size, height: icon_size },
    attrs: { circle: { stroke: 'red', fill: 'white' }, text: { text: '\u2a2f', fill: 'red', 'font-size': '14', 'font-family': 'Open Sans, sans-serif', 'font-weight': 'bold', 'text-anchor':'middle', 'y':'13'} }
});

/*
var add = new joint.shapes.basic.Rect({
    size: { width: icon_size, height: icon_size },
    attrs: { rect: { fill: 'green' }, text: { text: '+', fill: 'white', 'font-family': 'Open Sans, sans-serif', 'font-size': 11, 'text-anchor':'middle', } }
});
*/
{% endif %}

var json_in = '{{ lp.make_json|safe }}';
graph.fromJSON(JSON.parse(json_in));


function label_width(label) {
	width = 0;
	for (i = 0; i < label.length; ++i) {
	    if (label[i] === label[i].toUpperCase())
	    	width += 6;
	    else
	    	width += 5;
	}
	return width;
}
graph.getElements().forEach(function(node, index, array) {
	fill_color = node_color;
	text_color = 'white';
{% if 'play' in request.path %}
	if (index == 0{{ i_node }}) {
		fill_color = 'white';
		text_color = node_color;
	}
{% endif %}
	node.attr({ rect: { fill: fill_color, stroke: node_color, rx: 3, ry: 3 }});
	node.set('index', index)
    // label = (1+index).toString() + '.\n' + node.attr('text').text;
    label = (1+index).toString() + '.   ' + node.attr('nodetype') + '\n' + node.attr('text').text;
    node.attr({ text: { text: label, fill: text_color, 'font-family': 'Open Sans, sans-serif', 'font-size': 11, 'text-anchor':'middle', }});
    console.log(index, label);
    width = label_width(label) + node_padding * 2;
    node.resize(width, node_height);
})
graph.getLinks().forEach(function(link, index) {
	link.set('connector', { name: 'smooth' });
	link.attr({
 	    '.connection': { stroke: edge_color },
 	    '.marker-target': { fill: 'white', stroke: '#CB4F98', d: 'M 8 0 L 0 4 L 8 8 z' }
 	});
    label = link.id.toString();
})

graph.resetCells(graph.getCells());

layout_options = {
		setLinkVertices: false,
		rankSep: 50,
		nodeSep: 20, // 50,
	    edgeSep: 50, // 80,
	    rankDir: "{% if 'play' in request.path %}TB{% else %}LR{% endif %}",
	    marginX: icon_size,
	    marginY: icon_size
}
function make_layout() {
	joint.layout.DirectedGraph.layout(graph, layout_options);
}
make_layout();
paper.fitToContent();

/*
element.on('change:position', function() {
	alert('element moved');
});
*/

paper.on('cell:pointerclick', function (cellView, evt, x, y) {
	on_cell_clicked(cellView, x, y);
});
{% if can_edit %}
    paper.on('cell:pointerup', function (cellView, evt, x, y) {
    	on_cell_dragged(cellView, x, y);
    });
    paper.on('tool:remove', function(evt, linkView) {
        console.log("Removing link" + linkView.model.id);
        // linkView.model.remove();
    });
    graph.on('remove', function(cell, collection, opt) {
   	   if (cell.isLink()) {
		  	// console.log("A link was removed" + linkView.model.id); // a link was removed  (cell.id contains the ID of the removed link)
			var msg = 'Do you really want to remove this edge?';
			if (window.confirm(msg)) {
			   	id = cell.id.split('-')[1];
				document.location.href = '/pathedge/{0}/delete/'.format(id);
	  			console.log("A link was removed: " + cell.id); // a link was removed  (cell.id contains the ID of the removed link)
			}
		}
   	})
{% endif %}

//First, checks if it isn't implemented yet.
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) { 
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}
function on_node_moved(element) {
	position = element.get('position');
}
function on_cell_clicked(cellView, x, y) {
	console.log('cell clicked');
	var cell = cellView.model;
	var parent_id = cell.get('parent');
	var id;
	if (parent_id) {
	   	console.log(parent_id);
		var node = graph.getCell(parent_id);
		var label = node.attr('text').text;
	   	id = node.id.split('-')[1];
	   	action = cell.get('action');
	   	console.log('action: ', action);
	   	if (action == 'delete') {
			var msg = 'Do you really want to remove this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/delete/'.format(id);
		}
	   	/*
		else if (action == 'add_before') {
			var msg = 'Add a node before this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/add_before/'.format(id);
		} else if (action == 'add_after') {
			var msg = 'Add a node after this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/add_after/'.format(id);
		}
	   	*/
	} else if (! cell.isLink()) {
		console.log('node clicked');
	   	id = cell.id.split('-')[1];
{% if 'play' in request.path %}
		document.location.href = '{{ request.path }}?node={0}'.format(cell.get('index'));
{% else %}
		// document.location.href = '/pathnode/{0}/'.format(id);
		$.ajax({
			url: "/pathnode/"+id+"/",
			success: function(json){
				if (json.data == 'OK') {
				   $('#iframeNode').attr('src','/pathnode/'+json.node+'/');
				   $('#showNode').css('display','block');
				}
			}
		});
{% endif %}
	}
}

function on_edge_dragged(cellView, x, y) {
	this_cell = cellView.model;
	this_cell_id = this_cell.id;
	source_id = this_cell.get('source').id;
	edges = graph.getLinks()
	edges.forEach(function(edge) {
		link_view = edge.findView(paper);
		link_bbox = link_view.getBBox();
		if (edge.id!= this_cell_id && x>link_bbox.x && x<link_bbox.x+link_bbox.width && y>link_bbox.y && y<link_bbox.y+link_bbox.height) {
			if (edge.get('source').id == source_id)
				document.location.href = '/pathedge/{0}/move_after/{1}/'.format(this_cell_id.split('-')[1], edge.id.split('-')[1]);
		}
	})
    // this_cell.set('position', this_cell.previous('position'));
	// document.location.reload();
}		

function on_node_dragged(cellView, x, y) {
	this_cell = cellView.model;

	// Find the first element below that is not a link nor the dragged element itself.
	    var elementBelow = graph.get('cells').find(function(cell) {
	        if (cell instanceof joint.dia.Link) return false; // Not interested in links.
	        if (cell.id === cellView.model.id) return false; // The same element as the dropped one.
	        if (cell.getBBox().containsPoint(g.point(x, y))) {
	            return true;
	        }
	        this_cell.set('position', this_cell.previous('position'));
	        return false;
	    });
	    
	    // If the two elements are connected already, don't
	    // connect them again (this is application specific though).
	    if (elementBelow && !_.contains(graph.getNeighbors(elementBelow), cellView.model)) {

	    	target_id = cellView.model.id;
	    	source_id = elementBelow.id;
	        graph.addCell(new joint.dia.Link({
	            source: { id: source_id }, target: { id: target_id },
	            attrs: { '.marker-source': {fill: '#CB4F98', stroke: '#CB4F98', d: 'M 10 0 L 0 5 L 10 10 z' } }
	        }));
	        // Move the element a bit to the side.
	        cellView.model.translate(+200, 0);
	        paper.fitToContent();
	        // make_layout();
			document.location.href = '/pathnode/{0}/link_after/{1}/'.format(target_id.split('-')[1], source_id.split('-')[1]);
	    }
}		

function on_cell_dragged(cellView, x, y) {
	this_cell = cellView.model;
	if (this_cell.get('parent'))
		return;
	if (this_cell.isLink())
		on_edge_dragged(cellView, x, y);
	else
		on_node_dragged(cellView, x, y);
}

/*
graph.on('change:position', function(cell) {
    var parentId = cell.get('parent');
    if (!parentId) return;
    // Revert the child position.
    cell.set('position', cell.previous('position'));
});
*/

{% if can_edit %}
function add_tools(graph) {
	graph.getElements().forEach(function(node, index) {
	    label = node.attr('text').text;
	    // width = label.length * 5 + node_padding * 2;
	    width = label_width(label) + node_padding * 2;
    
	    drop_cell = drop.clone();
	    drop_cell.set('action', 'delete')
	    node.embed(drop_cell);
	    graph.addCell(drop_cell);
	    // drop_cell.position(width-icon_size/2, -icon_size/2, { parentRelative: true});
	    drop_cell.position(width-icon_size*0.4, -icon_size*0.4, { parentRelative: true});
		/*
	    add_before = add.clone();
	    add_before.set('action', 'add_before')
	    node.embed(add_before);
	    graph.addCell(add_before);
	    add_before.position(0, 0, { parentRelative: true});
	 
	    add_after = add.clone();
	    add_after.set('action', 'add_after')
	    node.embed(add_after);
	    graph.addCell(add_after);
	    add_after.position(width-icon_size, node_height-icon_size, { parentRelative: true});
	    */
	})
}
add_tools(graph);
{% endif %}
paper.fitToContent();
// $('body').bind("mousewheel", function() { return false; });

// see http://stackoverflow.com/questions/28431384/how-to-make-a-paper-draggable
svgElement = dagElement.children()[0];
gElement = svgElement.childNodes[0]

// panAndZoom = svgPanZoom(dagElement.childNodes[0], 
panAndZoom = svgPanZoom(svgElement, 
	    {
	        // viewportSelector: dagElement.childNodes[0].childNodes[0],
	        viewportSelector: gElement,
	        fit: false,
	        zoomScaleSensitivity: 0.001, //0.4,
	        panEnabled: false,
	        mouseWheelZoomEnabled: false, // true,
	        fit: false, // true,
	        contain: true, // false,
	        minZoom: 0.3,
	        maxZoom: 1.0,
	        onZoom: null, // on_zoom,
	    });

function on_zoom(relative_zoom) {
	if (relative_zoom < 1)
		panAndZoom.fit();
}

{% if not can_edit %}
paper.on('blank:pointerdown', function (evt, x, y) {
	panAndZoom.enablePan();
	dagElement.css('cursor', 'move');
});
paper.on('cell:pointerup blank:pointerup', function(cellView, event) {
    panAndZoom.disablePan();
    dagElement.css('cursor', 'default');
});
{% endif %}
</script>
