 {% comment %} items LP {% endcomment %}

 {% load i18n %}

<article class="view-card">
	<p class="title-card">{% if lp.state != 3 %}<small style="color: {{lp.get_link_color }};">[{{ lp.get_state }}]</small> {% endif %}<a href="/lp/{{ lp.slug }}/">{{ lp.title }}</a></p>

	{% if lp.short|length > 140 %}
	<div>
		<p style="display:inline-block" class="text-card short-description"><i>{{ lp.short|truncatechars:140 }}</i> <a href="#" class="expand-description"><span class="fa fa-plus-circle"></span></a></p>
		<p style="display:none" class="text-card full-description"><i>{{ lp.short }}</i> <a href="#" class="restrict-description"><span class="fa fa-minus-circle"></span></a></p>
	</div>
	{% else %}
		<p style="display:inline-block" class="text-card full-description"><i>{{ lp.short }}</i></p>
	{% endif %}
	{% if lp.subjects.all %}
		{% include "_data_all.html" with data=lp.subjects.all data_class="" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
	{% endif %}
	{% if lp.tags.all %}
		{% include "_data_all.html" with data=lp.tags.all data_class="" label_data="tags" action="/lps/search/" type_data="tags" %}
	{% endif %}
</article>