<ul class="nodes-unlisted {% if pathnode.oer or child.oer %} node-oer {% elif pathnode.document or child.document %} node-doc {% else %} node-text {% endif %}">
<li class="font{{ font }}">
    {% if pathnode == current_node %} 
      <div>{{ pathnode.label }}</div>
    {% else %}
      <a href="/lp/{{ lp.slug }}/play/?node={{ pathnode.get_index }}" title="path node">{{ pathnode.label }}</a>
    {% endif %}
</li>
</ul>
    {% if pathnode.has_children %}
      <div class="paddingL20">
        {% for child in pathnode.get_ordered_children %}
             {% with pathnode=child font=font|add:"-1" depth=depth|add:"1" %}
                  {% include "_lp_subtree.html" %}
             {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

