{% load staticfiles i18n %}
{% load comments zinnia %}

{% block entry-comments %}
{% if view_comments %}
<div class="box_comments">
<dl>
  {% get_comment_count for object as comment_count %}
  {% if can_toggle_comments %}
     <dt class="bb-{{ data_class }}"><span class="panel-heading-{{ data_class }} borderColor-{{ data_class }}" style="border-top-right-radius:0">{% if comment_count %}{{ comment_count }} {% endif %}{% trans "Comments" %}</span><a href="/{{type_obj}}/{{ data_obj.id }}/toggle_comments/" class="like-button-neutral" title="">{% if data_obj.comment_enabled %}{% trans "disable" %}{% else %}{% trans "enable" %}{% endif %}</a></dt>
  {% else %} 
  <dt class="bb-{{ data_class }}"><span class="panel-heading-{{ data_class }}">{% if comment_count %}{{ comment_count }} {% endif %}{% trans "Comments" %}</span></dt>
  {% endif %}

  {% if comment_count %}
    {% with comment_list=object.comments %}
    {% block comments-loop %}
      {% for comment in comment_list %}
        <dd id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
            class="comment vcard {% cycle box1,box2 %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">
          {% block comment-info %}
            <p class="comment-info">
              {% block comment-image %}
                <img {% if comment.user.get_profile.avatar %} src="/media/{{ comment.user.get_profile.avatar }}" {% else %} src="/media/images/avatars/anonymous.png" {%endif%} class="avatar-small"> 
              {% endblock comment-image %}
              {% if comment.url %}
                <a href="{{ comment.url }}" rel="external nofollow" class="fn url">{{ comment.name }}</a>
              {% elif comment.user %}
                <a href="/profile/{{ comment.user.username }}/">{{ comment.user.get_display_name }}</a>
              {% else %}
                {{ comment.name }}
              {% endif %}
              <small>{% trans "on" context "on date" %}
              <time class="comment-published" datetime="{{ comment.submit_date|date:"c" }}">
              {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
              </time></small>
{% comment %}
<a href="#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
id="c{{ comment.pk }}" class="anchor-link"
title="{% trans "Direct link to this comment" %}">#</a>
{% endcomment %}
            </p>
          {% endblock comment-info %}
          {% block comment-content %}
            <blockquote>{{ comment.comment|linebreaks }}</blockquote>
          {% endblock comment-content %}
        </dd>
      {% endfor %}
    {% endblock comments-loop %}
    {% endwith %}
    {% if not object.comments_are_open %}
       <dd><p>{% trans "Comments are closed." %}</p></dd>
    {% endif %}
  {% else %}
    {% if object.comments_are_open %}
      <dd><p>{% trans "No comments yet." %}</p></dd>
    {% else %}
      <dd><p>{% trans "Comments are closed." %}</p></dd>
    {% endif %}
  {% endif %}

  {% block entry-comments-form %}
   {% if is_published and object.comments_are_open %}
     {% if can_comment %}
       {% get_comment_form for object as form %}
       <dd><form action="{% comment_form_target %}" method="POST">{% csrf_token %}
         {{ form.comment }}
         {# comment {{ form.honeypot }} #}
         {{ form.content_type }}
         {{ form.object_pk }}
         {{ form.timestamp }}
         {{ form.security_hash }}
         <input type="hidden" name="next" value="{{ object.get_absolute_url }}">
         <div class="marginT5"><button type="submit" value="id_submit" id="id_submit" class="btn btn-default">{% trans "Add comment" %}</button></div>
       </form></dd>
     {% elif user.is_authenticated and not user_is_completed_profile %}
       <dd><p>{% trans "please"|capfirst %} <a href="/user_welcome/">{% trans "complete profile" %}</a> {% trans "to leave a comment" %}.</p></dl>
     {% else %}
       <dd><p>{% trans "please"|capfirst %} <a href="{% url 'account_login'%}?next={{request.path}}">{% trans "log in" %}</a> {% trans "to leave a comment" %}.</p></dl>
     {% endif %}
   {% endif %}
  {% endblock entry-comments-form %}
</dl>
</div>
{% endif %}
{% endblock entry-comments %}