 {% comment %} items OER {% endcomment %}

 {% load i18n %}

<article class="view-card">
	<p class="title-card"><a href="/oer/{{ oer.slug }}/" style="color: {{ oer.get_link_color }};">{{ oer.title }}</a></p>
	<p class="text-card">Rating &nbsp;
		{% with stars=oer.get_stars %}
       {% include "_view_rating.html" %}
		{% endwith %} 	    
	</p>
	
	{% if oer.description|length > 140 %}
	<div>
		<p style="display:inline-block" class="text-card short-description"><i>{{ oer.description|truncatechars:140 }}</i> <a href="#" class="expand-description"><span class="fa fa-plus-circle"></span></a></p>
		<p style="display:none" class="text-card full-description"><i>{{ oer.description }}</i> <a href="#" class="restrict-description"><span class="fa fa-minus-circle"></span></a></p>
	</div>
	{% else %}
		<p style="display:inline-block" class="text-card full-description"><i>{{ oer.description }}</i></p>
	{% endif %}
	
	{% if oer.subjects.all %}
	    <dl class="list-inline">
	      <dt>{% trans "subject areas"|capfirst %}</dt>
	        {% for subject in oer.subjects.all %}
	            <dd><form action="/oers/search/" method="post" id="oers_{{ subject.id }}">{% csrf_token %}<input type="hidden" name="subjects" value="{{ subject.id }}"><input type="submit" class="btn-link" value="{{ subject.option_label|safe }}"></form></dd>
	        {% endfor %}
	    </dl>
	{% endif %}
	 {% if oer.tags.all %}
	    <dl class="list-inline">
    		<dt>{% trans "tags"|capfirst %}</dt>
		    {% for tag in oer.tags.all %}
	        	<dd><form action="/oers/search/" method="post" id="oers_{{ tag.id }}">{% csrf_token %}<input type="hidden" name="tags" value="{{ tag.id }}"><input type="submit" class="btn-link" value="{{ tag.name }}"></form></dd>
		    {% endfor %}
		</dl>
	{% endif %}
	{% if oer.material %}
	    <dl class="list-inline">
	        <dt>{% trans "type of material"|capfirst %}</dt>
  	        <dd><form action="/oers/search/" method="post" id="material">{% csrf_token %}<input type="hidden" name="material" value="{{ oer.material.id }}"><input type="submit" class="btn-link" value="{{ oer.material.name }}"></form></dd>
  	    </dl>
    {% endif %}
    {% if oer.license %}
        <dl class="list-inline">
            <dt>{% trans "terms of use"|capfirst %}</dt>
            <dd><form action="/oers/search/" method="post" id="license">{% csrf_token %}<input type="hidden" name="license" value="{{ oer.license.id }}"> <input type="submit" class="btn-link" value="{{ oer.license.name }}"></form></dd>
        </dl>
  	{% endif %}
</article>