 {% comment %} items REPO {% endcomment %}

 {% load i18n %}

<article class="view-card">
	<p class="title-card">{% if repo.state != 3 %}<small style="color: {{ repo.get_link_color }};">[{{ repo.get_state }}]</small> {% endif %}<a href="/repo/{{ repo.slug }}/">{{ repo.name }}</a></p>
	{% if repo.description|length > 140 %}
	<div>
		<p style="display:inline-block" class="text-card short-description"><i>{{ repo.description|truncatechars:140 }}</i> <a href="#" class="expand-description"><span class="fa fa-plus-circle"></span></a></p>
		<p style="display:none" class="text-card full-description"><i>{{ repo.description }}</i> <a href="#" class="restrict-description"><span class="fa fa-minus-circle"></span></a></p>
	</div>
	{% else %}
		<p style="display:inline-block" class="text-card full-description"><i>{{ repo.description }}</i></p>
	{% endif %}
	{% if repo.subjects.all %}
    {% include "_data_all.html" with data=repo.subjects.all data_class="" label_data="subject areas" action="/repos/search/" type_data="subjects" %}
	{% endif %}
</article>