 {% comment %} fields search form {% endcomment %}

{% load staticfiles i18n %}

 {% csrf_token %}
 <div class="form-group">
   <label>{% trans "search criteria"|capfirst %}</label>
   <div class="font12"><input type="submit" value="{% trans "Apply" %}" name="invia0"> 
      <input type="reset" value="{% trans "Reset" %}" name="clear">
   </div>
 </div>
 <fieldset class="borderTBdotted">
   {% if user.is_full_member %}
     <div class="form-group">
       <div class="font12"><input id="id_include_all" type="checkbox" name="include_all" value="checked" {% if include_all %}checked{% endif %}> {% trans "include non published items" %}</div>
     </div>
   {% else %}
     <input type="hidden" name="include_all" value="">
   {% endif %}
   {% for field in form.visible_fields %}
     <div class="form-group">
       <label for="{{ field.id_for_label }}" class="font13 marginB0">{%if field.level %}{{ field.level }}{% endif %}<a href="#" class="toggleIcon"><i class="fa fa-plus-square-o"></i></a>{{ field.label|capfirst }}{% if field.help_text %} <i class="infoIcon fa fa-info-circle" aria-hidden="true" data-original-title="{{ field.help_text }}" data-toggle="tooltip"></i>{% endif %}</label>
       <div class="field-content font12 paddingL20" style="display:none">{{ field }}</div>
     </div>
   {% endfor %}
 </fieldset>
 <div class="form-group">
   <div class="font12"><input type="submit" value="{% trans "Apply" %}" name="invia1"> 
     <input type="reset" value="{% trans "Reset" %}" name="clear">
   </div>
 </div>