{% comment %} search form js {% endcomment %}
{% load staticfiles i18n %}

<script type="text/javascript" src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
{{ block.super }}
<script type="text/javascript">
	function selected_field (id_args) {
		for (var a=0; a < id_args.length; a++) {

			var selectElement = 'select#'+id_args[a];
			if ($('#search_form '+selectElement)) {
				var selected=$('#search_form').find(selectElement).val();
				if (selected) {
					var go = true;
					for (var i=0; i < selected.length; i++){
						if (selected[i] != '0') {
							$('#search_form '+ selectElement+' option[value="'+selected[i]+'"]').prop('selected', true);
						}
						else {
							go = false;
							break;
						}
					}
					if (go) {
					var content = $('#search_form '+selectElement).parent();
					var accordion = $(content).prev();
					var accordionToggleIcon= $(accordion).children('a.toggleIcon');
					accordion.toggleClass("open");
					$(content).removeAttr('style');
					accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
				}
				}
			}
		}
	}
	
$(document).ready(function (){

if ($('#search_form input[type=text]').val != '') {
	var content = $('#search_form input[type=text]').parent();
	var accordion = $(content).prev();
	var accordionToggleIcon= $(accordion).children('a.toggleIcon');
	accordion.toggleClass("open");
	$(content).removeAttr('style');
	accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
}

{% if search == 'search_projects' %}
	selected_field (['id_n_members','id_n_lps','id_n_oers']);
{% elif search == 'search_lps' %}
	selected_field (['id_tags']);
{% elif search == 'search_oers' %}
	selected_field (['id_material','id_tags']);
{% elif search == 'search_peoples' %}
	selected_field (['id_pro_status','id_edu_field','id_pro_field']);
{% endif %}

	var checkbox = $('#search_form').find('input:checkbox');
	for (var i=0; i < checkbox.length; i++) {
		if($(checkbox[i]).attr('checked')) {
			var content = $(checkbox[i]).parent().parent().parent().parent();
			var accordion = $(content).prev();
			var accordionToggleIcon= $(accordion).children('a.toggleIcon');
			accordion.toggleClass("open");
			$(content).removeAttr('style');
			accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
		}
	}

	$('[data-toggle="tooltip"]').tooltip(); 
    
	// pagination
	$.endlessPaginate({
		paginateOnScroll: true,
		//paginateOnScrollMargin: 20
		paginateOnScrollChunkSize: 5
	});
	
	$( "input:reset" ).click(function( event ) {
		event.preventDefault();
			$('#search_form').find('input:text,select').val('');
			$('#search_form').find('input:checkbox').prop('checked', false);
			$("#search_form").submit();
	});
	
	$('label a.toggleIcon').on('click', function(event){
		event.preventDefault();
		var accordion = $(this).parent();
		var accordionContent = accordion.next('.field-content');
		var accordionToggleIcon = $(this);
		accordion.toggleClass("open");
		accordionContent.slideToggle(250);
		if (accordion.hasClass("open")) {
			accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
		} else {
			accordionToggleIcon.children('i').attr("class","fa fa-plus-square-o");
		}
	});

});
</script>