 {% comment %} fields search form {% endcomment %}

{% load staticfiles i18n %}

 {% csrf_token %}
 <div class="form-group">
   <label>{% trans "search criteria"|capfirst %}</label>
   <div class="font12"><input type="submit" value="{% trans "Apply" %}" name="invia0"> 
      <input type="reset" value="{% trans "Reset" %}" name="clear">
   </div>
 </div>
 <fieldset class="borderTBdotted">
   {% if not include_all == None %}
     {% if user.is_full_member %}
        <div class="form-group">
          <div class="font12"><input type="checkbox" name="include_all" value="checked" {% if include_all %}checked{% endif %}> {% trans "include non published items" %}</div>
        </div>
     {% else %}
        <input type="hidden" name="include_all" value="">
     {% endif %}
   {% endif %}
   {% for field in form.visible_fields %}
     <div class="form-group">
       <label for="{{ field.id_for_label }}" class="font13 marginB0">{%if field.level %}{{ field.level }}{% endif %}<a href="#" class="toggleIcon"><i class="fa fa-plus-square-o"></i></a>{{ field.label|capfirst }}{% if field.help_text %} <i class="infoIcon fa fa-info-circle" aria-hidden="true" data-original-title="{{ field.help_text }}" data-toggle="tooltip"></i>{% endif %}</label>
       <div class="field-content font12 paddingL20" style="display:none">{{ field }}</div>
     </div>
   {% endfor %}
   {% if other_fields %}
     <div class="form-group">
       <label for="n_oers" class="font13 marginB0"><a href="#" class="toggleIcon"><i class="fa fa-plus-square-o"></i></a>OER catalogati</label>
       <div class="field-content font12 paddingL20" style="display:none"><ul id="n_oers">
         <li><label for="n_oers_0"><input id="n_oers_0" name="n_oers" type="checkbox" value="1"> &lt;= 50</label></li>
         <li><label for="n_oers_1"><input id="n_oers_1" name="n_oers" type="checkbox" value="2"> &gt; 50 e &lt;= 100</label></li>
         <li><label for="n_oers_2"><input id="n_oers_2" name="n_oers" type="checkbox" value="3"> &gt; 100</label></li>
         </ul>
       </div>
     </div>
     <div class="form-group">
       <label for="n_lps" class="font13 marginB0"><a href="#" class="toggleIcon"><i class="fa fa-plus-square-o"></i></a>LP creati</label>
       <div class="field-content font12 paddingL20" style="display:none"><ul id="n_lps">
         <li><label for="n_lps_0"><input id="n_lps_0" name="n_lps" type="checkbox" value="1"> &lt;= 50</label></li>
         <li><label for="n_lps_1"><input id="n_lps_1" name="n_lps" type="checkbox" value="2"> &gt; 50 e &lt;= 100</label></li>
         <li><label for="n_lps_2"><input id="n_lps_2" name="n_lps" type="checkbox" value="3"> &gt; 100</label></li>
         </ul>
       </div>
     </div>
     <div class="form-group">
       <label for="n_members" class="font13 marginB0"><a href="#" class="toggleIcon"><i class="fa fa-plus-square-o"></i></a>Membri</label>
       <div class="field-content font12 paddingL20" style="display:none"><ul id="n_lps">
         <li><label for="n-members_0"><input id="n_members_0" name="n_members" type="checkbox" value="1"> &lt;= 50</label></li>
         <li><label for="n_members_1"><input id="n_members_1" name="n_members" type="checkbox" value="2"> &gt; 50 e &lt;= 100</label></li>
         <li><label for="n_members_2"><input id="n_members_2" name="n_members" type="checkbox" value="3"> &gt; 100</label></li>
         </ul>
       </div>
     </div>
   {% endif %}
 </fieldset>
 <div class="form-group">
   <div class="font12"><input type="submit" value="{% trans "Apply" %}" name="invia1"> 
     <input type="reset" value="{% trans "Reset" %}" name="clear">
   </div>
 </div>