<script type="text/javascript">
$(document).ready(function (){
	$('.expand-description').on('click', function(event){
		event.preventDefault();
		var parent=$(this).parent().parent();
		parent.children("p:first").css( "display", "none" );
		parent.children("p:last").css( "display", "inline-block");
	});
	$('.restrict-description').on('click', function(event){
		event.preventDefault();
		var parent=$(this).parent().parent();
		parent.children("p:first").css( "display", "inline-block");
		parent.children("p:last").css( "display", "none");
	});
});
</script>