{% load i18n staticfiles %}
{% if selected_mentor %}
<div class="panel-white">
           <h4 class="panel-heading-c0 padding510 margin0">{% trans "selected mentor"|capfirst %}</h4>
           <div class="padding10 clearfix">
             <div class="pull-left" style="width:110px">
             {% if selected_mentor.avatar %}
               <img src="/media/{{  selected_mentor.avatar }}" class="img-responsive">
             {% else %}
               <img src="/media/images/avatars/anonymous.png" class="img-responsive">
             {% endif %}
             </div>
             <div class="pull-left" style="width:80%">
             <div>{{ selected_mentor.get_display_name }}</div>
             <div>{%if selected_mentor.position %}{{selected_mentor.position|safe}}{% else %}{{ selected_mentor.short}}{% endif %}</div>
             </div>
           </div>
           <div class="c-fern padding510 font13 demiBold">{% trans "the request has been sent to the mentor on"|capfirst %} {{ requested_mentor.created|date:"d/m/Y" }}</div>
</div>
{% else %}
{% if is_mentee and is_submitted and parent_mentoring_model_A %}
<div class="panel-white">
           <h4 class="panel-heading-c0 padding510 margin0">{% trans "selected mentor"|capfirst %}</h4>
           <div class="padding10">{% trans "the community administrator hasn't chosen a mentor yet"|capfirst %}.</div>
</div>
{% endif %}
{% endif %}