{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "recently active users"|capfirst %}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="marginT30">
            {% if function == 'active_comembers' %}{% blocktrans %}Recently active users <small>being members of projects shared with me</small>{% endblocktrans %}
            {% else %}
            {% trans "recently active users"|capfirst %}
            {% endif %}
            </h1>
       	{% if onliners %}
        <h3 class="marginT30 marginB0">{% trans "users online"|capfirst %}</h3>
        <p>({% trans "active during last 5 minutes" %})</p>
		<table class="table table-responsive table-bordered table-striped">
			<thead>
				<tr><th>{% trans "user" %}</th><th class="text-center">{% trans "last active" %}</th></tr>
			</thead>
			<tbody>
        	{% for item in onliners %}
				<tr>
					<td>{{ item.user.get_display_name }}</td>
					<td class="text-center">{{ item.time_delta }} {% trans "seconds ago" %}</td>
				</tr>
        	{% endfor %}
		    </tbody>
		</table>
       	{% endif %}

       	{% if others %}
        <h3 class="marginT30">{% trans "users no more online"|capfirst %}</h3>
		<table class="table table-responsive table-bordered table-striped">
			<thead>
				<tr><th>{% trans "user" %}</th><th class="text-center">{% trans "last seen" %}</th></tr>
			</thead>
			<tbody>
        	{% for item in others %}
				<tr>
					<td>{{ item.user.get_display_name }}</td>
					<td class="text-center">{{ item.last_seen }}</td>
				</tr>
        	{% endfor %}
		    </tbody>
		</table>
       	{% endif %}

        </div>
    </section>
{% endblock %}
