{% extends "commons_base.html" %}

{% load i18n %}

{% block extra_head %}
<style>
</style>
{% endblock %}

{% block head_title %}{% trans "recent users"|capfirst %}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="marginT30">
            {% trans "recent users"|capfirst %}
            {% if function = 'active_comembers' %}{% trans "among members of common projects" %}{% endif %}
            </h1>

{% comment %}
		<table>
		   <tr><th>{% trans "last seen"|capfirst %}</th><td>{% if user.last_seen %} {{ user.last_seen|timesince }} {% trans "ago"|capfirst %}{% else %}{% trans "awhile ago"|capfirst %}{% endif %}</td></tr>
		   <tr><th>{% trans "online"|capfirst %}</th><td>{{ user.online }}</td></tr>
		 </table>
{% endcomment %}

       	{% if onliners %}
        <h3 class="marginT30">{% trans "online users"|capfirst %}</h3>
		<table class="table-responsive table-bordered table-striped">
			<thead>
				<tr><th>{% trans "user" %}</th><th>{% trans "seconds ago" %}</th></tr>
			</thead>
			<tbody>
        	{% for item in onliners %}
				<tr>
					<td>{{ item.user.get_display_name }}</td>
					<td style="text-align: center;">{{ item.time_delta }}</td>
				</tr>
        	{% endfor %}
		    </tbody>
		</table>
       	{% endif %}

       	{% if others %}
        <h3 class="marginT30">{% trans "other users"|capfirst %}</h3>
		<table class="table table-responsive table-bordered table-striped">
			<thead>
				<tr><th>{% trans "user" %}</th><th>{% trans "days ago" %}</th><th>{% trans "last seen" %}</th></tr>
			</thead>
			<tbody>
        	{% for item in others %}
				<tr>
					<td>{{ item.user.get_display_name }}</td>
					<td style="text-align: center;">{{ item.time_delta }}</td>
					<td style="text-align: center;">{{ item.last_seen }}</td>
				</tr>
        	{% endfor %}
		    </tbody>
		</table>
       	{% endif %}

        </div>
    </section>
{% endblock %}
