{% load url from future %}{% load i18n %}
<ul>{% if UserProfile or Project or Repo or OER or LearningPath %}
{% if UserProfile %}<li><div>{% trans "members"|capfirst %}</div><ul>
{% for profile in UserProfile %}<li><a class="choice" href="/profile/{{ profile.1 }}/">{{ profile.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% if Project %}<li><div>{% trans "communities and projects"|capfirst %}</div><ul>
{% for project in Project %}<li><a class="choice" href="/project/{{ project.1 }}/">{{ project.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% if Repo %}<li><div>{% trans "external repositories"|capfirst %}</div><ul>
{% for repo in Repo %}<li><a class="choice" href="/repo/{{ repo.1 }}/">{{ repo.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% if OER %}<li><div>{% trans "OERs"|capfirst %}</div><ul>
{% for oer in OER  %}<li><a class="choice" href="/oer/{{ oer.1 }}/">{{ oer.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% if LearningPath %}<li><div>{% trans "learning paths"|capfirst %}</div><ul>
{% for lp in LearningPath  %}<li><a class="choice" href="/lp/{{ lp.1 }}/">{{ lp.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% if FlatPage %}<li><div>{% trans "help pages"|capfirst %}</div><ul>
{% for fp in FlatPage  %}<li><a class="choice" href="{{ fp.1 }}">{{ fp.0 }}</a></li>{% endfor %}
</ul></li>{% endif %}
{% comment %}
{% if more %}<li>...</li>{% endif %}
<li><div><a style="font-style: italic; font-size: small;  font-weight: normal;" href="/cerca/?q={{ q }}">{% trans "list all the results in a page" %}</a></div></li>
{% endcomment %}
{% else %}<li>{% trans "no item" %}</li>{% endif %}</ul>
