{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "all people"|capfirst %}{% endblock %}

{% block body_class %}browse-people{% endblock %}

{% block body %}
   <h1 class="text-center">{% trans "all people"|capfirst %}</h1>
   <div class="panel panel-green">
   <div class="panel-heading"><i>{% trans "distribution of users based on self-compiled user profiles"|capfirst %}</i></div>
   
   <div class="panel-body">
   <ul class="list-inline browse-list">
   {% for field_name, field_label, entries in people_browse_list %}
      <li>
         <div class="demiBold">{{ field_label|capfirst }}</div>
         <article {% if entries|length > 15 %} class="view-list box-scroll" style="height: 340px" {% else %} class="view-list" {% endif %}>
         <ul>
           {% for code, label, prefix, n in entries %}
              <li><form action="/people/search/" method="post" id="people_{{ code }}">{% if prefix %}{{ prefix }} {% endif %}{{ label }}{% csrf_token %}<input type="hidden" name="{{ field_name }}" value="{{ code }}"> (<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ n }}">)</form></li>
           {% endfor %}
         </ul></article>
      </li>
   {% endfor %}
   </ul>
   </div>
   </div>
{% endblock %}
