{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "distributions"|capfirst %}{% endblock %}

{% block body_class %}browse{% endblock %}

{% block body %}
   <div class="marginTB30">
   <h1 class="text-center marginT0 marginB20">{% trans "educational library"|capfirst %}</h1>
   <div class="panel-group" id="accordion">
   {% if lps_browse_list %}
      <div class="panel panel-c1">
         <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pannello-1"><h3 class="text-center marginTB0">{% trans "distributions of the learning paths"|capfirst %}</h3></a>
         </div>
         <div id="pannello-1" class="panel-collapse collapse in">
            <div class="panel-body">
               <ul class="list-inline browse-list">
               {% for field_name, field_label, entries in lps_browse_list %}
                  <li>
                     <div class="demiBold">{{ field_label|capfirst }}</div>
                     <article class="view-list{% if entries|length > 15 %} box-scroll box-large{% endif %}">
                        <ul>
                           {% for code, label, prefix, n in entries %}
                              <li><form action="/lps/search/" method="post" id="lps_{{ code }}">{% if prefix %}{{ prefix }} {% endif %}{{ label }}{% csrf_token %}<input type="hidden" name="{{ field_name }}" value="{{ code }}"> (<input type="submit" class="btn-link" value="{{ n }}">)</form></li>
                           {% endfor %}
                        </ul>
                     </article>
                  </li>
               {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   {% endif %}

   {% if oers_browse_list %}
      <div class="panel panel-c2">
         <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pannello-2"><h3 class="text-center marginTB0">{% trans "distributions of the open educational resources (OERs)"|capfirst %}</h3></a>
         </div>
         <div id="pannello-2" class="panel-collapse collapse out">
            <div class="panel-body" >
               <ul class="list-inline browse-list">
               {% for field_name, field_label, entries in oers_browse_list %}
                  <li>
                     <div class="demiBold">{{ field_label|capfirst }}</div>
                     <article class="view-list{% if entries|length > 15 %} box-scroll box-large{% endif %}">
                        <ul>
                           {% for code, label, prefix, n in entries %}
                              <li><form action="/oers/search/" method="post" id="oers_{{ code }}">{% csrf_token %}<input type="hidden" name="{{ field_name }}" value="{{ code }}">{% if prefix %}{{ prefix }} {% endif %}{{ label }} (<input type="submit" class="btn-link" value="{{ n }}">)</form></li>
                           {% endfor %}
                        </ul>
                     </article>
                  </li>
               {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   {% endif %}

   {% if repos_browse_list  %}
      <div class="panel panel-c3"> 
         <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pannello-3"><h3 class="text-center marginTB0">{% trans "distributions of the repositories"|capfirst %}</h3></a>
         </div>
         <div id="pannello-3" class="panel-collapse collapse out">
            <div class="panel-body">
               <ul class="list-inline browse-list">
               {% for field_name, field_label, entries in repos_browse_list %}
                  <li>
                     <div class="demiBold">{{ field_label|capfirst }}</div>
                     <article class="view-list{% if entries|length > 15 %} box-scroll box-large{% endif %}">
                        <ul>
                           {% for code, label, prefix, n in entries %}
                              <li><form action="/repos/search/" method="post" id="repos_{{ code }}">{% csrf_token %}<input type="hidden" name="{{ field_name }}" value="{{ code }}">{% if prefix %}{{ prefix }} {% endif %}{{ label }} (<input type="submit" class="btn-link" value="{{ n }}">)</form></li>
                           {% endfor %}
                        </ul>
                     </article>
                  </li>
               {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   {% endif %}
   </div>
 </div>
{% endblock %}
