{% extends "commons_base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load dmuc %}
	
{% block head_title %}{% trans "my chatrooms"|capfirst %}{% endblock %}

{% comment %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'converse.js/converse.min.css' %}" type="text/css" media="screen, projection" />
    <script type="text/javascript" src="{% static 'converse.js/converse.min.js' %}"></script>
<style>
form.add-chatroom { display: none; }
a.s { display: none; }
</style>
{% endblock extra_head %}
{% endcomment %}

{% block body %}
<section>
	<h2 class="text-center" style="margin: 0 0;">{% trans "my chatrooms"|capfirst %}</h2>
</section>
<div class="row">
  <div class="col-sm-12">
 	<section>
 	{% if rooms %}
{% comment %}
		{% dmuc_conversejs_initialize %}
		<div id="conversejs"></div>
{% endcomment %}
		<div>{{ info|safe }}</div>
		<h4>{% trans "my rooms"|capfirst %}</h4>
		<ul>
	    {% for room in rooms %}
	    	<li>{{ room.title }}</li>
		{% endfor %}
		</ul>
    {% else %}
  		<div style="margin-top: 1em;">{% trans "you aren't member of any chatroom"|capfirst %}.</div>
  	{% endif %}
	<section>
  </div>
  </div>
</div>
{% endblock %}
