{% extends "theme_bootstrap/base_core.html" %}
{% load staticfiles %}
{% load i18n %}

{% block plus_style %}
    <link href="{% static "commons/css/commons.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block nav %}
	{% with menu=menus.main %}<ul class="nav navbar-nav navbar-left" style="margin-left:-15px">{% include "bootstrap-navbar.html" %}</ul>{% endwith %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
