{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block plus_style %}
    <link href="{% static "commons/css/commons.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% comment %}
{% block user %}{% if user.is_authenticated %}{% else %}{% include "_access_bar.html" %}{% endif %}{% endblock user %}


{% block navbar_class %}marginB0 paddingTB5{% endblock %}

{% block site_brand %}{% if user.is_authenticated %}<a href="/"><img src="{% static "commons/img/LogoPerSito.png" %}" class="img-responsive" /></a>{% else %}{% endif %}{% endblock site_brand %}
{% endcomment %}

{% block nav %}
		{% with menu=menus.main %}<ul class="nav navbar-nav navbar-left" style="margin-left:-15px">{% include "bootstrap-navbar.html" %}</ul>{% endwith %}
		<ul class="nav navbar-nav navbar-right" style="margin-right:30px"><li style="padding-left:15px">
			<div class="navbar-search" style="padding-top:8px; padding-bottom:10px;">
				<label for="search-input" style="position:absolute; left:24px; top:14px; font-size:12px;"><i class="fa fa-search"></i></label>
				<input class="form-control bc-demigray" style="padding-left:30px; padding-right:10px; font-size:12px; height:30px;" size="32" type="text" name="q" id="navigation_autocomplete">
			</div>
		</li></ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
