{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "top contributors to"|capfirst %} {% trans "OER cataloguing" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

            <h1 class="text-center">{% trans "top contributors"|capfirst %}</h1>
<section class="view-card">
    {% if lp_contributors %}
            <h3>{% trans "creation of learning paths"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in lp_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_lps > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_lps }}</a>{% else %}{{ user.num_lps }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}


    {% if oer_evaluation_contributors %}
            <h3>{% trans "evaluation of OERs"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in oer_evaluation_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_oer_evaluations > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_oer_evaluations }}</a>{% else %}{{ user.num_oer_evaluations }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}

    {% if resource_contributors %}
            <h3>{% trans "cataloguing of OERs"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in resource_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_oers > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_oers }}</a>{% else %}{{ user.num_oers }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}

    {% if source_contributors %}
            <h3>{% trans "cataloguing of OER sources"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in source_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_repos > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_repos }}</a>{% else %}{{ user.num_repos }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}

    </section>
{% endblock %}
