{% extends "commons_base.html" %}

{% load i18n %}
{% load mptt_tags %}

{% block head_title %}{% trans "all communities"|capfirst %}{% endblock %}

{% block extra_style %}
<style>
  .img_small {
  	max-width:90px;
  	height:auto;
  	display:inline-block;
  	padding-right:10px;
  	vertical-align:middle;
  }
</style>
{% endblock %}

{% block body_class %}cops_tree{% endblock %}
{% block body %}
<div class="marginTB30">
  <div class="panel-heading-c4">
    <h1 class="text-center padding105 margin0">{% trans "all communities"|capfirst %}</h1>
  </div>
  <div class="body-panel borderBLRradius borderColor-c4">
    <div class="bc-white padding1020 font13 marginB10">{{ info|safe }}</div>
    {% if com_tree|length > 0 %}
      <ul class="list-unstyled marginB0">
      {% for com in com_tree %}
        <li class="padding1020 bc-white {%if not forloop.last %}marginB10{% else %}borderBLRradius{% endif %}">
          <h4 class="marginT0 marginB5">{% if com.1|length > 0 %}<a href="#" class="toggleIcon paddingR10 c-harvest-gold demiBold"><i class="fa fa-plus-square-o"></i></a>{% endif %}{% if com.0.small_image %}<img src="/media/{{ com.0.small_image }}" class="img_small">{% endif %}<a href="/project/{{com.0.slug}}/">{{ com.0.name}}</a></h4>
          <p {% if com.1|length > 0 %}style="margin-left: 24px"{% endif %}>{{ com.0.description }}</i></p>
          {% if com.1|length > 0 %}
            <div class="children marginL24" style="display:none">
              <ul class="list-unstyled paddingL20">
                {% for proj in com.1 %}
                  <li>
                    <h5>{% if proj.1|length > 0 %}<a href="#" class="toggleIcon c-harvest-gold paddingR10 demiBold"><i class="fa fa-plus-square-o"></i></a>{% endif %}<a href="/project/{{proj.0.slug}}/">{{ proj.0.name }}</a> <small>[{{ proj.0.proj_type }}]</small></h5>
                     <p class="font13" {% if proj.1|length > 0 %}style="margin-left: 24px"{% endif %}>{{ proj.0.description|truncatechars:140 }}</i></p>
                    {% if proj.1|length > 0 %}
                      <h6 class="marginB20 paddingL24" style="line-height: 1.5; display:none">
                        {% for subproj in proj.1 %}
                          <a href="/project/{{ subproj.slug }}/">{{ subproj.name }}</a>{% if not forloop.last %}<span class="demiBold c-harvest-gold"> | </span>{% endif %}
                        {% endfor %}
                      </h6>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <div class="padding10">{% trans "no community"|capfirst %} {% trans "is present" %}.</div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript">
$(document).ready(function (){
$('h4 a.toggleIcon').on('click', function(event){
		event.preventDefault();
		var accordion = $(this).parent().parent();
		var accordionContent = accordion.children('div');
		var accordionToggleIcon = $(this);
		accordion.toggleClass("open");
		accordionContent.slideToggle(250);
		if (accordion.hasClass("open")) {
			accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
		} else {
			accordionToggleIcon.children('i').attr("class","fa fa-plus-square-o");
		}
	});
	
	$('h5 a.toggleIcon').on('click', function(event){
		event.preventDefault();
		var accordion = $(this).parent().parent();
		
		var accordionContent = accordion.children('h6');
		var accordionToggleIcon = $(this);
		accordion.toggleClass("open");
		accordionContent.slideToggle(250);
		if (accordion.hasClass("open")) {
			accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
			//accordion.children('h5').addClass('marginB0');
		} else {
			accordionToggleIcon.children('i').attr("class","fa fa-plus-square-o");
			//accordion.children('h5').removeClass('marginB0');
		}
	});
	/*$('div a.toggleIcon1').on('click', function(event){
		event.preventDefault();
		var accordion = $(this).parent();
		console.log(accordion);
		var accordionContent = accordion.next('.children');
		console.log('secondo: ');
		
		var accordionToggleIcon = $(this);
		accordion.toggleClass("open");
		accordionContent.slideToggle(250);
		if (accordion.hasClass("open")) {
			accordionToggleIcon.children('i').attr("class","fa fa-minus-square-o");
		} else {
			accordionToggleIcon.children('i').attr("class","fa fa-plus-square-o");
		}
	});*/
	});
	</script>
{% endblock %}