{% extends "commons_base.html" %}

{% load i18n %}
{% load mptt_tags %}

{% block head_title %}All communities{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
 <div class="row">
  <div class="col-sm-12">
    <section>
            <h2 class="text-center">{% blocktrans %}Communities of Practice{% endblocktrans %}</h2>
            <p class="lead">
    {% if nodes %}
<ul class="list-unstyled">
    {% recursetree nodes %}
        <li>
    		{% if node.project and node.level > 0 %}
            	<a href="/project/{{ node.project.slug }}/">{{ node.name }}</a>. &nbsp;<i>({{ node.project.proj_type.description }})</i>&nbsp; {{ node.project.description|truncatechars:80 }}
    		{% else %}    	
            	{{ node.name }}
    		{% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
    {% else %}
       	<p>{% trans "No community is present" %}.</p>
    {% endif %}
            </p>
    </section>
  </div>
</div>
{% endblock %}
