{% extends "commons_base.html" %}

{% load i18n %}
{% load mptt_tags %}

{% block head_title %}{% trans "all communities"|capfirst %}{% endblock %}

{% block body_class %}cops_tree{% endblock %}
{% block body %}
   <h1 class="text-center">{% trans "all communities"|capfirst %}</h1>
   <section class="view-card">
   {% if nodes %}
<ul class="list-unstyled">
    {% recursetree nodes %}<li>
   	{% with project=node.project %}
   		{% if project and project.state == 2 %}
   			{% if project.proj_type.name == 'com' %}
   			<div style="margin-top: 1em; margin-bottom: 0,5em;">
        <div style="font-size: larger; margin-left:-10px;"> &nbsp; <a href="/project/{{ project.slug }}/">{{ project.get_name }}</a>.</div>
            <div><i>{{ project.description }}</i></div></div>
            {% else %}
            	<a href="/project/{{ project.slug }}/">{{ project.get_name }}</a>
				&nbsp;<i>({{ project.proj_type.description }})</i>.
            {% endif %}
   		{% else %}    	
        		<div>{{ node.name }}</div>
   		{% endif %}
        {% if not node.is_leaf_node %}
            <ul class="children">{{ children }}</ul>
        {% endif %}
   	{% endwith %}

    </li>
    </article>{% endrecursetree %}
	</ul>
   {% else %}
       	<p>{% trans "no community"|capfirst %} {% trans "is present" %}.</p>
   {% endif %}
      </section>
{% endblock %}
