{% extends "commons_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}
{% if node %}
{% blocktrans with node_label=node.label %}Node: {{ node_label }} [document]{% endblocktrans %}
{% elif oer %}
{% blocktrans with oer_title=oer.title %}OER: {{ oer_title }} [document]{% endblocktrans %}
{% endif %}
{% endblock %}

{% block extra_style %}
<style>
  .iframe-touch {
     -webkit-overflow-scrolling: touch !important;
     overflow: scroll !important;
  }
</style>
{% endblock %}

{% block body_class %}document_view{% endblock %}

{% block nav %}
  <div class="navbar">
  {% if node and ment_proj %}
    <h5 class="pull-left">{{ ment_proj.name }}</h5>
    <p class="pull-right paddingT10 paddingLR5">
       <a href="/project/{{ ment_proj.slug }}/"><i class="fa fa-list-alt font18 aria-hidden="true"></i></a>
    </p>
  {% elif node %}
    <h5 class="pull-left c-mulberry">{{ node.label }}</h5>
    <p class="pull-right paddingT10 paddingLR5">
       <a href="/lp/{{ node.path.slug }}/"><i class="fa fa-list-alt font18 c-mulberry" aria-hidden="true"></i></a>
    </p>
  {% elif oer %}
    <h5 class="pull-left c-pacific-blue">{% if oer.state != 3 %}<small style="color: {{ oer.get_link_color }};">[{{ oer.get_state }}]</small>{% endif %}{{ oer.title }}</h5>
    <p class="pull-right paddingT10 paddingLR5">
       <a href="/oer/{{ oer.slug }}/"><i class="fa fa-list-alt font18 c-pacific-blue" aria-hidden="true"></i></a>
    </p>
  {% elif project %}
    <p class="pull-left paddingT10 demiBold">{% for folder, url in folder.get_breadcrumbs %}<a href="{{ url }}">{{ folder.get_title }}</a>{% if not forloop.last %} <i class="fa fa-angle-double-right" aria-hidden="true"></i> {% endif %}{% endfor %}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ document.label}}
    </p>
    <p class="pull-right paddingT10 paddingLR5">
       <a href="/project/{{ project.slug }}/" title="{% trans "show project" %}"><i class="fa fa-group font18 c-black" aria-hidden="true"></i></a>
    </p>
  {% elif profile %}
     <h5 class="pull-left ">{% blocktrans with profile_name=profile.get_display_name %}Curriculum: {{ profile_name }}{% endblocktrans %}</h5>
     <p class="pull-right paddingT10 paddingLR5">
       <a href="{% if request.user.get_username == profile.get_username %}/my_profile/{% else %}/profile/{{ profile.get_username }}/{% endif %}"><i class="fa fa-list-alt font18" aria-hidden="true"></i></a>
    </p>
    </p>

  {% endif %}
  </div>
{% endblock  nav %}

{% block body_base %}
  <div class="container-fluid margin0 padding0">
    {% if url %}{% with mimetype=document.latest_version.mimetype %}
      {% if document.viewerjs_viewable %}
        <div class="iframe-container">
          <iframe src="{{ url }}" id="iframe" allowfullscreen></iframe>
        </div>
      {% elif 'image/' in mimetype %}
        <div class="marginT30 marginB10 text-center"><img src="{{ url }}" class="img-responsive" style="display:inline"></div>
      {% elif 'video/' in mimetype %}
        <div class="marginT30 marginB10 text-center"><video src="{{ url }}" preload="auto" autoplay controls class="img-responsive" style="display:inline"></video></div>
      {% elif 'audio/' in mimetype %}
        <div class="marginT60 marginB10 text-center"><audio src="{{ url }}" preload="auto" autoplay controls class="img-responsive" style="display:inline"></audio></div>
        <h5 class="marginB10 text-center">{{ document.label }}</h5>
      {% elif 'ipynb' in mimetype %}
        <div class="iframe-container">
          <iframe src="{{ url }}" id="iframe" allowfullscreen></iframe>
        </div>
      {% elif 'zip' in mimetype %}
        <div class="iframe-container">
          <iframe src="{{ url }}" id="iframe" allowfullscreen></iframe>
        </div>
      {% endif %}
    {% endwith %}{% endif %}
  </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function() {
        device = (/iphone|ipad/i.test(navigator.userAgent.toLowerCase()));
        if (device) {
            $("div.iframe-container").addClass("iframe-touch");
        }
    });
</script>
{% endblock %}

