{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load tinymce_tags %}

{% block head_title %}{% trans "edit my preferences"|capfirst %}{% endblock %}

{% block body %}
<div class="container">
  <div class="col-sm-12">
    <section>
            <h2 class="text-center">{% trans "edit my preferences"|capfirst %}</h2>
    <form method="post" id="edit_form" class="form-horizontal">
	{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
    <div class="row"  style="margin-top: 0; margin-bottom: 0;">
	<div class="form-group col-lg-{% if i == 1 %}8{% else %}5{% endif %}">
	    <label for="{{ field.name }}" style="margin-bottom: 0;">{{ field.label}} {% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
		<span style="color: red;">{{ field.errors }}</span> {{ field }}
		{% if field.help_text %}<span id="{{ field.name }}helpBlock" class="help-block" style="font-size: smaller; margin-bottom: 0;">{{ field.help_text }}</span>{% endif %}
	</div>
	</div>
    {% endwith %}{% endfor %}
		<button type="submit" name="save" id="save" value="save" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Save changes</button>&nbsp;
		<button type="submit" name="continue" id="continue" value="continue" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Save and continue</button>&nbsp;
		<button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Cancel (user view)</button>
    </form>
    </section>
  </div>
{% endblock %}
