{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}

{% block head_title %}{{ user.get_display_name }} [{% trans "your preferences" %}]{% endblock %}

{% block body %}
  <div class="panel panel-c0 text-left marginTB30">
    <div class="panel-heading-c0 padding1020">
      <h2 class="marginTB5">{{ user.get_display_name }}</h2>
      <p>{% trans "your preferences"|capfirst %}</p>
    </div>
    <form method="post" id="edit_form">{% csrf_token %}
      {% for field in form.hidden_fields %}{{ field }}{% endfor %}
      <fieldset class="padding1020">
        {% for field in form.visible_fields %}{% with i=forloop.counter %}
          <div class="form-group">
            <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
            <span class="txt-error">{{ field.errors }}</span>{{ field }}
            {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
          </div>
        {% endwith %}{% endfor %}
      </fieldset>
      <div class="panel-footer-c0 padding1020">
        {% include "_edit_submit.html" %}
      </div>
    </form>
  </div>
{% endblock %}
