{% extends "commons_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "shared folder for"|capfirst %} {% if proj_type.name == 'com' %}{% trans "community" %}{% else %}{% trans "project" %}{% endif %}: {{ project.get_name }}{% endblock %}
{% block extra_style %}
<style>
dl.eval {
	background: white;
	margin-bottom:5px;
}
dl.eval dd {
	padding:10px 20px 5px 20px;
}
dl.eval dd:nth-child(odd) {
    background: transparent;
}
dl.eval dd:nth-child(even) {
    background: #f8f8f8;
}

</style>
{% endblock %}
{% block body_class %}folder_detail{% endblock %}
{% block body %}

<div class="panel panel-c{% if proj_type_name in 'roll,ment' %}0{% else %}4{% endif %} text-left marginTB30">
  <div class="panel-heading-c{% if proj_type_name in 'roll,ment' %}0{% else %}4{% endif %} padding1020">
    <h3 class="pull-left font_small marginTB5 marginB0"><i class="fa fa-folder-open" aria-hidden="true"></i> {{ project.get_name }}</h3>
    <p class="pull-right marginB0 font26 font_button_small">
      <a href="/project/{{ project.slug }}/" title="{% trans "show project" %}"><i class="fa fa-group font07em c-{% if proj_type_name in 'roll,ment' %}white{% else %}demiblack{% endif %}" aria-hidden="true"></i></a>
    </p>
    <div style="clear:both;">
      <p class="marginB0 paddingT10 demiBold">{% for folder, url in folder.get_breadcrumbs %}{% if not forloop.last %}<a href="{{ url }}">{% endif %}{{ folder.get_title }}{% if not forloop.last %}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> {% endif %}{% endfor %}</p>
    </div>
  </div>
  {% if can_share %}
    <dl class="eval">
       {% if subfolders %}
         {% for sub in subfolders %}
           <dd>
             <div class="row">
               <div class="col-sm-7 col-md-7 col-lg-7">
                   <p id="v_{{ sub.id }}" class="marginB0"><a href="{{ sub.get_absolute_url }}"><i class="fa fa-folder" aria-hidden="true"></i> {{ sub.get_title }}</a></p>
                   <p class="font12" class="marginB0"><span class="demiBold">{% trans "created by"|capfirst %}</span> <a href="/profile/{{ sub.user.username }}">{{ sub.user.get_display_name }}</a> <span class="demiBold">{% trans "on" %}</span> {{ sub.created|date:"d/m/Y" }}</p>
               </div>
               <div class="col-sm-5 col-md-5 col-lg-5">
                 <ul class="list-inline">
                    {% if user == sub.user or is_admin %}
                      <li class="marginR10"><a id="r_{{ sub.id }}" class="deleteFolder" href="#" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a></li>
                      <li class="marginR20"><a href="/folder/{{ sub.id }}/edit/" title="{% trans "edit" %}"><i class="fa fa-edit"></i></a></li>
                    {% endif %}
                 </ul>
               </div>
             </div>
           </dd>
         {% endfor %}
       {% endif %}
       {% if folderdocuments %}
         {% for folderdocument in folderdocuments %}{% with document=folderdocument.document %}
           <dd>
             <div class="row">
               <div class="col-sm-7 col-md-7 col-lg-7">
                 {% if folderdocument.embed_code %}
                   <p id="v_{{ folderdocument.id }}" class="marginB0">{{ folderdocument.label|safe }}</p>
                   <p class="font12" class="marginB0"><span class="demiBold">{% trans "added by"|capfirst %}</span> <a href="/profile/{{ folderdocument.user.username }}">{{ folderdocument.user.get_display_name }}</a> <span class="demiBold">{% trans "on" %}</span> {{ folderdocument.created|date:"d/m/Y" }}</p>
                 {% else %}
                   <p id="v_{{ folderdocument.id }}"  class="marginB0"><a href="{{ folderdocument.get_absolute_url }}">{% if folderdocument.label %}{{ folderdocument.label|safe }} [ {% endif %}{{ document.label|safe }}{% if folderdocument.label %} ]{% endif %}</a></p>
                   <p class="font12" class="marginB0"><span class="demiBold">{% trans "loaded by"|capfirst %}</span> <a href="/profile/{{ folderdocument.user.username }}">{{ folderdocument.user.get_display_name }}</a> <span class="demiBold">{% trans "on" %}</span> {{ document.date_added|date:"d/m/Y" }}</p>
                 {% endif %}
               </div>
               <div class="col-sm-5 col-md-5 col-lg-5">
                 <ul class="list-inline">
                    {% if not ment_proj_submitted %}
                    {% if is_admin or user == folderdocument.user %}
                      <li class="marginR10"><a id="r_{{ folderdocument.id }}" class="deleteDoc" href="#" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a></li>
                      <li class="marginR20"><a href="/{% if folderdocument.embed_code %}online_resource{% else %}folderdocument{% endif %}/{{ folderdocument.id }}/edit/" title="{% trans "edit" %}"><i class="fa fa-edit"></i></a></li>
                    {% endif %}{% endif %}
                    {% if folderdocument.embed_code %}
                       <li class="marginR10"><a href="/online_resource/{{ folderdocument.id }}/view" title="{% trans "view" %}"><i class="fa fa-eye"></i></a></li>
                    {% else %}
                    <li class="marginR10"><a href="/document/{{ document.id }}/download/" title="{% trans "download" %}"><i class="fa fa-download"></i></a></li>
                    {% if document.viewable %}
                      <li class="marginR10"><a href="/document/{{ document.id }}/view/?proj={{ project.id }}" title="{% trans "view" %}"><i class="fa fa-eye"></i></a></li>
                    {% endif %}
                    {% endif %}
                 </ul>
               </div>
             </div>
           </dd>
         {% endwith %}{% endfor %}
       {% endif %}
       {% if not subfolders %}{% if not folderdocuments %}
         <dd>
           <p>{% trans "no shared documents are present"|capfirst %}</p>
         </dd>
       {% endif %}{% endif %}
    </dl>
  {% endif %}
  {% if can_add %}
    {% if not ment_proj_submitted %}
    <div class="row margin0 bc-white">
    <div class="col-md-6 col-lg-6 padding0">
    <dl class="font14 padding20 bc-white marginB0 borderBLRradius">
      <dt class="demiBold marginB5">{% trans "add document"|capfirst %}</dt>
      <dd><form enctype="multipart/form-data" method="post" id="add_document" action="/folder/add_document/">{% csrf_token %}
        <input type="hidden" id="d_id" name="id" value="{{ folder.id }}">
        <div>{{ form.non_field_errors }}</div>
        <div class="marginB10"><span class="red">{{ form.docfile.errors }}</span>{{ form.docfile }}</div>
          <div><button type="submit" id="add" name="add" class="btn btn-default" value='{% trans "add"|capfirst %}'><i class="fa fa-upload" aria-hidden="true"></i> {% trans "upload" %}</button>
            {% if form.docfile.errors %}&nbsp; <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %}</button>{% endif %}
          </div>
      </form></dd>
    </dl>
    <dl class="font14 padding20 bc-white marginB0 borderBLRradius">
      <dt class="demiBold marginB5">{% trans "add subfolder"|capfirst %}</dt>
      <dd><form method="post" id="add_subfolder" action="/folder/add_subfolder/">{% csrf_token %}
        <input type="hidden" id="f_id" name="id" value="{{ folder.id }}">
        {% for field in subfolder_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.name }}" {% if field.field.required %}class="required demiBold"{% endif %}>{{ field.label|capfirst}}</label>
              <span class="txt-error">{{ field.errors }}</span>{{ field }}
              {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
            </div>
        {% endfor %}
        <div><button type="submit" id="create" name="create" class="btn btn-default" value='{% trans "create"|capfirst %}'> {% trans "create" %}</button></div>
      </form></dd>
    </dl>
    </div>
    <div class="col-md-6 col-lg-6 padding0">
    <dl class="font14 padding20 bc-white marginB0 borderBLRradius">
      <dt class="demiBold marginB5">{% trans "add online resource"|capfirst %}</dt>
{% comment %}
      <dd><form method="post" id="add_resource_online" action="/project/add_resource_online/">{% csrf_token %}
        <input type="hidden" id="project" name="project" value="{{ project.id }}">
{% endcomment %}
      <dd><form method="post" id="add_resource_online" action="/folder/add_resource_online/">{% csrf_token %}
        <input type="hidden" id="folder" name="folder" value="{{ folder.id }}">
        {% for field in form_res.visible_fields %}
            <div class="form-group">
              <label for="{{ field.name }}" {% if field.field.required %}class="required demiBold"{% endif %}>{{ field.label|capfirst}}</label>
              <span class="txt-error">{{ field.errors }}</span>{{ field }}
              {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
            </div>
        {% endfor %}
        <div><button type="submit" id="save" name="save" class="btn btn-default" value='{% trans "save"|capfirst %}'>{% trans "save" %}</button>
      </form></dd>
    </dl>
    </div>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block extra_script %}
{% if can_add %}
<script type="text/javascript" src="{% static "commons/js/bootstrap-filestyle.min.js" %}"></script>

<script type="text/javascript">
       var exts = "txt|doc|docx|ppt|pptx|pdf|xls|xlsx|odt|odp|ods|jpg|png|mp3|mp4|rtf";
       var appls = "text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,image/jpeg,image/png,image/x-png,image/gif,audio/mp3,video/mp3,audio/mp4,video/mp4,application/rtf";
       var fsize = 10;
</script>
     {% include "_validate_file.html" %}
{% endif %}
{% if not ment_proj_submitted %}
{% if is_admin or user.is_superuser or user == folderdocument.user %}
<script type="text/javascript" src="{% static "commons/js/bootbox.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function (){
{% trans "do you really want to delete" as translatemsg0 %}
{% trans "this document" as translatemsg1 %}
{% trans "this folder with its contents" as translatemsg2 %}
 if ($('li a').hasClass('deleteDoc')) {
    $('li a.deleteDoc').on('click', function(event){
      event.preventDefault();
      $("body").css("cursor", "default");
      var doc_id = $(this).attr('id');
      doc_id = doc_id.substr(2);
      doc_label=$('#v_'+doc_id).text();
      bootbox.confirm({
        message: doc_label+'<br>{{ translatemsg0|add:' '|add:translatemsg1|capfirst }}?',
        buttons: {
          confirm: {
            label: '{% trans "Yes" %}',
            className: 'btn-success'
          },
          cancel: {
            label: '{% trans "No" %}',
            className: 'btn-danger'
          },
        },
        callback: function(result) {
          if (result) {
             $("body").css("cursor", "wait");
             document.location.href="/folderdocument/"+doc_id+"/delete/";
          }
        }
      });
    });
 }

 if ($('li a').hasClass('deleteFolder')) {
	    $('li a.deleteFolder').on('click', function(event){
	      event.preventDefault();
	      $("body").css("cursor", "default");
	      var folder_id = $(this).attr('id');
	      folder_id = folder_id.substr(2);
	      folder_label=$('#v_'+folder_id).text();
	      bootbox.confirm({
	        message: folder_label+'<br>{{ translatemsg0|add:' '|add:translatemsg2|capfirst }}?',
	        buttons: {
	          confirm: {
	            label: '{% trans "Yes" %}',
	            className: 'btn-success'
	          },
	          cancel: {
	            label: '{% trans "No" %}',
	            className: 'btn-danger'
	          },
	        },
	        callback: function(result) {
	          if (result) {
	             $("body").css("cursor", "wait");
	             document.location.href="/folder/"+folder_id+"/delete/";
	          }
	        }
	      });
	    });
	 }
});
</script>
{% endif %}
{% endif %}
{% endblock %}