{% extends "commons_base.html" %}

{% load staticfiles i18n%}
{% block head_title %}{% blocktrans with folder_title=folder.get_title %}Edit document in folder: {{folder_title}}{% endblocktrans %}{% endblock %}

{% block body_class %}folder_document_edit{% endblock %}

{% block body %}
<div class="panel panel-c{% if proj_type_name in 'roll,ment' %}0{% else %}4{% endif %} text-left marginTB30">
  <div class="panel-heading-c{% if proj_type_name in 'roll,ment' %}0{% else %}4{% endif %} padding1020">
    <h2 class="marginTB5">{% trans "edit document"|capfirst %}</h2>
    <p class="marginTB5"><i class="fa fa-folder-open" aria-hidden="true"></i> {{folder.get_title}}</p>
  </div>
  <form method="post" action="{{ field }}" id="folderdocument_edit_form">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
        {% for field in form.visible_fields %}
          <div class="form-group" {% if field.name == 'portlet' and hide_portlet %}style="display:none"{% endif %}>
            <label for="{{ field.name }}">{{ field.label|capfirst}}</label>
            {{ field }}
          </div>
        {% endfor %}
      </fieldset>
      <div class="panel-footer-c{% if proj_type_name in 'roll,ment' %}0{% else %}4{% endif %} padding1020">
        <button type="submit" name="save" id="save" value="save" class="btn btn-default">{% trans "save and exit"|capfirst %}</button>&nbsp;
        <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "exit without saving"|capfirst %}</button>
      </div>
  </form>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  function setDisabled( selectElementId){
    if($('select[id="'+selectElementId+'"]').length > 0) {
      var txtValue = $('select[id="'+selectElementId+'"] option:selected').text();
      $("#"+selectElementId).css("display","none");
      $('<input type="text" value="'+txtValue+'" id="'+selectElementId+'_text" class="form-control" disabled>').insertAfter("#"+selectElementId);
    }
  }
 $(document).ready(function() {
   setDisabled('id_document');
 })
</script>

{% endblock %}

