{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "forum analytics"|capfirst %}{% endblock %}

{% block body_class %}forum_analitycs{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans "forum analytics"|capfirst %}</h1>
    <p class="text-center" style="font-size: larger;"><em>{% blocktrans %}Total number of posts: {{ total }}{% endblocktrans %}</em></p>
<section>

	<h4>{% trans "forums with topics by posts"|capfirst %}</h4>

	<ul class="list-unstyled">
        {% for forum, num_posts, topics_list in forum_topics_list %}
        <li><strong>{{ num_posts }} - {{ forum.name}}</strong>
		<ul class="list-unstyled" style="margin-inline-start: 20px;">
	        {% for n, topic in  topics_list %}
	        <li>{{ n }} - {{ topic.name }}</li>
	        {% endfor %}
		</ul>
        </li>
        {% endfor %}
	</ul>


	<h4>{% trans "forum topics by posts"|capfirst %}</h4>

	<ul class="list-unstyled">
        {% for topic in topics %}
        <li>{{ topic.num_posts }} - {{ topic.name }} <i>({{ topic.forum.name }})</i></li>
        {% endfor %}
	</ul>	

    </section>
{% endblock %}
