{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}CommonS Platform{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
<div class="row" style="background: #67AE73; /*#007CC2*/">
	<div class="col-md-6">
	<div style="padding-top:0; padding-left:0"><img alt="" src="/static/commons/img/sfondo.fw.png" style="max-width:100%; height:auto"></div>
	</div>
<div class="col-md-6" style="height:300px">
	<div style="position:relative; top:30%; padding-right: 30px;">
	<h1 style="font-family: 'Biryani', sans-serif; font-weight: 700; font-size:40px; color:white; text-shadow:0 1px 2px rgba(0,0,0,0.6);">CommonsSpaces<br><small style="color:white">{% trans "is an international community of practice" %} {% trans "devoted to the improvement of" %} {% trans "employability skills" %}.</small></h1></div>
	</div>
</div>
{% endblock %}

{% block column-1 %}
    <section style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;">
        <div class="container">
            <div class="feature-columns">
                <div>
                    <a href="/cops/">{% comment %}<i class="fa fa-wechat fa-3x"></i>{% endcomment %}<img src="/static/commons/img/group.png"><br>
                    <div style="font-size: larger;">{% trans "learn together"|capfirst %}</div>
                    <b><i>{% trans "Communities and Projects" %}</i></b>.
                    </a>
                </div>
                <div style="padding-top: 5em;">
                    <a href="/info/learn/"><i class="fa fa-road fa-3x"></i><br>
                     <div style="font-size: larger;">{% trans "reuse other people's experience"|capfirst %}</div>
                    <b><i>{% trans "Learning Paths" %}</i></b>.
                    </a>
                </div>
                <div style="padding-top: 5em;">
                    <a href="/browse/"><i class="fa fa-cubes fa-3x"></i><br>
                    <div style="font-size: larger;">{% trans "start explore"|capfirst %}</div>
                    <b><i>{% trans "Educational Library" %}</i></b>.
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% comment %}<section>
        <div class="container">
            <p class="text-center">
                {% trans "see"|capfirst %} <a href="http://www.commonspaces.eu/" target="_blank">www.commonspaces.eu</a>
                {% trans "for more information" %}.
            </p>
        </div>
    </section>{% endcomment %}
{% endblock %}

{% block column-2 %}{% endblock %}
{% block column-3 %}{% endblock %}
{% block column-4 %}{% endblock %}
{% block column-5 %}{% endblock %}


