{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}CommonS Platform{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
<section class="jumbotron">
	<div class="container"  style="margin-top: 1.5em;">
		<h2>Welcome to CommonS</h2>
	    <p>
	    <b>CommonS</b>[paces] {% trans "is an international community of practice" %}</i>
	    {% trans "devoted to the improvement of" %} <b>{% trans "employability skills" %}</b>.
	    </p>
	</div>
</section>
{% endblock %}

{% block column-1 %}
    <section>
        <div class="container">
            <div class="feature-columns">
                <div>
                    <a href="/cops/"><i class="fa fa-wechat fa-3x"></i><br>
                    <b>COPs</b>.
                    <i>{% trans "Communities of Practice" %}</i>.
                    </a>
                </div>
                <div>
                    <a href="/repos/"><i class="fa fa-cubes fa-3x"></i><br>
                    <b>OERs</b>.
                    {% trans "a library of"|capfirst %} <i>{% trans "Open Educational Resources" %}</i>.
                    </a>
                </div>
                <div>
                    <i class="fa fa-road fa-3x"></i><br>
                    <b>LPs</b>.
                    {% trans "a repertoire of"|capfirst %} <i>{% trans "Learning Paths" %}</i>.
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% trans "see"|capfirst %} <a href="http://www.commonspaces.eu/" target="_blank">www.commonspaces.eu</a>
                {% trans "for more information" %}.
            </p>
        </div>
    </section>
{% endblock %}

{% block column-2 %}{% endblock %}
{% block column-3 %}{% endblock %}
{% block column-4 %}{% endblock %}
{% block column-5 %}{% endblock %}


