{% extends "commons_base.html" %}

{% load staticfiles i18n %}
{% load comments zinnia %}

{% block head_title %}CommonS Platform{% endblock %}

{% block extra_style %}
	<link href='http://fonts.googleapis.com/css?family=Biryani:400,600,700,800,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% comment %} SLIDESHOW {% endcomment %}
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
{% comment %} SEQUENCE SLIDE WITH CAPTION {% endcomment %}
        <div class="carousel-inner">
             <div class="active item item-left" style="background: #67AE73;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-left">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can learn together in online communities of practice" %}</small></h1>
                 </div>
             </div>
             <div class="item item-right" style="background: #FABE66;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-right">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can reuse resources to build learning paths" %}</small></h1>
                 </div>
             </div>
             <div class="item item-left" style="background: #007CC2;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-left">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can browse collections in our library of OER" %}</small></h1>
                 </div>
             </div>
             <div class="item item-right" style="background: #67AE73;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-right">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can learn together in online communities of practice" %}</small></h1>
                 </div>
             </div>
             <div class="item item-left" style="background: #FABE66;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-left">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can reuse resources to build learning paths" %}</small></h1>
                 </div>
             </div>
             <div class="item item-right" style="background: #007CC2;">
                 <div><img alt="" src="{% static "commons/img/sfondo.png" %}"></div>
                 <div class="carousel-caption carousel-caption-right">
                     <h1>CommonSpaces<br><small>{% trans "are spaces where" %} {% trans "you can browse collections in our library of OER" %}</small></h1>
                 </div>
             </div>
        </div>
{% comment %} SLIDE CONTROL
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
{% endcomment %}
    </div>

{% comment %} MAIN CTA {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 text-center paddingT20">
                <a href="/cops/"><img src="{% static "commons/img/group.png" %}"><br>
                <span class="largerDemiBold">{% trans "learn together"|capfirst %}</span><br>
                <span class="bold"><i>{% trans "Communities and Projects" %}</i></span>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 text-center paddingT20">
                <a href="/info/learn/"><img src="{% static "commons/img/lp.png" %}"></i><br>
                <span class="largerDemiBold">{% trans "reuse other people's experience"|capfirst %}</span><br>
                <span class="bold"><i>{% trans "Learning Paths" %}</i></span>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 text-center paddingT20">
                 <a href="/browse/"><img src="{% static "commons/img/resources.png" %}"></i><br>
                 <span class="largerDemiBold">{% trans "start explore"|capfirst %}</span><br>
                 <span class="bold"><i>{% trans "Educational Library" %}</i></span>
                 </a>
            </div>
        </div>
    </div>

{% comment %} WALL {% endcomment %}
    <div class="container">
    	<hr>
        <div class="row">
            <div class="col-sm-3 col-md-3 text-center">
                <h3>{% trans "info from the Communities"|capfirst %}</h3>
    {% if members %}
		<h4>{% trans "last memberships"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for member in members %}
	        {% with user=member.user project=member.project %}
	        <li><a href="/profile/{{ user.username }}/" title="{{ user.profile.short|truncatechars:100 }}">{{ user.get_display_name }}</a> (<a href="/project/{{ project.slug }}/">{{ project.get_name|truncatechars:30 }}</a>)</li>
        	{% endwith %}
        	{% endfor %}
        </ul>
	{% endif %}
    {% if members %}
		<h4>{% trans "forum activity"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for forum in forums %}
	        {% with project=forum.get_project %}
	        <li><a href="{{ forum.get_absolute_url }}">{{ forum.get_project.get_name|truncatechars:30 }}</a> ({{ forum.topic_count }} {% trans "topics" %}, {{ forum.post_count }} {% trans "posts" %})</li>
        	{% endwith %}
        	{% endfor %}
        </ul>
	{% endif %}
            </div>
            <div class="col-sm-6 col-md-6 text-center">
                <h3>{% trans "from Commonspaces and the world"|capfirst %}</h3>
    {% if articles or not articles %}
		<h4>{% trans "last blog articles"|capfirst %}</h4>
	        {% for article in articles %}
	        <div>
	        	<h3><a href="{{ article.short_url }}">{{ article.title }}</a></h3>
	        	{% if article.image %}<img src="/media/{{ article.image }}">{% endif %}
	        	<h4><i>{{ article.lead|safe }}</i></h4>
	        	<div>{{ article.html_content|safe }}</div>
	        </div>
	        {% if not forloop.last %}<hr>{% endif %}
        	{% endfor %}
	{% endif %}
            </div>
            <div class="col-sm-3 col-md-3 text-center">
                 <h3>{% trans "info from the Library"|capfirst %}</h3>
    {% if oers %}
		<h4>{% trans "last OERs"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for oer in oers %}
	        <li><a href="/oer/{{ oer.slug }}/" title="{{ oer.description|truncatechars:100 }}">{{ oer.title }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
    {% if repos %}
		<h4>{% trans "last repositories"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for repo in repos %}
	        <li><a href="/oer/{{ repo.slug }}/" title="{{ repo.description|truncatechars:100 }}">{{ repo.name }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
            </div>
        </div>
    </div>

{% endblock %}
