{% load i18n %}

<script type="text/javascript">
$(document).ready(function() {
    $('#navigation_autocomplete').yourlabsAutocomplete({
        url: '{% url 'navigation_autocomplete' %}',
        choiceSelector: 'a',
        minimumCharacters: 3,
        placeholder: '{% trans "Search ... (enter at least 3 characters)" %}',
    }).input.bind('selectChoice', function(e, choice, autocomplete) {
        document.location.href = choice.attr('href');
    });
});
</script>

<div class="navbar-search">
<input class="inputLabel search-query" type="text" name="q" id="navigation_autocomplete">
</div>
