{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "learning path"|capfirst %}: {{ lp.title }}{% endblock %}
{% block body_class %}lp_detail{% endblock %}
{% block body %}
            <h1 class="text-center" style="color: {{ lp.get_title_color }};">{% trans "learning path"|capfirst %}: <i>{{ lp.title }}</i>
                {% if can_edit %}&nbsp; <a href="/lp/{{ lp.slug }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit" style="font-size: 0.7em;"></i></a>{% endif %}
            </h1>
<section class="view-card">
            <div><strong>{% trans "title"|capfirst %}</strong>: {{ lp.title }}</div>

            <div><strong>{% trans "type of learning path"|capfirst %}</strong>: 
  	<form class="form-inline" style="display: inline;" action="/lps/search/" method="post" id="path_type">
	{% csrf_token %}<input type="hidden" name="path_type" value="{{ lp.path_type }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ lp.get_type }}">
    </form>
            {% if can_chain %}&nbsp; <a href="/lp/{{ lp.id }}/make_sequence/" title="{% trans "make sequence" %}"><i class="fa fa-chain" style="font-size: 0.7em;"></i></a>{% endif %}
            </div>
    		{% if lp.levels.all %}
    		<div><strong>{% trans "target audience"|capfirst %}</strong>:
			<ul class="root">
		        {% for level in lp.levels.all %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/lps/search/" method="post" id="lps_{{ level.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="levels" value="{{ level.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ level.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if lp.tags.all %}
    		<div><strong>{% trans "tags"|capfirst %}</strong>:
			<ul class="root">
		        {% for tag in lp.tags.all %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/lps/search/" method="post" id="lps_{{ tag.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="tags" value="{{ tag.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ tag.name }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if lp.subjects.all %}
    		<div><strong>{% trans "subject areas"|capfirst %}</strong>:
			<ul class="root">
		        {% for subject in lp.subjects.all %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/lps/search/" method="post" id="oers_{{ subject.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="subjects" value="{{ subject.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ subject.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
            {% if lp.short %}<div><strong>{% trans "objectives"|capfirst %}</strong>: {{ lp.short }}</div>{% endif %}
    		{% if lp.long %}
            <div style="margin-top: 0.5em;"><strong>{% trans "description"|capfirst %}</strong>
				<div style="margin-left: 1.5em;">{{ lp.long|safe }}</div></div>
			{% endif %}

            <div><strong>{% trans "submitted by"|capfirst %}</strong> &nbsp;<a href="/profile/{{ lp.creator.username }}">{{ lp.creator.get_full_name }}</a>
				 {% if project %}<strong>&nbsp;{% trans "in project" %}</strong>&nbsp;<a href="/project/{{ lp.project.slug }}/">{{ lp.project }}</a>{% endif %}
		    </div>
{% if user.is_authenticated %}            
            <div><strong>{% trans "publication state"|capfirst %}</strong>: <span style="color: {{ lp.get_title_color }};">{{ lp.get_state }}</span>
                {% if can_submit %}&nbsp; <a href="/lp/{{ lp.id }}/submit/" title="{% trans "submit for publication" %}"><i class="fa fa-mail-forward" style="font-size: 0.7em;"></i></a>{% endif %}
                {% if can_withdraw %}&nbsp; <a href="/lp/{{ lp.id }}/withdraw/" title="{% trans "withdraw" %}"><i class="fa fa-reply" style="font-size: 0.7em;"></i></a>{% endif %}
                {% if can_reject %}&nbsp; <a href="/lp/{{ lp.id }}/reject/" title="{% trans "reject" %}"><i class="fa fa-reply" style="font-size: 0.7em;"></i></a>{% endif %}
                {% if can_publish %}&nbsp; <a href="/lp/{{ lp.id }}/publish/" title="{% trans "publish" %}"><i class="fa fa-check" style="font-size: 0.7em;"></i></a>{% endif %}
                {% if can_un_publish %}&nbsp; <a href="/lp/{{ lp.id }}/un_publish/" title="{% trans "unpublish" %}"><i class="fa fa-lock" style="font-size: 0.7em;"></i></a>{% endif %}
            </div>
{% endif %}

    		{% if lp.get_nodes or can_edit %}
    		<div><strong>{% trans "path nodes"|capfirst %}</strong></div>
			{% if lp.path_type == 2 %}<ol class="root">{% else %}<ul class="root">{% endif %}
		    {% for node in lp.get_ordered_nodes %}
            	<li>{% if can_edit %}&nbsp;<a href="/pathnode/{{ node.id }}/delete/" title="{% trans "delete" %}"><i class="fa fa-close" style="font-size: 0.7em; color: red;"></i></a>&nbsp;&nbsp;
            	{% if node.is_root or node.is_island %}&nbsp;&nbsp;{% else %}<a href="/pathnode/{{ node.id }}/up/" title="{% trans "move up" %}"><i class="fa fa-arrow-up" style="font-size: 0.7em;"></i></a>{% endif %}
            	{% if node.is_leaf or node.is_island %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}&nbsp;<a href="/pathnode/{{ node.id }}/down/" title="{% trans "move down" %}"><i class="fa fa-arrow-down" style="font-size: 0.7em;"></i></a>&nbsp;{% endif %}
            	{% endif %}
            	<a href="/pathnode/{{ node.id }}/" title="path node">{{ node.label }}</a></li>
		    {% endfor %}
			{% if lp.path_type == 2 %}</ol>{% else %}</ul>{% endif %}
    		{% if can_edit %}
				<div style="margin-left: 1.5em;"><button type="button" class="btn btn-default" onClick="document.location.href='/lp/{{ lp.slug }}/pathnode_new/';">{% trans "add node"|capfirst %}</button></div>
		    {% endif %}
		    {% endif %}
		  </section>
{% endblock %}
