{% extends "commons_base.html" %}

{% load staticfiles i18n %}

{% block head_title %}{% trans "learning path"|capfirst %}: {{ lp.title }}{% endblock %}

{% block body_class %}lp_detail{% endblock %}
{% block body %}
<article class="panel-white text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h2 class="pull-left marginTB5">
    {% if can_delete %}<form class="view_inline" action="/lp/{{ lp.id }}/delete/" method="post" onsubmit="return confirm_delete(this);" id="delete_{{ lp.id }}">{% csrf_token %}<input type="hidden" name="user" value="{{ u.0.username }}"><button type="submit" class="btn-link" title="{% trans "delete" %}" id="submit_{{ lp.id }}"><i class="fa fa-times-circle font07em c-white"></i></button></form> {% endif %}{{ lp.title }}</h2>
    <p class="pull-right marginB0 font26">
       {% if can_edit %}&nbsp; <a href="/lp/{{ lp.slug }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit font07em c-white"></i></a>{% endif %}
       {% if can_delete and not in_cut_lps %}&nbsp; <a href="/lp/{{ lp.slug }}/?cut=true" title="{% trans "mark this LP as a candidate for cut & paste" %}"><i class="fa fa-cut font07em c-white"></i></a>{% endif %}
    </p>
  </div>
  <section class="view-card-details">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="marginB10 clearfix">
          {% if can_play %}
            <div class="hidden-xs">
              <div class="posRel">
                <div class="bg_play floatL"><a href="/lp/{{ lp.slug }}/play/"  title="{% trans "show player view" %}"><i class="fa fa-youtube-play"></i></a></div>
                <dl class="list-inline font14 marginB10">
                  <dt>{% trans "objectives"|capfirst %}</dt>
                  <dd>{{ lp.short|safe }}</dd>
                </dl>
                {% if lp.levels.all %}
                  {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
                {% endif %}
                {% if lp.subjects.all and lp.tags.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% elif lp.subjects.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                {% elif lp.tags.all %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% endif %}
              </div>
            </div>
            <div class="visible-xs">
              <p class="bg_play"><a href="/lp/{{ lp.slug }}/play/" title="{% trans "show player view" %}"><i class="fa fa-youtube-play"></i></a></p>
              <dl class="list-inline font14 marginB10">
                <dt>{% trans "objectives"|capfirst %}</dt>
                <dd>{{ lp.short|safe }}</dd>
              </dl>
              {% if lp.levels.all %}
                {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
              {% endif %}
              {% if lp.subjects.all and lp.tags.all %}
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6  paddingB10 paddingR0">
                    {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6  paddingB10">
                    {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                  </div>
                </div>
                {% elif lp.subjects.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                {% elif lp.tags.all %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% endif %}
            </div>
          {% else %}
            <dl class="list-inline font14 marginB10">
              <dt>{% trans "objectives"|capfirst %}</dt>
              <dd>{{ lp.short|safe }}</dd>
            </dl>
            {% if lp.levels.all %}
              {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
            {% endif %}
            {% if lp.subjects.all and lp.tags.all %}
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6  paddingB10 paddingR0">
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6  paddingB10">
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                </div>
              </div>
            {% elif lp.subjects.all %}
              {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
            {% elif lp.tags.all %}
              {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
            {% endif %}
          {% endif %}
        </div>
        {% if lp.long %}
          <dl class="list-inline font14 marginB10 clearfix">
            <dt class="with_icon">{% trans "description"|capfirst %} <a href="#" class="toggleIcon"><i class="fa fa-plus-circle"></i></a></dt>
            <dd class="field-content width-full" style="display:none"><blockquote class="font14">{{ lp.long|safe }}</blockquote></dd>
          </dl>
        {% endif %}




        <dl class="list-inline font14 ">
          <dt>{% trans "type of learning path"|capfirst %}</dt> 
          <dd><form action="/lps/search/" method="post" id="path_type">{% csrf_token %}<button type="submit" class="btn-link" value="{{ lp.path_type }}">{{ lp.get_type }}</button></form>
            {% if can_chain %}&nbsp; <a href="/lp/{{ lp.id }}/make_sequence/" title="{% trans "make sequence" %}"><i class="fa fa-chain font07"></i></a>{% endif %}
          </dd>
        </dl>

        {% if lp.get_nodes or can_edit %}
          <dl class="font14 marginB10">
            <dt class="demiBold">{% trans "path nodes"|capfirst %}</dt>
            <dd>{% if lp.path_type == 2 %}<ol class="paddingL24">{% else %}<ul class="paddingL16">{% endif %}
              {% for node in lp.get_ordered_nodes %}
                <li>
                  <div class="paddingL3">
                  	{% comment %} /pathnode/{{ node.id }}/delete/ {% endcomment %}
                    {% if can_edit %}<a class="deleteNode" id="r_{{ node.id }}" href="#" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a> &nbsp;
                      {% if lp.get_ordered_nodes|length > 1 %}
                        {% if not node.is_island %} 
                          <span class="font12">
                            {% if not node.is_root and not node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_root %}<i class="fa fa-arrow-up c-white"></i> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <i class="fa fa-arrow-down c-white"></i> &nbsp;
                            {% endif %}
                          </span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <a href="/pathnode/{{ node.id }}/?node={{forloop.counter0}}" title="path node">{{ node.label }}</a>
                  </div>
                </li>
              {% endfor %}
              {% if lp.path_type == 2 %}</ol>{% else %}</ul>{% endif %}
            </dd>
            {% if can_edit %}
              <dd><a href="/lp/{{ lp.slug }}/pathnode_new/" class="btn btn-default">{% trans "add node"|capfirst %}</a></dd>
              {% if bookmarked_oers %}{% for oer in bookmarked_oers %}
                <dd class="marginT5"><a id="{{ oer.id }}" href="/lp/{{ lp.slug }}/pathnode_add/{{ oer.id }}/" class="btn btn-default add_node_oer">{% trans "add node with OER"|capfirst %}: <span class="demiBold">{{ oer.title|truncatewords:5 }}</span></a></dd>
              {% endfor %}{% endif %}
            {% endif %}
          </dl>
        {% endif %}
      
{% comment %}
      {% if lp.get_nodes or can_edit %}
    		<div><strong>{% trans "path nodes"|capfirst %}</strong></div>
			{% if lp.path_type == 2 %}<ol class="root">{% else %}<ul class="root">{% endif %}
		    {% for node in lp.get_ordered_nodes %}
            	<li>{% if can_edit %}&nbsp;<a href="/pathnode/{{ node.id }}/delete/" title="{% trans "delete" %}"><i class="fa fa-close font07em red"></i></a>&nbsp;&nbsp;
            	{% if node.is_root or node.is_island %}&nbsp;&nbsp;{% else %}<a href="/pathnode/{{ node.id }}/up/" title="{% trans "move up" %}"><i class="fa fa-arrow-up font07em"></i></a>{% endif %}
            	{% if node.is_leaf or node.is_island %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}&nbsp;<a href="/pathnode/{{ node.id }}/down/" title="{% trans "move down" %}"><i class="fa fa-arrow-down font07em"></i></a>&nbsp;{% endif %}
            	{% endif %}
            	<a href="/pathnode/{{ node.id }}/" title="path node">{{ node.label }}</a></li>
		    {% endfor %}
			{% if lp.path_type == 2 %}</ol>{% else %}</ul>{% endif %}


    		{% if can_edit %}
			<ul class="list-unstyled" style="margin-left: 1.5em;">
    			<li style="margin-top: 0em;"><a href="/lp/{{ lp.slug }}/pathnode_new/" class="btn btn-default btn-primary btn-sm">{% trans "add node"|capfirst %}</a></li>
		    	{% if bookmarked_oers %}{% for oer in bookmarked_oers %}
	    		<li style="margin-top: 0.2em;"><a href="/lp/{{ lp.slug }}/pathnode_add/{{ oer.id }}/" class="btn btn-default btn-warning btn-sm">{% trans "add node with OER"|capfirst %} "{{ oer.title|truncatewords:5 }}"</a></li>
		    	{% endfor %}{% endif %}
			</ul>
		    {% endif %}
		    {% endif %}
{% endcomment %}      
      
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
         <p><span class="demiBold">{% trans "submitted by"|capfirst %}:</span> <a href="/profile/{{ lp.creator.username }}">{{ lp.creator.get_full_name }}</a>
            {% comment %}<span class="demiBold">{% trans "on" %}:</span> {{ lp.created|date:"d/m/Y" }}{% endcomment %}
            {% if project %}<br><span class="demiBold">{% trans "in project" %}:</span> <i class="fa fa-group c-grey"></i> <a href="/project/{{ lp.project.slug }}/">{{ lp.project }}</a>{% endif %}
         </p>

        {% if user.is_authenticated %}
          {% if not is_published %}<div class="marginB5"><span class="demiBold">{% trans "publication state"|capfirst %}</span>: <span style="color: {{ lp.get_title_color }};">{{ lp.get_state }}</span></div>{% endif %}
          {% if can_submit or can_withdraw or can_reject or can_publish or can_un_publish %}
            {% if is_published %}<div class="marginB5"><span class="demiBold">{% trans "publication state"|capfirst %}</span>: <span style="color: {{ lp.get_title_color }};">{{ lp.get_state }}</span></div>{% endif %}
            <ul class="list-inline">
               {% if can_submit %}<li class="marginB5"><a href="/lp/{{ lp.id }}/submit/" title="{% trans "submit for publication" %}" class="btn btn-default"><i class="fa fa-mail-forward font07em"></i> {% trans "submit for publication" %}</a></li>{% endif %}
               {% if can_withdraw %}<li class="marginB5"><a href="/lp/{{ lp.id }}/withdraw/" title="{% trans "withdraw" %}" class="btn btn-default"><i class="fa fa-reply font07em"></i> {% trans "withdraw" %}</a></li>{% endif %}
               {% if can_reject %}<li class="marginB5"><a href="/lp/{{ lp.id }}/reject/" title="{% trans "reject" %}" class="btn btn-default"><i class="fa fa-reply font07em"></i> {% trans "reject" %}</a></li>{% endif %}
               {% if can_publish %}<li class="marginB5"><a href="/lp/{{ lp.id }}/publish/" title="{% trans "publish" %}" class="btn btn-default"><i class="fa fa-check font07em"></i> {% trans "publish" %}</a></li>{% endif %}
               {% if can_un_publish %}<li class="marginB5"><a href="/lp/{{ lp.id }}/un_publish/" title="{% trans "unpublish" %}" class="btn btn-default"><i class="fa fa-lock font07em"></i> {% trans "unpublish" %}</a></li>{% endif %}
            </ul>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
</article>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  {% if can_delete %}
    function confirm_delete(form) {
      return confirm('{% trans "do you really want to delete" %} {% trans "this learning path" %}?');
    }
  {% endif %}
	$(document).ready(function() {

		$('dt a.toggleIcon').on('click', function(event){
			event.preventDefault();
			var accordion = $(this).parent();
			var accordionContent = accordion.next('.field-content');
			var accordionToggleIcon = $(this);
			accordion.toggleClass("open");
			accordionContent.slideToggle(250);
			if (accordion.hasClass("open")) {
				accordionToggleIcon.children('i').attr("class","fa fa-minus-circle");
			} else {
				accordionToggleIcon.children('i').attr("class","fa fa-plus-circle");
			}
		});

		if ($('li div a').hasClass('deleteNode')) {
			$('li div a.deleteNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/delete/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
		if ($('li div a').hasClass('upNode')) {
			$('li div a.upNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/up/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
		if ($('li div a').hasClass('downNode')) {
			$('li div a.downNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/down/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
	});
</script>
{% endblock %}