{% extends "commons_base.html" %}

{% load staticfiles i18n %}

{% block head_title %}{% trans "learning path"|capfirst %}: {{ lp.title }}{% endblock %}

{% block body_class %}lp_detail{% endblock %}
{% block body %}
<article class="panel-white text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h2 class="pull-left marginTB5">
    {% if can_delete %}<form class="view_inline" action="/lp/{{ lp.id }}/delete/" method="post" onsubmit="return confirm_delete(this);" id="delete_{{ lp.id }}">{% csrf_token %}<input type="hidden" name="user" value="{{ u.0.username }}"><button type="submit" class="btn-link" title="{% trans "delete" %}" id="submit_{{ lp.id }}"><i class="fa fa-times-circle font07em c-white"></i></button></form> {% endif %}{{ lp.title }}</h2>
    <p class="pull-right marginB0 font26">
       {% if can_edit %}&nbsp; <a href="/lp/{{ lp.slug }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit font07em c-white"></i></a>{% endif %}
       {% if can_delete and not in_cut_lps %}&nbsp; <a href="/lp/{{ lp.slug }}/?cut=true" title="{% trans "mark this LP as a candidate for cut & paste" %}"><i class="fa fa-cut font07em c-white"></i></a>{% endif %}
    </p>
  </div>
  <section class="view-card-details">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="marginB10 clearfix">
          {% if can_play %}
            <div class="hidden-xs">
              <div class="posRel">
                <div class="bg_play floatL"><a href="/lp/{{ lp.slug }}/play/?node=0" title="{% trans "show player view" %}"><i class="fa fa-youtube-play"></i></a></div>
                <dl class="list-inline font14 marginB10">
                  <dt>{% trans "objectives"|capfirst %}</dt>
                  <dd>{{ lp.short|safe }}</dd>
                </dl>
                {% if lp.levels.all %}
                  {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
                {% endif %}
                {% if lp.subjects.all and lp.tags.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% elif lp.subjects.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                {% elif lp.tags.all %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% endif %}
              </div>
            </div>
            <div class="visible-xs">
              <p class="bg_play"><a href="/lp/{{ lp.slug }}/play/" title="{% trans "show player view" %}"><i class="fa fa-youtube-play"></i></a></p>
              <dl class="list-inline font14 marginB10">
                <dt>{% trans "objectives"|capfirst %}</dt>
                <dd>{{ lp.short|safe }}</dd>
              </dl>
              {% if lp.levels.all %}
                {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
              {% endif %}
              {% if lp.subjects.all and lp.tags.all %}
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6  paddingB10 paddingR0">
                    {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6  paddingB10">
                    {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                  </div>
                </div>
                {% elif lp.subjects.all %}
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                {% elif lp.tags.all %}
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
                {% endif %}
            </div>
          {% else %}
            <dl class="list-inline font14 marginB10">
              <dt>{% trans "objectives"|capfirst %}</dt>
              <dd>{{ lp.short|safe }}</dd>
            </dl>
            {% if lp.levels.all %}
              {% include "_data_all.html" with data=lp.levels.all data_class=" font14  marginB10" label_data="target audience" action="/lp/search/" type_data="levels" %}
            {% endif %}
            {% if lp.subjects.all and lp.tags.all %}
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6  paddingB10 paddingR0">
                  {% include "_data_all.html" with data=lp.subjects.all data_class=" font14" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6  paddingB10">
                  {% include "_data_all.html" with data=lp.tags.all data_class=" font14" label_data="tags" action="/lps/search/" type_data="tags" %}
                </div>
              </div>
            {% elif lp.subjects.all %}
              {% include "_data_all.html" with data=lp.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/lps/search/" type_data="subjects" %}
            {% elif lp.tags.all %}
              {% include "_data_all.html" with data=lp.tags.all data_class=" font14 marginB10" label_data="tags" action="/lps/search/" type_data="tags" %}
            {% endif %}
          {% endif %}
        </div>
        {% if lp.long %}
          <dl class="list-inline font14 marginB10 clearfix">
            <dt class="with_icon">{% trans "description"|capfirst %} <a href="#" class="toggleIcon"><i class="fa fa-plus-circle"></i></a></dt>
            <dd class="field-content width-full" style="display:none"><blockquote class="font14">{{ lp.long|safe }}</blockquote></dd>
          </dl>
        {% endif %}




        <dl class="list-inline font14 ">
          <dt>{% trans "type of learning path"|capfirst %}</dt> 
          <dd><form action="/lps/search/" method="post" id="path_type">{% csrf_token %}<button type="submit" class="btn-link" value="{{ lp.path_type }}">{{ lp.get_type }}</button></form>
            {% if can_chain %}&nbsp; <a href="/lp/{{ lp.id }}/make_sequence/" title="{% trans "make sequence" %}"><i class="fa fa-chain font07"></i></a>{% endif %}
          </dd>
        </dl>

        {% if lp.get_nodes or can_edit %}
          <dl class="font14 marginB10">
            <dt class="demiBold">{% trans "path nodes"|capfirst %}</dt>
{% if lp.path_type == 3 %}
	<div id="myholder"></div>
{% else %}
            <dd>{% if lp.path_type == 2 %}<ol class="paddingL24">{% else %}<ul class="paddingL16">{% endif %}
              {% for node in lp.get_ordered_nodes %}
                <li>
                  <div class="paddingL3">
                  	{% comment %} /pathnode/{{ node.id }}/delete/ {% endcomment %}
                    {% if can_edit %}<a class="deleteNode" id="r_{{ node.id }}" href="#" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a> &nbsp;
                      {% if lp.get_ordered_nodes|length > 1 %}
                        {% if not node.is_island %} 
                          <span class="font12">
                            {% if not node.is_root and not node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_root %}<i class="fa fa-arrow-up c-white"></i> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <i class="fa fa-arrow-down c-white"></i> &nbsp;
                            {% endif %}
                          </span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <a href="/pathnode/{{ node.id }}/?node={{forloop.counter0}}" title="path node">{{ node.label }}</a>
                  </div>
                </li>
              {% endfor %}
              {% if lp.path_type == 2 %}</ol>{% else %}</ul>{% endif %}
            </dd>
{% endif %}
            {% if can_edit %}
              <dd><a href="/lp/{{ lp.slug }}/pathnode_new/" class="btn btn-default">{% trans "add node"|capfirst %}</a></dd>
              {% if bookmarked_oers %}{% for oer in bookmarked_oers %}
                <dd class="marginT5"><a id="{{ oer.id }}" href="/lp/{{ lp.slug }}/pathnode_add/{{ oer.id }}/" class="btn btn-default add_node_oer">{% trans "add node with OER"|capfirst %}: <span class="demiBold">{{ oer.title|truncatewords:5 }}</span></a></dd>
              {% endfor %}{% endif %}
            {% endif %}
          </dl>
        {% endif %}
      
{% comment %}
      {% if lp.get_nodes or can_edit %}
    		<div><strong>{% trans "path nodes"|capfirst %}</strong></div>
			{% if lp.path_type == 2 %}<ol class="root">{% else %}<ul class="root">{% endif %}
		    {% for node in lp.get_ordered_nodes %}
            	<li>{% if can_edit %}&nbsp;<a href="/pathnode/{{ node.id }}/delete/" title="{% trans "delete" %}"><i class="fa fa-close font07em red"></i></a>&nbsp;&nbsp;
            	{% if node.is_root or node.is_island %}&nbsp;&nbsp;{% else %}<a href="/pathnode/{{ node.id }}/up/" title="{% trans "move up" %}"><i class="fa fa-arrow-up font07em"></i></a>{% endif %}
            	{% if node.is_leaf or node.is_island %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}&nbsp;<a href="/pathnode/{{ node.id }}/down/" title="{% trans "move down" %}"><i class="fa fa-arrow-down font07em"></i></a>&nbsp;{% endif %}
            	{% endif %}
            	<a href="/pathnode/{{ node.id }}/" title="path node">{{ node.label }}</a></li>
		    {% endfor %}
			{% if lp.path_type == 2 %}</ol>{% else %}</ul>{% endif %}


    		{% if can_edit %}
			<ul class="list-unstyled" style="margin-left: 1.5em;">
    			<li style="margin-top: 0em;"><a href="/lp/{{ lp.slug }}/pathnode_new/" class="btn btn-default btn-primary btn-sm">{% trans "add node"|capfirst %}</a></li>
		    	{% if bookmarked_oers %}{% for oer in bookmarked_oers %}
	    		<li style="margin-top: 0.2em;"><a href="/lp/{{ lp.slug }}/pathnode_add/{{ oer.id }}/" class="btn btn-default btn-warning btn-sm">{% trans "add node with OER"|capfirst %} "{{ oer.title|truncatewords:5 }}"</a></li>
		    	{% endfor %}{% endif %}
			</ul>
		    {% endif %}
		    {% endif %}
{% endcomment %}      
      
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
         <p><span class="demiBold">{% trans "submitted by"|capfirst %}:</span> <a href="/profile/{{ lp.creator.username }}">{{ lp.creator.get_full_name }}</a>
            {% comment %}<span class="demiBold">{% trans "on" %}:</span> {{ lp.created|date:"d/m/Y" }}{% endcomment %}
            {% if project %}<br><span class="demiBold">{% trans "in project" %}:</span> <i class="fa fa-group c-grey"></i> <a href="/project/{{ lp.project.slug }}/">{{ lp.project }}</a>{% endif %}
         </p>

        {% if user.is_authenticated %}
          {% if not is_published %}<div class="marginB5"><span class="demiBold">{% trans "publication state"|capfirst %}</span>: <span style="color: {{ lp.get_title_color }};">{{ lp.get_state }}</span></div>{% endif %}
          {% if can_submit or can_withdraw or can_reject or can_publish or can_un_publish %}
            {% if is_published %}<div class="marginB5"><span class="demiBold">{% trans "publication state"|capfirst %}</span>: <span style="color: {{ lp.get_title_color }};">{{ lp.get_state }}</span></div>{% endif %}
            <ul class="list-inline">
               {% if can_submit %}<li class="marginB5"><a href="/lp/{{ lp.id }}/submit/" title="{% trans "submit for publication" %}" class="btn btn-default"><i class="fa fa-mail-forward font07em"></i> {% trans "submit for publication" %}</a></li>{% endif %}
               {% if can_withdraw %}<li class="marginB5"><a href="/lp/{{ lp.id }}/withdraw/" title="{% trans "withdraw" %}" class="btn btn-default"><i class="fa fa-reply font07em"></i> {% trans "withdraw" %}</a></li>{% endif %}
               {% if can_reject %}<li class="marginB5"><a href="/lp/{{ lp.id }}/reject/" title="{% trans "reject" %}" class="btn btn-default"><i class="fa fa-reply font07em"></i> {% trans "reject" %}</a></li>{% endif %}
               {% if can_publish %}<li class="marginB5"><a href="/lp/{{ lp.id }}/publish/" title="{% trans "publish" %}" class="btn btn-default"><i class="fa fa-check font07em"></i> {% trans "publish" %}</a></li>{% endif %}
               {% if can_un_publish %}<li class="marginB5"><a href="/lp/{{ lp.id }}/un_publish/" title="{% trans "unpublish" %}" class="btn btn-default"><i class="fa fa-lock font07em"></i> {% trans "unpublish" %}</a></li>{% endif %}
            </ul>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
</article>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  {% if can_delete %}
    function confirm_delete(form) {
      return confirm('{% trans "do you really want to delete" %} {% trans "this learning path" %}?');
    }
  {% endif %}
	$(document).ready(function() {

		$('dt a.toggleIcon').on('click', function(event){
			event.preventDefault();
			var accordion = $(this).parent();
			var accordionContent = accordion.next('.field-content');
			var accordionToggleIcon = $(this);
			accordion.toggleClass("open");
			accordionContent.slideToggle(250);
			if (accordion.hasClass("open")) {
				accordionToggleIcon.children('i').attr("class","fa fa-minus-circle");
			} else {
				accordionToggleIcon.children('i').attr("class","fa fa-plus-circle");
			}
		});

		if ($('li div a').hasClass('deleteNode')) {
			$('li div a.deleteNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/delete/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
		if ($('li div a').hasClass('upNode')) {
			$('li div a.upNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/up/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
		if ($('li div a').hasClass('downNode')) {
			$('li div a.downNode').on('click', function(event){
				event.preventDefault();
				var node_id = $(this).attr('id');
				node_id = node_id.substr(2);
				$.ajax({
					url: "/pathnode/"+node_id+"/down/",
					success: function(json){
						if (json.data == 'ok')
							location.reload();
					}
				});
			});
		}
	});
</script>

{% if lp.path_type == 3 %}
<style>
.element.basic.Rect, .element.basic.Circle {
    cursor: pointer;
}
/*
.link-tools .tool-remove .tool-options .marker-vertex-group {
	display: none;
    user-drag: none;
}
*/
{% if not can_edit %}
.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }
{% endif %}
</style>

<link rel="stylesheet" href="{% static "jointjs/joint.css" %}" />
<link rel="stylesheet" href="{% static "jointjs/autolayout.css" %}" />
<!-- <script src="jquery.js"></script>  -->
<script src="{% static "jointjs/lodash.min.js" %}"></script>
<script src="{% static "jointjs/backbone-min.js" %}"></script>
<script src="{% static "jointjs/graphlib.js" %}"></script>
<script src="{% static "jointjs/dagre.js" %}"></script>
<script src="{% static "jointjs/joint.js" %}"></script>
<script src="{% static "jointjs/joint.layout.DirectedGraph.js" %}"></script>
<script src="{% static "jointjs/autolayout.js"" %}"></script>

<script type="text/javascript">

var x_margin = 50;
var max_width = 300;
var half_max_width = max_width/2;
var y_step = 50;
var node_height = 40;
var half_height = node_height/2;
var node_padding = 50;
var icon_size = 16;
// var drop_margin = (node_height-icon_size)/2;

var graph = new joint.dia.Graph;
var paper = new joint.dia.Paper({
    el: $('#myholder'),
    width: 800,
    height: 400,
    model: graph,
    gridSize: 1,
{% if can_edit %}
    // interactive: function(cellView) { return ! cellView.model.isLink(); },
    interactive: true,
{% else %}
	interactive: false,
{% endif %}
	async: false,
    });
{% if can_edit %}
var drop = new joint.shapes.basic.Rect({
    size: { width: icon_size, height: icon_size },
    attrs: { rect: { fill: 'red' }, text: { text: 'x', fill: 'white', 'font-size': 12, } }
});
var add = new joint.shapes.basic.Rect({
    size: { width: icon_size, height: icon_size },
    attrs: { rect: { fill: 'green' }, text: { text: '+', fill: 'white', 'font-size': 12, } }
});
{% endif %}

var json_in = '{{ lp.make_json|safe }}';
graph.fromJSON(JSON.parse(json_in));

graph.getElements().forEach(function(node, index) {
	node.attr({ rect: { fill: 'blue', rx: 3, ry: 3 }});
    node.attr({ text: { fill: 'white', 'font-size': 12 }});
    label = node.attr('text').text;
    console.log(index, label);
    width = label.length * 5 + node_padding * 2;
    node.resize(width, node_height);
/*
    x = x_margin + half_max_width - width/2;
    y = index * y_step;
    node.position(x, y);
*/
})
graph.getLinks().forEach(function(link, index) {
	link.set('connector', { name: 'smooth' });
	link.attr({
 	    '.connection': { stroke: 'blue' },
 	    '.marker-target': { fill: 'white', d: 'M 8 0 L 0 4 L 8 8 z' }
 	});
	// console.log(link.toolMarkup);
})
// console.log(JSON.stringify(graph.toJSON()))

graph.resetCells(graph.getCells());

layout_options = {
		setLinkVertices: false,
		nodeSep: 50,
	    edgeSep: 80,
	    rankDir: "TB"
}
function make_layout() {
	joint.layout.DirectedGraph.layout(graph, layout_options);
}
make_layout();

{% if can_edit %}
// ..
{% endif %}
paper.fitToContent();

/*
element.on('change:position', function() {
	alert('element moved');
});
*/

paper.on('cell:pointerclick', function (cellView, evt, x, y) {
	on_cell_clicked(cellView, x, y);
});
{% if can_edit %}
    paper.on('cell:pointerup', function (cellView, evt, x, y) {
    	on_cell_dragged(cellView, x, y);
    });
    paper.on('tool:remove', function(evt, linkView) {
        console.log("Removing link" + linkView.model.id);
        // linkView.model.remove();
    });
    graph.on('remove', function(cell, collection, opt) {
   	   if (cell.isLink()) {
		  	// console.log("A link was removed" + linkView.model.id); // a link was removed  (cell.id contains the ID of the removed link)
			var msg = 'Do you really want to remove this edge?';
			if (window.confirm(msg)) {
			   	id = cell.id.split('-')[1];
				document.location.href = '/pathedge/{0}/delete/'.format(id);
	  			console.log("A link was removed: " + cell.id); // a link was removed  (cell.id contains the ID of the removed link)
			}
		}
   	})
{% endif %}

//First, checks if it isn't implemented yet.
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) { 
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}
function on_node_moved(element) {
	position = element.get('position');
}
function on_cell_clicked(cellView, x, y) {
	console.log('cell clicked');
	var cell = cellView.model;
	var parent_id = cell.get('parent');
	var id;
	if (parent_id) {
	   	console.log(parent_id);
		var node = graph.getCell(parent_id);
		var label = node.attr('text').text;
	   	id = node.id.split('-')[1];
	   	action = cell.get('action');
	   	console.log('action: ', action);
	   	if (action == 'delete') {
			var msg = 'Do you really want to remove this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/delete/'.format(id);
		}
	   	/*
		else if (action == 'add_before') {
			var msg = 'Add a node before this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/add_before/'.format(id);
		} else if (action == 'add_after') {
			var msg = 'Add a node after this node? ' + label;
			if (window.confirm(msg))
				document.location.href = '/pathnode/{0}/add_after/'.format(id);
		}
	   	*/
	} else if (! cell.isLink()) {
		console.log('node clicked');
	   	id = cell.id.split('-')[1];
		document.location.href = '/pathnode/{0}/'.format(id);
	}
}

function on_cell_dragged(cellView, x, y) {
	this_cell = cellView.model;
	if (this_cell.get('parent'))
		return;
	this_cell_id = this_cell.id

    // Find the first element below that is not a link nor the dragged element itself.
    var elementBelow = graph.get('cells').find(function(cell) {
        if (cell instanceof joint.dia.Link) return false; // Not interested in links.
        if (cell.id === cellView.model.id) return false; // The same element as the dropped one.
        if (cell.getBBox().containsPoint(g.point(x, y))) {
            return true;
        }
        this_cell.set('position', this_cell.previous('position'));
        return false;
    });
    
    // If the two elements are connected already, don't
    // connect them again (this is application specific though).
    if (elementBelow && !_.contains(graph.getNeighbors(elementBelow), cellView.model)) {

    	target_id = cellView.model.id;
    	source_id = elementBelow.id;
        graph.addCell(new joint.dia.Link({
            source: { id: source_id }, target: { id: target_id },
            attrs: { '.marker-source': { d: 'M 10 0 L 0 5 L 10 10 z' } }
        }));
        // Move the element a bit to the side.
        cellView.model.translate(+200, 0);
        paper.fitToContent();
        // make_layout();
		document.location.href = '/pathnode/{0}/link_after/{1}/'.format(target_id.split('-')[1], source_id.split('-')[1]);
    }
}

/*
graph.on('change:position', function(cell) {
    var parentId = cell.get('parent');
    if (!parentId) return;
    // Revert the child position.
    cell.set('position', cell.previous('position'));
});
*/

{% if can_edit %}
function add_tools(graph) {
	graph.getElements().forEach(function(node, index) {
	    label = node.attr('text').text;
	    width = label.length * 5 + node_padding * 2;
	
	    drop_cell = drop.clone();
	    drop_cell.set('action', 'delete')
	    node.embed(drop_cell);
	    graph.addCell(drop_cell);
	    drop_cell.position(width-icon_size, 0, { parentRelative: true});
		/*
	    add_before = add.clone();
	    add_before.set('action', 'add_before')
	    node.embed(add_before);
	    graph.addCell(add_before);
	    add_before.position(0, 0, { parentRelative: true});
	 
	    add_after = add.clone();
	    add_after.set('action', 'add_after')
	    node.embed(add_after);
	    graph.addCell(add_after);
	    add_after.position(width-icon_size, node_height-icon_size, { parentRelative: true});
	    */
	})
}
add_tools(graph);
{% endif %}
paper.fitToContent();
</script>
{% endif %}

{% endblock %}