{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load tinymce_tags %}

{% block head_title %}{% if lp %}{% trans "edit learning path"|capfirst %}: {{ lp.title }}{% else %}{% trans "add learning path"|capfirst %}{% endif %}{% endblock %}

{% block body_class %}lp_edit{% endblock %}
{% block body %}
<div class="panel panel-c1 text-left marginTB30">
  <div class="panel-heading-c1 padding1020">
    <h2 class="marginTB5">{% if lp %}<small class="c-white">{% trans "edit learning path"|capfirst %}:</small> {{ lp.title }}{% else %}{% trans "add learning path"|capfirst %}{% endif %}</h2>
  </div>
  <form method="post" action="{{ action }}" id="edit_form">
    {% csrf_token %}
    {% if lp %}<input type="hidden" id="id" name="id" value="{{ lp.id }}">{% endif %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
    {% if field.name == 'tags' %}
      <div class="form-group">
        <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        <span class="txt-error">{{ field.errors }}</span>
        <div class="btn-group" id="{{ field.name }}" data-toggle="buttons">
        {% for checkbox in field %}
          <label class="btn btn-default{% if checkbox.is_checked %} active{% endif %}" >
           {{ checkbox.tag }} {{ checkbox.choice_label }}
          </label>
        {% endfor %}
        </div>
        {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
      </div>
    {% else %}
      <div class="form-group">
        <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        <span class="txt-error">{{ field.errors }}</span>{{ field }}
        {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
      </div>
    {% endif %}{% endwith %}{% endfor %}
    </fieldset>
    <div class="panel-footer-c1 padding1020">
      <button type="submit" name="save" id="save" value="save" class="btn btn-default">{% trans "save"|capfirst %}{% if lp %} {% trans "changes" %}{% endif %}</button>&nbsp;
      <button type="submit" name="continue" id="continue" value="continue" class="btn btn-default">{% trans "save and continue"|capfirst %}</button>&nbsp;
      <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %} ({% trans "user view" %})</button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  function setDisabled( selectElementId ){
    if($('select[id="'+selectElementId+'"]').length > 0) {
      var txtValue = $('select[id="'+selectElementId+'"] option:selected').text();
      $("#"+selectElementId).css("display","none");
      $('<input type="text" value="'+txtValue+'" id="'+selectElementId+'_text" class="form-control" disabled>').insertAfter("#"+selectElementId);
    }
  }
  $(document).ready(function() {
/*
  	{% if lp %}
    setDisabled( 'id_path_type' )
    {% endif %}
    
    {% if not user.is_superuser %}
      setDisabled( 'id_project' )
    {% endif %}
*/
    setDisabled( 'id_path_type')
    setDisabled( 'id_project')
    setDisabled('id_state');
  })
</script>


{% include "_tinymce_init.html" %}
{% endblock %}
