{% extends "commons_base.html" %}
{% load i18n staticfiles %}

{% block head_title %}{% trans "learning path"|capfirst %}: {{ lp.title }}{% endblock %}

{% block body_class %}lp_viewer paddingT60{% endblock %}
{% block body %}
{% block navbar_base %}
{% endblock %}
{% block body_base %}
<div class="container-fluid margin0 padding0">
<div class="row margin0">
  <div class="col-sm-3 col-md-3 col-lg-2" style="padding-left:0">
  	<div style="background: white; padding:10px 5px 0 20px; border-bottom: 1px dotted #CB4F98">
    <div class="clearfix">
    <h5 class="pull-left c-mulberry" style="margin-bottom:5px">{% if not is_published %}<small style="color: {{ lp.get_link_color }};">[{{ lp.get_state }}]</small>{% endif %}{{ lp.title }}</h5>
    <p class="pull-right paddingT10 paddingLR5"  style="margin-bottom:5px">
      <a href="/lp/{{ lp.slug }}"><i class="fa fa-list-alt font18 c-mulberry" aria-hidden="true"></i></a>
    </p>
    </div>
    <p class="font12">{{ lp.short|safe }}</p>
    </div>
    {% if lp.get_nodes %}
    	<dl class="panel panel-col panel-white" >
        <dt class="paddingB10">{% trans "path nodes"|capfirst %}</dt>
        <dd><ul class="nodes-unlisted font14">
        {% for pathnode in lp.get_ordered_nodes %}
          <li class="paddingB10">
          {% if i_node == forloop.counter0 %} 
            <div>{% if lp.path_type == 2 %}{{ forloop.counter }}. {% endif %}{{ pathnode.label }}</div>
          {% else %}
            {% if lp.path_type == 2 %}{{ forloop.counter }}. {% endif %}<a href="/lp/{{ lp.slug }}/play/?node={{ forloop.counter0 }}" title="path node">{{ pathnode.label }}</a>
          {% endif %}
          </li>
        {% endfor %}
        </ul></dd>
      </dl>
    {% endif %}
</div>
<div class="col-sm-9 col-md-9 col-lg-10">
	{% if oer.url %}
  <p class="view-url">URL: <a href="{{ oer.url }}" target="_blank">{{ oer.url }}</a></p>
  {% endif %}
  <div class="iframe-container">
{% if oer.url %}
	{% if document_view %}
    {{ document_view|safe }}
  {% elif youtube %}
    {{ youtube|safe }}
  {% elif ted_talk %}
    {{ ted_talk|safe }}
  {% elif slideshare %}
    {{ slideshare|safe }}
  {% elif embed_code %}
    {{ embed_code|safe }}
  {% else %}
    <iframe id="frame" src="{{ oer_url }}" allowfullscreen></iframe>
  {% endif %}
{% else %}
  {% if document_view %}
    {{ document_view|safe }}
  {% elif text_view %}
    {{ text_view|safe }}
  {% endif %}
{% endif %}
  </div>
</div>
</div>
</div>
{% endblock %}
{% endblock %}



