{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% if proj_type.name = 'com' %}{% trans "community"|capfirst %}{% else %}{% trans "project"|capfirst %}{% endif %}: {{ project.get_name }}{% endblock %}

{% block extra_head %}
<style>
    form label  { display: inline; }
    ul#id_mentor { list-style-type: none; }
    ul#id_mentor li label { font-weight: normal;  font-size: 12px; }
</style>
{% endblock %}

{% block body_class %}mentoring_detail{% endblock %}
{% block body %}
	<h1 class="text-center" style="color: {{ project.get_title_color }};">{% trans "mentoring"|capfirst %}:
		<i>{{ project.get_name }}</i>&nbsp;
		{% if can_edit %}&nbsp;<a href="/project/{{ project.slug }}/edit/" title="show edit view"><i class="fa fa-edit" style="font-size: 0.8em;""></i></a>{% endif %}
	</h1>

	<div class="row bc-white marginB20">

  		<div class="col-sm-3 col-md-3">

		<h4>{% trans "members"|capfirst %}</h4>
		<ul class="list-unstyled">
		{% with users=project.members %}{% for u in users %}
	          	<li><a href="/profile/{{ u.0.username }}/" title="{% trans "view user profile" %}">{{ u.0.get_display_name }}</a>
	          		&nbsp; <i>{% if u.1 %}{{ project.admin_name }}{% else %}{% trans "mentee" %}{% endif %}</i>
	          	</li>
		{% endfor %}{% endwith %}
		{% if can_accept_member %}
           {% with applications=project.get_applications %}
           {% if applications %}<h4 style="margin-top: 1.0em;">{% trans "applications"|capfirst %}</h4>{% endif %}
           {% for application in applications %}
           	<li><a href="/profile/{{ application.user.username }}/" title="{% trans "view user profile" %}">{{ application.user.get_display_name }}</a> &nbsp; - <a href="/project/{{ project.slug }}/accept/{{ application.user.username }}/"  title="{% trans "accept application to this community or project" %}">accept</a> -</li>
           {% endfor %}{% endwith %}
		{% endif %}
		</ul>

		{% if is_admin and not project.forum %}
   			<h4>{% trans "forum"|capfirst %}</h4>
            <ul class="list-unstyled">
            	<li>- <a href="/project/{{ project.id }}/create_forum/">{% trans "create"|capfirst %} {% trans "forum" %}</a> -</li>
            </ul>
		{% endif %}

		{% if can_accept_member %}
		{% if project.need_create_room or project.need_sync_xmppaccounts %}
   			<h4>{% trans "chatroom"|capfirst %}</h4>
            <ul class="list-unstyled">
			{% if project.need_create_room %}
            	<li>- <a href="/project/{{ project.id }}/create_room/">{% trans "create"|capfirst %} {% trans "chatroom" %}</a> -</li>
			{% endif %}
			{% if project.need_sync_xmppaccounts %}
            	<li>- <a href="/project/{{ project.id }}/sync_xmpp/">{% trans "add missing accounts"|capfirst %}</a> -</li>
			{% endif %}
            </ul>
		{% endif %}
		{% endif %}
  </div>

  <div class="col-sm-6 col-md-6">
	<section>
            <p class="lead">
			{% if project.description %}<div style="margin-bottom: 0.5em; font-style: italic;">{{ project.description }}</div>{% endif %}
            <div><strong>{% trans "project type"|capfirst %}</strong>: {{ proj_type.description }}</div>
			{% if parent %}
            <div><strong>{% if parent.proj_type.name == 'com' %}{% trans "parent community"|capfirst %}{% else %}{% trans "parent project"|capfirst %}{% endif %}</strong>:
            	<a href="/project/{{ parent.slug }}/" title="parent">{{ parent.get_name }}</a></div>
			{% endif %}
    		{% if project.info %}
            <div style="margin-top: 0.5em;"><strong>{% trans "additional information"|capfirst %}</strong>:
				<div style="margin-left: 1.5em;">{{ project.info|safe }}</div></div>
			{% endif %}
            <div><strong>{% trans "project state"|capfirst %}</strong>: {{ project.get_state }}           
			{% if can_propose %}&nbsp; <a href="/project/{{ project.id }}/propose/" title="{% trans "submit request" %}" class="btn btn-default btn-sm"><i class="fa fa-mail-forward" style="font-size: 0.7em;""></i> {% trans "submit request" %}</a>{% endif %}
			{% if can_open and project.get_mentor %}&nbsp; <a href="/project/{{ project.id }}/open/" title="{% trans "open" %}" class="btn btn-default btn-sm"><i class="fa fa-check" style="font-size: 0.7em;""></i> {% trans "open" %}</a>{% endif %}
			{% if can_close %}&nbsp; <a href="/project/{{ project.id }}/close/" title="{% trans "close" %}" class="btn btn-default btn-sm"><i class="fa fa-lock" style="font-size: 0.7em;""></i> {% trans "close" %}</a>{% endif %}
            </div>
            </p>
    </section>

    {% if is_parent_admin and not mentor and candidate_mentors %}
    <section>
        <h4 class="text-center">{% trans "mentee-mentor matching"|capfirst %}</h4>
		<h5><i>{% trans "candidate mentors"|capfirst %}</i></h5>
		<form method="post" action="/set_mentor/">
	    {% csrf_token %}
	    {% for hidden in match_mentor_form.hidden_fields %}{{ hidden }}{% endfor %}
		{% for field in match_mentor_form.visible_fields %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.label_tag }} {{ field }}
		    </div>
		{% endfor %}
    	<input type="submit" class="btn btn-default" value="{% trans "assign mentee to selected mentor"|capfirst %}" id="match_mentor">		
		</form>
    </section>
	{% endif %}

    {% if is_member or user.is_superuser %}
    <section>
        <h4 class="text-center">{% trans "contribute"|capfirst %}</h4>
		<ul class="list-unstyled">
    	{% if can_add_oer %}
    	<li style="margin-top: 0.4em;"><a href="/project/{{ project.id }}/oer_new/" class="btn btn-default btn-primary btn-sm">{% trans "classify OER"|capfirst %}</a></li>
	    	{% if cut_oers %}{% for oer in cut_oers %}
    		<li style="margin-top: 0.2em;"><a href="/project/{{ project.id }}/paste_oer/{{ oer.id }}/" class="btn btn-default btn-warning btn-sm">{% trans "paste OER"|capfirst %} "{{ oer.title|truncatewords:5 }}"</a></li>
	    	{% endfor %}{% endif %}
    	{% endif %}
    	{% if can_add_lp %}
    	<li style="margin-top: 0.4em;"><a href="/project/{{ project.id }}/lp_new/" class="btn btn-default btn-primary btn-sm">{% trans "create learning path"|capfirst %}</a></li>
	    	{% if cut_lps %}{% for lp in cut_lps %}
    		<li style="margin-top: 0.2em;"><a href="/project/{{ project.id }}/paste_lp/{{ lp.id }}/" class="btn btn-default btn-warning btn-sm">{% trans "paste LP"|capfirst %} "{{ lp.title|truncatewords:5 }}"</a></li>
	    	{% endfor %}{% endif %}
    	{% endif %}
		<ul>
    </section>
	{% endif %}

    {% if is_member or user.is_superuser %}
    <section>
        <h4 class="text-center">{% trans "interact"|capfirst %}</h4>
			<div style="margin-bottom: 5px;"><a href="/project/{{ project.slug }}/folder/">- {% trans "view the shared folder"|capfirst %} -</a></div>
        {% if project.forum %}
			<div style="margin-bottom: 5px;"><a href="{{ project.forum.get_absolute_url }}">-
			{% if proj_type.name = 'com' %}{% trans "view the community forum"|capfirst %}{% else %}{% trans "view the project forum"|capfirst %}{% endif %}
			-</a></div>
		{% endif %}
			<div style="margin-bottom: 5px;">
  	<form class="form-inline" style="margin: 0; padding: 0; display: inline-block;" action="/project/{{ project.id }}/compose_message/" method="post">
	{% csrf_token %}
    <input type="submit" class="btn-link" style="cursor: hand; padding:0; margin:0;" value="- {% trans "send message"|capfirst %} {% if is_admin %}{% trans "to mentee" %}{% else %}{% trans "to mentor" %}{% endif %} -">
	</form>
			</div>
   		{% if project.has_chat_room %}
	        {% if can_chat %}
				<div style="margin-bottom: 5px;"><a href="/my_chat/">- {% trans "view the project chatroom"|capfirst %} -</a></div>
	        {% else %}
	            <i>{% trans "you are not yet"|capfirst %} {% trans "member of the project chatroom" %}</i>
			{% endif %}
        {% else %}
            <i>{% trans "no chatroom has has been created for this project"|capfirst %}</i>
        {% endif %}  
    </section>
	{% endif %}
  </div>

  <div class="col-sm-3 col-md-3">
    <section>
    {% if lps %}
		<h4>{% trans "recent learning paths"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for lp in lps %}
	        <li><a href="/lp/{{ lp.slug }}/" style="color: {{ lp.get_link_color }};">{{ lp.title }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
    {% if oers or n_oers %}
		<h4>{% trans "recent OERs"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller; margin-bottom: 20px">
	        {% for oer in oers %}
	        <li><a href="/oer/{{ oer.slug }}/" style="color: {{ oer.get_link_color }};">{{ oer.title }}</a></li>
        	{% endfor %}
        	{% if n_oers > oers.count %}
	        <li style="padding-top:8px"><a class="btn" style="padding:2px 6px; color: #2e6da4; border-color: #2e6da4; font-size: 12px" href="/project/{{ project.slug }}/project_results/">{% trans "read more" %}</a></li>
        	{% endif %}
        </ul>
	{% endif %}
    </section>
    <section>
		<h4>{% trans "messages"|capfirst %}</h4>
    {% if inbox %}
		<h5>{% trans "last received"|capfirst %}</h5>
		<ul class="list-unstyled" style="font-size: smaller; margin-bottom: 20px">
	        {% for msg in inbox %}
	        <li><a href="/my_mail/view/{{ msg.id }}/">{{ msg.subject }}</a></li>
        	{% endfor %}
        	{% if n_inbox > inbox.count %}
	        <li style="padding-top:8px"><a class="btn" style="padding:2px 6px; color: #2e6da4; border-color: #2e6da4; font-size: 12px" href="/my_mail/inbox/">{% trans "read more" %}</a></li>
        	{% endif %}
        </ul>
	{% else %}
		<div><i>{% trans "no messages received"|capfirst %}</i></div>
	{% endif %}
    {% if outbox %}
		<h5>{% trans "last sent"|capfirst %}</h5>
		<ul class="list-unstyled" style="font-size: smaller; margin-bottom: 20px">
	        {% for msg in outbox %}
	        <li><a href="/my_mail/view/{{ msg.id }}/">{{ msg.subject }}</a></li>
        	{% endfor %}
        	{% if n_outbox > outbox.count %}
	        <li style="padding-top:8px"><a class="btn" style="padding:2px 6px; color: #2e6da4; border-color: #2e6da4; font-size: 12px" href="/my_mail/outbox/">{% trans "read more" %}</a></li>
        	{% endif %}
        </ul>
	{% else %}
		<div><i>{% trans "no messages sent"|capfirst %}</i></div>
	{% endif %}
    </section>
  </div>
</div>

{% endblock %}
