{% extends "commons_base.html" %}

{% load i18n %}
{% if project.has_chat_room and can_chat %}
	{% load static from staticfiles %}
	{% load conversejs %}
{% endif %}

{% block head_title %}{% if proj_type.name = 'com' %}{% trans "community"|capfirst %}{% else %}{% trans "project"|capfirst %}{% endif %}: {{ project.get_name }}{% endblock %}

{% block body_class %}mentoring_detail{% endblock %}
{% block body %}
	<h1 class="text-center" style="color: {{ project.get_title_color }};">{% trans "mentoring"|capfirst %}:
		<i>{{ project.get_name }}</i>&nbsp;
		{% if can_edit %}&nbsp;<a href="/project/{{ project.slug }}/edit/" title="show edit view"><i class="fa fa-edit" style="font-size: 0.8em;""></i></a>{% endif %}
	</h1>

	<div class="row bc-white marginB20">

  		<div class="col-sm-3 col-md-3">

		<h4>{% trans "members"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
		{% with users=project.members %}{% for u in users %}
	          	<li><a href="/profile/{{ u.0.username }}/" title="{% trans "view user profile" %}">{{ u.0.get_display_name }}</a>
	          		{% if u.1 %}&nbsp; <i>{{ project.admin_name }}</i>{% else %}{% trans "mentee"|capfirst %}{% endif %}
	          	</li>
		{% endfor %}{% endwith %}
		{% if can_accept_member %}
           {% with applications=project.get_applications %}
           {% if applications %}<h4 style="margin-top: 1.0em;">{% trans "applications"|capfirst %}</h4>{% endif %}
           {% for application in applications %}
           	<li><a href="/profile/{{ application.user.username }}/" title="{% trans "view user profile" %}">{{ application.user.get_display_name }}</a> &nbsp; - <a href="/project/{{ project.slug }}/accept/{{ application.user.username }}/"  title="{% trans "accept application to this community or project" %}">accept</a> -</li>
           {% endfor %}{% endwith %}
		{% endif %}
		</ul>

		{% if is_admin and not project.forum %}
   			<h4>{% trans "forum"|capfirst %}</h4>
            <ul class="list-unstyled">
            	<li>- <a href="/project/{{ project.id }}/create_forum/">{% trans "create"|capfirst %} {% trans "forum" %}</a> -</li>
            </ul>
		{% endif %}

		{% if can_accept_member %}
		{% if project.need_create_room or project.need_sync_xmppaccounts %}
   			<h4>{% trans "chatroom"|capfirst %}</h4>
            <ul class="list-unstyled">
			{% if project.need_create_room %}
            	<li>- <a href="/project/{{ project.id }}/create_room/">{% trans "create"|capfirst %} {% trans "chatroom" %}</a> -</li>
			{% endif %}
			{% if project.need_sync_xmppaccounts %}
            	<li>- <a href="/project/{{ project.id }}/sync_xmpp/">{% trans "add missing accounts"|capfirst %}</a> -</li>
			{% endif %}
            </ul>
		{% endif %}
		{% endif %}
  </div>

  <div class="col-sm-6 col-md-6">
	<section>
            <p class="lead">
			{% if project.description %}<div style="margin-bottom: 0.5em; font-style: italic;">{{ project.description }}</div>{% endif %}
            <div><strong>{% trans "project type"|capfirst %}</strong>: {{ proj_type.description }}</div>
			{% if parent %}
            <div><strong>{% if parent.proj_type.name == 'com' %}{% trans "parent community"|capfirst %}{% else %}{% trans "parent project"|capfirst %}{% endif %}</strong>:
            	<a href="/project/{{ parent.slug }}/" title="parent">{{ parent.get_name }}</a></div>
			{% endif %}
    		{% if project.info %}
            <div style="margin-top: 0.5em;"><strong>{% trans "additional information"|capfirst %}</strong>:
				<div style="margin-left: 1.5em;">{{ project.info|safe }}</div></div>
			{% endif %}
            <div><strong>{% trans "project state"|capfirst %}</strong>: {{ project.get_state }}           
			{% if can_propose %}&nbsp; <a href="/project/{{ project.id }}/propose/" title="{% trans "submit request" %}" class="btn btn-default btn-sm"><i class="fa fa-mail-forward" style="font-size: 0.7em;""></i> {% trans "submit request" %}</a>{% endif %}
			{% if can_open and project.get_mentor %}&nbsp; <a href="/project/{{ project.id }}/open/" title="{% trans "open" %}" class="btn btn-default btn-sm"><i class="fa fa-check" style="font-size: 0.7em;""></i> {% trans "open" %}</a>{% endif %}
			{% if can_close %}&nbsp; <a href="/project/{{ project.id }}/close/" title="{% trans "close" %}" class="btn btn-default btn-sm"><i class="fa fa-lock" style="font-size: 0.7em;""></i> {% trans "close" %}</a>{% endif %}
            </div>
            </p>
    </section>

    {% if is_parent_admin and can_match_mentor %}
    <section>
        <h4 class="text-center">{% trans "match mentor"|capfirst %}</h4>
    </section>
	{% endif %}

    {% if is_member %}
    <section>
        <h4 class="text-center">{% trans "interact"|capfirst %}</h4>
        {% if is_member or user.is_superuser %}
			<div style="margin-bottom: 5px;"><a href="/project/{{ project.slug }}/folder/">- {% trans "view the shared folder"|capfirst %} -</a></div>
		{% endif %}
        {% if user.is_authenticated and project.forum %}
			<div style="margin-bottom: 5px;"><a href="{{ project.forum.get_absolute_url }}">-
			{% if proj_type.name = 'com' %}{% trans "view the community forum"|capfirst %}{% else %}{% trans "view the project forum"|capfirst %}{% endif %}
			-</a></div>
		{% endif %}
   		{% if user.is_authenticated %}
   		{% if project.has_chat_room %}
	        {% if can_chat %}
				<div style="margin-bottom: 5px;"><a href="/my_chat/">- {% trans "view the project chatroom"|capfirst %} -</a></div>
	        {% elif is_member %}
	            <i>{% trans "you are not yet"|capfirst %} {% trans "member of the project chatroom" %}</i>
	        {% else %}
	            <i>{% trans "you are not"|capfirst %} {% trans "member of the project" %}</i>
			{% endif %}
        {% else %}
            <i>{% if project.need_create_room and proj_type.name == 'oer' or proj_type.name == 'lp' %}{% trans "no chatroom has has been created for this project"|capfirst %}{% endif %}</i>
        {% endif %}  
        {% endif %}
    </section>
	{% endif %}
  </div>

  <div class="col-sm-3 col-md-3">
  {% if project.get_project_type == 'oer' or project.get_project_type == 'lp' %}
    {% if lps %}
		<h4>{% trans "recent learning paths"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller;">
	        {% for lp in lps %}
	        <li><a href="/lp/{{ lp.slug }}/" style="color: {{ lp.get_link_color }};">{{ lp.title }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
    {% if oers or n_oers %}
		<h4>{% trans "recent OERs"|capfirst %}</h4>
		<ul class="list-unstyled" style="font-size: smaller; margin-bottom: 20px">
	        {% for oer in oers %}
	        <li><a href="/oer/{{ oer.slug }}/" style="color: {{ oer.get_link_color }};">{{ oer.title }}</a></li>
        	{% endfor %}
        	{% if n_oers > oers.count %}
	        <li style="padding-top:8px"><a class="btn" style="padding:2px 6px; color: #2e6da4; border-color: #2e6da4; font-size: 12px" href="/project/{{ project.slug }}/project_results/">{% trans "read more" %}</a></li>
        	{% endif %}
        </ul>
	{% endif %}
  {% endif %}
  </div>
</div>

{% endblock %}
