{% extends "base.html" %}

{% load i18n %}
{% load nvd3_tags %}

{% block head_title %}{% trans "messages analytics"|capfirst %}{% endblock %}

{% block extra_head %}
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock extra_head %}

{% block body_class %}messages_analytics{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans "messages analytics"|capfirst %}</h1>
    <p class="text-center"style="font-size: larger;"><em>{% blocktrans %}Total number of messages: {{ total }}{% endblocktrans %}</em></p>

	<section>
	<h4>{% trans "messages by month"|capfirst %}</h4>
    {% include_container chartcontainer 500 1500 %}
    </section>
{% endblock %}
