{% extends "commons_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}OER: {{ oer.title }}{% endblock %}

{% block body_class %}oer_view{% endblock %}

{% block nav %}
  <div class="navbar">
    <div class="pull-left">
      <h5 class="c-pacific-blue marginB0">{% if not is_published %}<small style="color: {{ oer.get_link_color }};">[{{ oer.get_state }}]</small>{% endif %}{{ oer.title }}</h5>
      {% if is_published %}
        <div class="font12">
          {% with stars=oer.get_stars %}
            {% include "_view_rating.html" %}
          {% endwith %}
        </div>
      {% endif %}
    </div>
    <p class="pull-right paddingT10 paddingLR5">
      <a href="/oer/{{ oer.slug }}"><i class="fa fa-list-alt font18 c-pacific-blue" aria-hidden="true"></i></a>
      {% if can_evaluate %}&nbsp; <a href="/oer/{{ oer.slug }}/evaluate/" title="{% trans "evaluate" %}"><i class="fa fa-star-o font18 c-pacific-blue"></i></a>{% endif %}
      {% if add_bookmarked and not in_bookmarked_oers %}&nbsp; <a href="/oer/{{ oer.slug }}/?copy=true" title="{% trans "bookmark this OER for future reference" %}"><i class="fa fa-bookmark-o font18 c-pacific-blue"></i></a>{% endif %}
    </p>
{% endblock %}

{% block body_base %}
<div class="container-fluid margin0 padding0">
  <p class="view-url">URL: <a href="{{ oer.url }}" target="_blank">{{ oer_url }}</a></p>
  <div class="iframe-container">
  {% if oer_url %}
    {% if youtube %}
      {{ youtube|safe }}
    {% elif ted_talk %}
      {{ ted_talk|safe }}
    {% elif slideshare %}
      {{ slideshare|safe }}
    {% elif embed_code %}
      {{ embed_code|safe }}
    {% else %}
      <iframe id="frame" src="{{ oer_url }}" allowfullscreen></iframe>
    {% endif %}
  {% endif %}
  </div>
</div>
{% endblock %}

