{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}OER: {{ oer.title }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center" style="color: {{ oer.get_title_color }};">OER: &nbsp; {{ oer.title }}
                {% if can_edit %}&nbsp; <a href="/oer/{{ oer.slug }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit" style="font-size: 0.7em;""></i></a>{% endif %}
            </h2>
            <p class="lead">
            <div><strong>{% trans "title"|capfirst %}</strong>: {{ oer.title }}</div>
            {% if oer.description %}<div><strong>{% trans "description"|capfirst %}</strong>: {{ oer.description }}</div>{% endif %}
            {% if oer.material %}<div><strong>{% trans "type of material"|capfirst %}</strong>: 
  	<form class="form-inline" style="display: inline;" action="/oers/search/" method="post" id="material">
	{% csrf_token %}<input type="hidden" name="material" value="{{ oer.material.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ oer.material.name }}">
    </form>
            </div>{% endif %}
            {% if oer.source %}<div><strong>{% trans "source repository"|capfirst %}</strong>: <a href="/repo/{{ oer.source.slug }}/" title="Source repository">{{ oer.source.name }}</a></div>{% endif %}
            {% if oer.url %}<div><strong>URL</strong>: <a href="{{ oer.url }}" target="_blank">{{ oer.url }}</a></div>{% endif %}
            {% if oer.license %}<div><strong>{% trans "terms of use"|capfirst %}</strong>:
            {% comment %}{{ oer.license.name }}{% endcomment %}
  	<form class="form-inline" style="display: inline;" action="/oers/search/" method="post" id="license">
	{% csrf_token %}<input type="hidden" name="license" value="{{ oer.license.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ oer.license.name }}">
    </form>
			</div>{% endif %}
    		{% if oer.levels.all %}
    		<div><strong>{% trans "levels"|capfirst %}</strong>:
			<ul class="root">
		        {% for level in oer.levels.all %}
		        {% comment %}<li>{{ level.option_label|safe }}</li>{% endcomment %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="oers_{{ level.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="levels" value="{{ level.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ level.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.tags.all %}
    		<div><strong>{% trans "tags"|capfirst %}</strong>:
			<div style="margin-left: 2.0em;">
		        {% for tag in oer.tags.all %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="oers_{{ tag.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="tags" value="{{ tag.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ tag.name }}">
	</li></form>
		        {% endfor %}
			</div>
			</div>
		    {% endif %}
    		{% if oer.subjects.all %}
    		<div><strong>{% trans "subject areas"|capfirst %}</strong>:
			<ul class="root">
		        {% for subject in oer.subjects.all %}
		        {% comment %}<li>{{ subject.option_label|safe }}</li>{% endcomment %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="oers_{{ subject.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="subjects" value="{{ subject.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ subject.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.languages.all %}
    		<div><strong>{% trans "OER languages"|capfirst %}</strong>:
			<ul class="root">
		        {% for language in oer.languages.all %}
		        {% comment %}<li>{{ language.code }} - {{ language.name }}</li>{% endcomment %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="oers_{{ language.code }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="languages" value="{{ language.code }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ language.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.media.all %}
    		<div><strong>{% trans "media formats"|capfirst %}</strong>:
			<ul class="root">
		        {% for medium in oer.media.all %}
		        {% comment %}<li>{{ medium.option_label|safe }}</li>{% endcomment %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="media_{{ medium.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="media" value="{{ medium.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ medium.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.accessibility.all %}
    		<div><strong>{% trans "accessibility features"|capfirst %}</strong>:
			<ul class="root">
		        {% for feature in oer.accessibility.all %}
		        {% comment %}<li>{{ feature.option_label|safe }}</li>{% endcomment %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/oers/search/" method="post" id="accessibility_{{ feature.id }}">
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	{% csrf_token %}<input type="hidden" name="accessibility" value="{{ feature.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ feature.option_label|safe }}">
	</li></form>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.get_more_metadata %}
    		<div><strong>{% trans "other metadata"|capfirst %}</strong>:
			<ul class="root">
		        {% for metadatum in oer.get_more_metadata %}
		        <li><i>{{ metadatum.metadata_type.name }}</i>: {{ metadatum.value }}</li>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
            <div><strong>{% trans "submitted by"|capfirst %}</strong> &nbsp;<a href="/profile/{{ oer.creator.username }}">{{ oer.creator.get_full_name }}</a>&nbsp; <strong>{% trans "in project" %}</strong>&nbsp;<a href="/project/{{ oer.project.slug }}/">{{ oer.project }}</a></div>
{% if user.is_authenticated %}            
            <div><strong>{% trans "publication state"|capfirst %}</strong>: <span style="color: {{ oer.get_title_color }};">{{ oer.get_state }}</span>
                {% if can_submit %}&nbsp; <a href="/oer/{{ oer.id }}/submit/" title="{% trans "submit for publication" %}"><i class="fa fa-mail-forward" style="font-size: 0.7em;""></i></a>{% endif %}
                {% if can_withdraw %}&nbsp; <a href="/oer/{{ oer.id }}/withdraw/" title="{% trans "withdraw" %}"><i class="fa fa-reply" style="font-size: 0.7em;""></i></a>{% endif %}
                {% if can_reject %}&nbsp; <a href="/oer/{{ oer.id }}/reject/" title="{% trans "reject" %}"><i class="fa fa-reply" style="font-size: 0.7em;""></i></a>{% endif %}
                {% if can_publish %}&nbsp; <a href="/oer/{{ oer.id }}/publish/" title="{% trans "publish" %}"><i class="fa fa-check" style="font-size: 0.7em;""></i></a>{% endif %}
                {% if can_un_publish %}&nbsp; <a href="/oer/{{ oer.id }}/un_publish/" title="{% trans "unpublish" %}"><i class="fa fa-lock" style="font-size: 0.7em;""></i></a>{% endif %}
            </div>
{% endif %}
    		{% if oer.documents.all or oer.oer_type == 3 and can_edit %}
    		<div><strong>{% trans "attached documents"|capfirst %}</strong></div>
			<ul class="root">
		    {% for document in oer.get_sorted_documents %}
  	<form class="form-inline" style="margin: 0; padding: 0;" action="/document/download/" method="post" id="doc_{{ document.id }}">
  	{% csrf_token %}
	<li style="padding-top: 0; padding-bottom: 0; line-height:1.0em;">
	<input type="hidden" name="id" value="{{ document.id }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ document.label }}">
	</li></form>
		    {% endfor %}
			</ul>
    		{% if oer.oer_type == 3 and can_edit %}
    		<div><i>{% trans "add document"|capfirst %}</i></div>
    		<form enctype="multipart/form-data" method="POST" id="add_document" action="/oer/add_document/">
				{% csrf_token %}
				<input type="hidden" id="id" name="id" value="{{ oer.id }}" />
	            <div>{{ form.non_field_errors }}</div>
	            <div><span style="color: red;">{{ form.docfile.errors }}</span>{{ form.docfile }}
				<button type="submit" id="add" name="add" class="btn btn-default" value='{% trans "add"|capfirst %}' style="margin-left: 1.0em; padding: 0 1.5em;">{% trans "add"|capfirst %}</button>
				{% if form.docfile.errors %}&nbsp; <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default" style="padding: 0 1.5em;">Cancel</button>{% endif %}
				</div>
    		</form>
		    {% endif %}
		    {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
