{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{# load tinymce_tags #}

{% block head_title %}{% if oer %}{% trans "edit OER"|capfirst %}: {{ oer.title }}{% else %}{% trans "add OER"|capfirst %}{% endif %}{% endblock %}

{% block extra_style %}
    <link href="{% static "commons/css/select2.css" %}" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}oer_edit{% endblock %}
{% block body %}
{% include "_resource_edit_lang_msg.html" %}
<div class="panel panel-c2 text-left marginTB30">
  <div class="panel-heading-c2 padding1020">
    <h2 class="marginTB5">{% if oer %}<small class="c-white">{% trans "edit"|capfirst %}:</small> {{ oer.title }}{% else %}{% trans "add OER"|capfirst %}{% endif %}</h2>
  </div>
  <form method="post" action="{{ action }}" id="edit_form">
    {% csrf_token %}
    {% if oer %}<input type="hidden" id="id" name="id" value="{{ oer.id }}">{% endif %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
        {% if form.errors %}
      {% if form.non_field_errors %}
      <div class="txt-error demiBold" style="margin-left:-20px">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    {% endif %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
    {% if field.name == 'tags' %}
      <div class="form-group">
        <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        <span class="txt-error">{{ field.errors }}</span>
        <div class="btn-group" id="{{ field.name }}" data-toggle="buttons">
        {% for checkbox in field %}
          <label class="btn btn-default{% if checkbox.is_checked %} active{% endif %}" >
           {{ checkbox.tag }} {{ checkbox.choice_label }}
          </label>
        {% endfor %}
        </div>
        {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
      </div>
    {% else %}
      <div class="form-group">
        <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        <span class="txt-error">{{ field.errors }}</span>{{ field }}
        {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
      </div>
    {% endif %}{% endwith %}{% endfor %}

      <input id="id_metadata_set-TOTAL_FORMS" type="hidden" value="5" name="metadata_set-TOTAL_FORMS">
      <input id="id_metadata_set-INITIAL_FORMS" type="hidden" value="0" name="metadata_set-INITIAL_FORMS">
      <input id="id_metadata_set-MAX_NUM_FORMS" type="hidden" value="1000" name="metadata_set-MAX_NUM_FORMS">
      <div class="form-group">
        <label>{% trans "additional metadata"|capfirst %}</label>
        {% for fm in metadata_formset %}
        {% if forloop.first %}
          <table class="grid-table">
          <thead><tr>{% for field in fm.visible_fields %}<td><small>{{ field.label|capfirst}}</small></td>{% endfor %}</tr></thead>
          <tbody>
        {% endif %}
          <tr>{% for field in fm.hidden_fields %}{{ field }}{% endfor %}
          {% for field in fm.visible_fields %}<td><span class="txt-error">{{ field.errors }}</span>{{ field }}</td>{% endfor %}</tr>
        {% if forloop.last %}
          </tbody>
          </table>
        {% endif %}
        {% endfor %}
      </div>
    </fieldset>
    <div class="panel-footer-c2 padding1020">
      <button type="submit" name="save" id="save" value="save" class="btn btn-default">{% trans "save"|capfirst %}{% if oer %} {% trans "changes" %}{% endif %}</button>&nbsp;
      <button type="submit" name="continue" id="continue" value="continue" class="btn btn-default">{% trans "save and continue"|capfirst %}</button>&nbsp;
      <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %} ({% trans "user view" %})</button>
     </div>
    </form>
  </div>
{% endblock %}

{% block extra_script %}
   <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'commons/js/select2.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

<script type="text/javascript">
  function setDisabled( selectElementId){
    if($('select[id="'+selectElementId+'"]').length > 0) {
      var txtValue = $('select[id="'+selectElementId+'"] option:selected').text();
      $("#"+selectElementId).css("display","none");
      $('<input type="text" value="'+txtValue+'" id="'+selectElementId+'_text" class="form-control" disabled>').insertAfter("#"+selectElementId);
    }
  }
 $(document).ready(function() {
   setDisabled('id_project');
   setDisabled('id_state');
 })
</script>

{% include "_tinymce_init.html" %}
{% endblock %}
