{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "top contributors to"|capfirst %} {% trans "OER cataloguing" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "top contributors"|capfirst %}</h2>

    {% if resource_contributors %}
            <h3>{% trans "cataloguing of OERs"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in resource_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_oers > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_oers }}</a>{% else %}{{ user.num_oers }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}

    {% if source_contributors %}
            <h3>{% trans "cataloguing of OER sources"|capfirst %}</h3>
	<ul class="list-unstyled">
        {% for user in source_contributors %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_repos > 0 %}<a href="/resources_by/{{ user.username }}/">{{ user.num_repos }}</a>{% else %}{{ user.num_repos }}{% endif %})
        </li>
        {% endfor %}
	</ul>
    {% endif %}

        </div>
    </section>
{% endblock %}
