{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "OERs with tag"|capfirst %}&nbsp;"{{ field_value }}"{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "OERs with tag"|capfirst %}&nbsp;"{{ field_value }}"</h2>
            <p class="lead">
			{% if oers %}
 			<ul class="root">
		        {% for oer in oers %}
		        <li><a href="/oer/{{ oer.slug }}/">{{ oer.title }}</a></li>
		        {% endfor %}
			</ul>
			{% else %}
				<div style="margin-left: 1.5em;"><i>{% trans "no OERs are present"|capfirst %} {% trans "with this tag" %}.</i></div>
			{% endif %}
            </p>



        </div>
    </section>
{% endblock %}
