{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}OER: {{ oer.name }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">OER:
            	&nbsp; {{ oer.title }}
            	&nbsp; <a href="/repo_oers/{{ oer.source.slug }}/" title="OERs in repository {{ oer.source.name }}"><i class="fa fa-level-up" style="font-size: 0.7em;"></i></a>
                &nbsp; <a href="/admin/commons/oer/{{ oer.id }}/" title="show edit view"><i class="fa fa-edit" style="font-size: 0.7em;""></i></a></h2>
            <p class="lead">
            <div><strong>Title</strong>: {{ oer.title }}</div>
            {% if oer.description %}<div><strong>Description</strong>: {{ oer.description }}</div>{% endif %}
            <div><strong>Source repository:</strong>: <a href="/repo/{{ oer.source.slug }}/">{{ oer.source.name }}</a></div>
            {% if oer.url %}<div><strong>URL</strong>: <a href="{{ oer.url }}" target="_blank">{{ oer.url }}</a></div>{% endif %}
            {% if oer.license %}<div><strong>Terms of use</strong>: {{ oer.license.name }}</div>{% endif %}
    		{% if oer.subjects.all %}
    		<div><strong>Subject areas</strong>:
			<ul class="root">
		        {% for subject in oer.subjects.all %}
		        <li>{{ subject.option_label|safe }}</li>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.languages.all %}
    		<div><strong>OER languages</strong>:
			<ul class="root">
		        {% for language in oer.languages.all %}
		        <li>{{ language.code }} - {{ language.name }}</li>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		{% if oer.metadata_set.all %}
    		<div><strong>Other metadata</strong>:
			<ul class="root">
		        {% for metadatum in oer.metadata_set.all %}
		        <li><i>{{ metadatum.metadata_type.name }}</i>: {{ metadatum.value }}</li>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
            <div><strong>Submitted by</strong> {{ oer.user.get_full_name }} <strong>in project</strong>&nbsp;<a href="/project/{{ oer.project.slug }}/">{{ oer.project }}</a></div>
            </p>
        </div>
    </section>
{% endblock %}
