{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}Catalogued OERs by project{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "catalogued OERs"|capfirst %} {% trans "by project" %}</h2>
            <p class="lead">
		    {% if project_list %}
			<ul class="list-unstyled">
		        {% for project, n in project_list %}
		        <li><a href="/project/{{ project.slug }}/">{{ project.group.name }}</a>
		            {% if n %}({{ n }}){% endif %}
		        </li>
		        {% endfor %}
			</ul>
			{% else %}
		       	<p>{% trans "no project"|capfirst %} {% trans "has" %} {% trans "catalogued OERs" %}.</p>
		    {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
