{% extends "commons_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{{online_resource.label}}{% endblock %}
{% block extra_style %}
<style>
  .iframe-touch {
     -webkit-overflow-scrolling: touch !important;
     overflow: scroll !important;
  }
</style>
{% endblock %}
{% block body_class %}online_resource_view{% endblock %}

{% block nav %}
    <div class="navbar">
        <p class="pull-left paddingT10 demiBold">{% for folder, url in folder.get_breadcrumbs %}<a href="{{ url }}">{{ folder.get_title }}</a>{% if not forloop.last %} <i class="fa fa-angle-double-right" aria-hidden="true"></i> {% endif %}{% endfor %}
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ online_resource.label}}
        </p>
        <p class="pull-right paddingT10 paddingLR5">
            <a href="/project/{{ project.slug }}/" title="{% trans "show project" %}"><i class="fa fa-group font18 c-black" aria-hidden="true"></i></a>
        </p>
    </div>
{% endblock %}

{% block body_base %}
  <div class="container-fluid margin0 padding0">
      {% comment %}{% if view_folder %}<p class="marginT20 text-center">{{ online_resource.label}}</p>{% endif %}{% endcomment %}
      <div class="iframe-container">
        {{ online_resource.embed_code|safe }}
      </div>
  </div>
{% endblock %}


{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function() {
        device = (/iphone|ipad/i.test(navigator.userAgent.toLowerCase()));
        if (device) {
            $("div.iframe-container").addClass("iframe-touch");
        }
    });
</script>