{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load tinymce_tags %}

{% block head_title %}{% if node %}{% trans "edit learning path node"|capfirst %}: {{ node.label }}{% else %}{% trans "add node"|capfirst %}{% endif %}{% endblock %}

{% block extra_style %}
    <link href="{% static "commons/css/select2.css" %}" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}pathnode_edit{% endblock %}
{% block body %}
<div class="panel panel-c1 text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h3 class="pull-left marginTB5">{{ name_lp }}</h3>
    <p class="pull-right marginB0 font26">
      <a href="/lp/{{ slug_lp }}/" title="{% trans "show learning path" %}"><i class="fa fa-list-alt font07em c-white" aria-hidden="true"></i></a>
    </p>
    <div style="clear:both;">
      <h2 class="marginTB5">{% if node %}<small class="c-white">{% trans "edit"|capfirst %}:</small> {{ node.label }}{% else %}{% trans "add learning path node"|capfirst %}{% endif %}</h2>
    </div>
  </div>
  <p class="padding1020 demiBold font12">{% trans "In this form you can specify 3 types of resources: 1) an OER; 2) a document tailored to the needs of this learning path (LP); 3) a formatted text. When playing the LP, the platform will visualize only one of them: the OER, if present, otherwise the document or the formatted text as the last choice." %}</p>
  <form method="POST" action="{{ action }}" id="edit_form" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
    {% if form.errors %}
      {% if form.non_field_errors %}
      <div class="txt-error demiBold" style="margin-left:-20px">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    {% endif %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
      <div class="form-group">
        {% if field.label %}
          <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        {% endif %}
        {% if  field.name  == 'document' %} 
          {% if node.document_id > 0 %}
            <div>{{ node.document.label }}</div>
          {% endif %}
           <div>{{ field }}</div>
        {% else %}
          <span class="txt-error">{{ field.errors }}</span>{{ field }}
          {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
        {% endif %}
      </div>
    {% endwith %}{% endfor %}
    </fieldset>
    <div class="panel-footer-c1 padding1020">
      <button type="submit" name="save" id="save" value="save" class="btn btn-default">{% trans "save"|capfirst %}{% if node %} {% trans "changes" %}{% endif %}</button>&nbsp;
      <button type="submit" name="continue" id="continue" value="continue" class="btn btn-default">{% trans "save and continue"|capfirst %}</button>&nbsp;
      <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %} ({% trans "user view" %})</button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
   <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'commons/js/select2.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

{% include "_tinymce_init.html" with data='extend' %}
{% endblock %}
