{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{# load tinymce_tags #}

{% block head_title %}{% if node %}{% trans "edit learning path node"|capfirst %}: {{ node.label }}{% else %}{% trans "add node"|capfirst %}{% endif %}{% endblock %}


{% block extra_style %}
{% comment %}
   <link href="{% static "commons/css/select2.css" %}" rel="stylesheet">
   <link href="{% static "autocomplete_light/select2.css" %}" rel="stylesheet">
{% endcomment %}
{% include "_select2_css.html" %}
{% endblock %}

{% block body_class %}pathnode_edit{% endblock %}
{% block body %}
{% comment %}
<div style="background: white; border: solid 1px red; font-style: italic; color: red; padding: 6px; margin-top: 30px; margin-bottom: 0.5em;">
{% if language_mismatch %}
   {% trans "WARNING" %}! {% trans "You are using the currently active language" %}
   (<span style="color: black;">{{ current_language_name }}</span>)
   {% trans "to edit a content whose 'original editing language' is" %}
   <span style="color: black;">{{ path.get_language_name }}</span>.
{% else %}
  {% if object %}
   {% if object.original_language %}{% trans "OK" %}.{% else %}{% trans "WARNING" %}!{% endif %}
   {% trans "You are using the currently active language" %}
   (<span style="color: black;">{{ current_language_name }}</span>)
   {% trans "to edit a content whose 'original editing language' is" %}
   {% if object.original_language %}{% trans "also" %}{% else %}{% trans "still" %}{% endif %}
   <span style="color: black;">{{ object.get_language_name }}</span>.
  {% else %}
   {% trans "IMPORTANT NOTICE! The node that you are creating will get its 'original editing language'" %},
   <span style="color: black;">{{ current_language_name }}</span>,
   {% trans "from the Learning Path it belongs to" %}.
  {% endif %}
{% endif %}
</div>
{% endcomment %}
<div class="panel panel-c1 text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h4 class="marginTB5">{{ name_lp }}</h4>
    <h2 class="marginTB5">{% if node %}<small class="c-white">{% trans "edit"|capfirst %}:</small> {{ node.label }}{% else %}{% trans "add learning path node"|capfirst %}{% endif %}</h2>
  </div>
  <p class="padding1020 demiBold font12">{% trans "In this form you can specify 3 types of resources: 1) an OER; 2) a document tailored to the needs of this learning path (LP); 3) a formatted text. When playing the LP, the platform will visualize only one of them: the OER, if present, otherwise the document or the formatted text as the last choice." %}</p>
  <form method="POST" action="{{ action }}" id="edit_pathnode" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
    {% if form.errors %}
      {% if form.non_field_errors %}
      <div class="txt-error demiBold" style="margin-left:-20px">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    {% endif %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}

      <div class="form-group">
      	{% if field.name == 'remove_document' or field.name  == 'new_document' %}
        {% if field.name == 'remove_document' %}
          {% if node.document_id > 0 %}
            <label for = "group_doc" style="display:block"%>{% trans "document"|capfirst %}</label>
              {{ field }} <label for="{{ field.name }}" style="font-weight: normal">{{ field.label|capfirst}}: {{node.document.label}}</label>
          {% else %}
            <div style="display:none">{{ field }}</div>
          {% endif %}
        {% endif %}
        {% if  field.name  == 'new_document' %}
          {% if not node.document_id > 0 %}
            <label for="{{ field.name }}">{{ field.label|capfirst}}</label>
          {% endif %}
        {% endif %}
        {% else %}
        <label for="{{ field.name }}">{{ field.label|capfirst}}</label>
        {% endif %}
        {% if not field.name == 'remove_document' %}
          <span class="txt-error">{{ field.errors }}</span>{{ field }}
          {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
        {% endif %}
      </div>
      {% if  field.name  == 'new_document' %}
        <div class="marginT5 form-group">
          <button id="clearfile" name="clearfile" class="btn btn-default" type="button">{% trans "remove selected file" %}</button>
        </div>
      {% endif %}
    {% endwith %}{% endfor %}
    </fieldset>
    <div class="panel-footer-c1 padding1020">
      {% include "_edit_submit.html" %}
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
   <script type="text/javascript" src="{% static "commons/js/bootstrap-filestyle.min.js" %}"></script>

{% comment %}
   <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'commons/js/select2.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endcomment %}

{% include "_select2_js.html" %}

{% include "_tinymce_init.html" with data='extend' %}

     <script type="text/javascript" src="{% static "commons/js/jquery.validate.min.js" %}"></script>
     <script type="text/javascript" src="{% static "commons/js/additional-methods.min.js" %}"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}commons/js/localization/messages_{{ LANGUAGE_CODE }}.js"></script>
     <script type="text/javascript">
        var exts = "txt|doc|docx|ppt|pptx|pdf|xls|xlsx|odt|odp|ods|jpg|png|mp3|mp4|rtf";
        var appls = "text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,image/jpeg,image/png,image/x-png,image/gif,audio/mp3,video/mp3,audio/mp4,video/mp4,application/rtf";
        var fsize = 10;
        $(document).ready(function() {
          $.validator.addMethod('filesize', function(value, element, param) {
            try{
              return this.optional(element) || (element.files[0].size <= (param*1048576))
            }
            catch(err) {
              return true
            }
          });
          $("#edit_pathnode").validate ({
             rules:{
               'new_document':{
                  extension: exts,
                  accept: appls,
                  filesize: fsize
               },
             },
             submitHandler: function(form) {
               form.submit();
             }
          });
          $('#clearfile').click(function() {
             $('#id_new_document').filestyle('clear');
             if ($("#id_new_document").hasClass('error')) {
                $("#id_new_document").removeClass('error');
                $("#id_new_document-error").html('');
             }
          });
        });
        </script>
{% endblock %}
