{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{{ node.label }} - {% trans "node of path"|capfirst %}: {{ node.path.title }}{% endblock %}

{% block body_class %}pathnode_detail{% endblock %}

{% block body %}
<article class="panel-white text-left marginTB30">
  <div class="navbar panel-c1 panel-heading-c1 padding1020">
    <h3 class="pull-left marginTB5">{{ node.path }}</h3>
    <p class="pull-right marginB0 font26">
       <a href="/lp/{{ lp.slug }}/play/?node={{i_node}}" title="{% trans "show player view" %}"><i class="fa fa-youtube-play font07em c-white" aria-hidden="true"></i></a>
       <a href="/lp/{{ node.path.slug }}/" title="{% trans "show learning path" %}"><i class="fa fa-list-alt font07em c-white" aria-hidden="true"></i></a>
    </p>
  </div>

  <div class="row" >
    <div class="col-sm-3 col-md-3 col-lg-3">
    {% if nodes %}
      <dl class="panel panel-col font14">
        <dt class="paddingB10">{% trans "path nodes"|capfirst %}</dt>
        <dd><ul class="nodes-unlisted">
        {% for pathnode in nodes%}
          <li class="paddingB10">
          {% if node.id == pathnode.id %} 
            <div>{% if lp.path_type == 2 %}{{ forloop.counter }}. {% endif %}{{ node.label }}</div>
          {% else %}
            {% if lp.path_type == 2 %}{{ forloop.counter }}. {% endif %}<a href="/pathnode/{{ pathnode.id }}/" title="path node">{{ pathnode.label }}</a>
          {% endif %}
{% comment %}
                  <div class="paddingL3">
                    {% if can_edit %}<a class="deleteNode" id="r_{{ node.id }}" href="#" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a> &nbsp;
                      {% if nodes|length > 1 %}
                        {% if not node.is_island %} 
                          <span class="font12">
                            {% if not node.is_root and not node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_root %}<i class="fa fa-arrow-up c-white"></i> &nbsp; <a class="downNode" id="d_{{ node.id }}" href="#" title="{% trans "move down" %}"><i class="fa fa-arrow-down"></i></a> &nbsp;
                            {% elif node.is_leaf %}<a class="upNode" id="u_{{ node.id }}" href="#" title="{% trans "move up" %}"><i class="fa fa-arrow-up"></i></a> &nbsp; <i class="fa fa-arrow-down c-white"></i> &nbsp;
                            {% endif %}
                          </span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <a href="/pathnode/{{ node.id }}/" title="path node">{{ node.label }}</a>
                  </div>
{% endcomment %}
          </li>
        {% endfor %}
        </ul></dd>
      </dl>
    {% endif %}
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <section class="view-node-details">
        <div class="clearfix section-node-header">
          <h3 {% if can_edit %}class="h3-left"{% endif %}>{{ node.label }}</h3>
          {% if can_edit %}
          <div>
          <a href="/pathnode/{{ node.id }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit font07em"></i></a>
          </div>
          {% endif %}
        </div>
        <div class="section-node-content">
        {% if node.oer %}
          <dl class="font14 marginB10">
            <dt class="demiBold">OER</dt>
          <dd><p>{% if node.oer.state != 3 %}<span style="color: {{ node.oer.get_link_color }};">[{{ node.oer.get_state }}]</span> {% endif %}<span class="font16 demiBold">{{ node.oer }}</span> &nbsp; <a href="/oer/{{ node.oer.slug }}/"><i class="fa fa-list-alt font18 c-pacific-blue" aria-hidden="true"></i></a><br>
            	{{node.oer.description}}</p></dd>
          </dl>
        {% endif %}
        {% if node.range %}
          <dl class="font14 marginB10">
            <dt class="demiBold">{% trans "display range"|capfirst %}</dt>
            <dd>{{ node.range }}</dd>
          </dl>
        {% endif %}
        {% if node.document_id %}
          <dl class="font14 marginB10">
            <dt class="demiBold">{% trans _('document')|capfirst %}</dt>
            <dd>{{ node.document.label }} &nbsp; &nbsp; <a href="/document/{{ node.document_id }}/download/" title="{% trans "download" %}"><i class="fa fa-download"></i></a>
               {% if node.document.viewable %} &nbsp; &nbsp; <a href="/document/{{ node.document_id }}/view/?node=1" title="{% trans "view" %}"><i class="fa fa-eye"></i></a>{% endif %}
            </dd>
          </dl>
        {% endif %}
        {% if node.text %}
          <dl class="font14 marginB10">
            <dt class="demiBold">{% trans _('text')|capfirst %}</dt>
            <dd>{{ node.text|safe }}</dd>
          </dl>
        {% endif %}
        </div>
        <p class="paddingT6"><span class="demiBold">{% trans "node added by"|capfirst %}:</span> <a href="/profile/{{ node.creator.username }}">{{ node.creator.get_full_name }}</a></p>
      </section>
    </div>
  </div>
</article>
{% endblock %}