{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{{ node.label }} - {% trans "node of path"|capfirst %}: {{ node.path.title }}{% endblock %}

{% block body_class %}pathnode_detail{% endblock %}

{% block body %}

            <h1 class="text-center"><i>{{ node.label }}</i> - {% trans "node of path"|capfirst %}: <i>{{ node.path.title }}</i>
                {% if can_edit %}&nbsp; <a href="/pathnode/{{ node.id }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit" style="font-size: 0.7em;""></i></a>{% endif %}
            </h1>
<section class="view-card">
            <div><strong>{% trans "label"|capfirst %}</strong>: {{ node.label }}</div>
            <div><strong>{% trans "learning path"|capfirst %}</strong>: <a href="/lp/{{ node.path.slug }}/" style="color: {{ node.path.get_link_color }};">{{ node.path }}</a></div>
            <div><strong>{% trans "OER"|capfirst %}</strong>: <a href="/oer/{{ node.oer.slug }}/" style="color: {{ oer.get_link_color }};">{{ node.oer }}</a></div>
            {% if node.range %}<div><strong>{% trans "display range"|capfirst %}</strong>: {{ node.range }}</div>{% endif %}
            <div><strong>{% trans "node added by"|capfirst %}</strong> &nbsp;<a href="/profile/{{ node.creator.username }}">{{ node.creator.get_full_name }}</a></div>
    </section>
{% endblock %}
