{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "press releases"|capfirst %}{% endblock %}
{% comment %}
{% block body %}

            <h1 class="text-center">{% trans "press releases"|capfirst %}</h1>

<section>
{% for language_code, language_name, press_releases in language_pr_list %}
<h4>{{ language_name }}</h4>
<ul>
{% for press_release in press_releases %}
	<form class="form-inline" style="margin: 0; padding: 0;" action="/document/download/" method="post" id="doc_{{ document.id }}">
	<li style="padding-block-start: 0; padding-block-end: 0; line-height:1.0em;">
	{% with document=press_release.document %}
		<a href="/document/{{ document.id }}/view/?proj={{ project.id }}">{% if press_release.label %}{{ press_release.label }}{% else %}{{ document.label }}{% endif %}</a>
		{% if document.viewable %} &nbsp;&nbsp;&nbsp;<a href="/document/{{ document.id }}/view/?proj={{ project.id }}" title="{% trans "view" %}"><i class="fa fa-eye" style="font-size: 0.8em;"></i></a>{% endif %}
	  	{% csrf_token %}<input type="hidden" name="id" value="{{ document.id }}">
	    &nbsp;&nbsp;&nbsp;<a href="/document/{{ document.id }}/download/" title="{% trans "download" %}"><i class="fa fa-download" style="font-size: 0.8em;"></i></a>
		&nbsp;&nbsp;&nbsp; <i style="font-size: smaller;">{% trans "loaded on" %} {{ document.date_added }}</i>
	{% endwith %}
	</li>
	</form>
{% endfor %}
</ul>
{% endfor %}
</section>

{% endblock body %}

{% block extra_script %}
<script type="text/javascript">
function view_document(url, title) {
    var url = "/document/{{ last_release.document.id }}/view/?proj={{ project.id }}";
    var w = 650;
	var left = (screen.width/2)-(w/2);
	// var top = (screen.height/2)-(h/2);
	return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', top=300, left='+left);
}
{% if last_release %}
window.onload = function () {
    var url = "/document/{{ last_release.document.id }}/view/?proj={{ project.id }}";
    var title = "{% trans "last press release"|capfirst %}";
	return view_document(url, title);
}
{% endif %}
</script>
{% endblock extra_script %}

{% endcomment %}

{% block body_class %}press_viewer{% endblock %}
{% block body_base %}
<div class="container-fluid margin0 padding0">
  <div class="row margin0">
    <div class="col-sm-3 col-md-3 col-lg-2" style="padding-inline-start:0">
  	<div style="background: white; padding:10px 5px 0 20px; border-bottom: 1px dotted #E85619">
  		    <h5 class="demiBold" style="color: #E85619">{% trans "press releases"|capfirst %}</h5>
</div>
<dl class="panel panel-col panel-white" style="padding-inline-end:0">
{% for language_code, language_name, press_releases in language_pr_list %}

  <dt class="demiBold">{{ language_name }}</dt>

{% for press_release in press_releases %}{% with document=press_release.document %}
  <dd class="font13 paddingL16 marginB10">
  {% if document.id == docsel %}
    <div class="text-right font14 demiBold" style="background:#E85619; color:white; padding:3px; border-top-left-radius:4px; border-bottom-left-radius:4px;">{% if press_release.label %}{{ press_release.label }}{% else %}{{ document.label }}{% endif %}</div>
  {% else %}
    <a href="/press_releases/?doc={{ document.id }}">{% if press_release.label %}{{ press_release.label }}{% else %}{{ document.label }}{% endif %}</a>
  {% endif %}
{% endwith %}{% endfor %}

{% endfor %}
</dl>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10">
      <div class="iframe-container">
    {% if url %}
      <iframe src="{{ url }}" id="iframe" allowfullscreen></iframe>
    {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}