{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{# load tinymce_tags #}

{% block head_title %}{{ user.get_display_name }} [{% trans "edit mentoring related information" %}]{% endblock %}
	
{% block body_class %}edit_profile_mentor{% endblock %}


{% block body %}
  <div class="panel panel-c0 text-left marginTB30">
    <div class="panel-heading-c0 padding1020">
      <h2 class="marginTB5">{{ user.get_display_name }}</h2>
      <p>{% trans "edit mentoring related information"|capfirst %}</p>
    </div>
    <form method="post" id="edit_form">{% csrf_token %}
      {% for field in form.hidden_fields %}{{ field }}{% endfor %}
      {% for field in form.visible_fields %}
        {% if field.name in 'mentoring,skype' %}
          <fieldset class="padding1020 marginT20"><legend class="marginB10 paddingB3 font18 c-fern borderColor-c0 demiBold">{% if field.name == 'mentoring' %}{% trans "mentor information"|capfirst %}{% else %}{% trans "communication preferences"|capfirst %}{% endif %}</legend>{% endif %}
          <div class="form-group">
            <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
            <span class="txt-error">{{ field.errors }}</span>{{ field }}
            {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
          </div>
        {% if field.name in 'mentor_unavailable,p2p_communication' %}</fieldset>{% endif %}
      {% endfor %}
      <div class="panel-footer-c0 padding1020">
        {% include "_edit_submit.html" %}
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_script %}
    {% include "_tinymce_init.html" %}
{% endblock %}

