{% extends "commons_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "shared folder for"|capfirst %} {% if proj_type.name = 'com' %}{% trans "community" %}{% else %}{% trans "project" %}{% endif %}: {{ project.get_name }}{% endblock %}
{% block extra_style %}
<style>
dl.eval {
	background: white;
	margin-bottom:5px;
}
dl.eval dd {
	padding:20px 20px 10px 20px;
}
dl.eval dd:nth-child(odd) {
    background: transparent;
}
dl.eval dd:nth-child(even) {
    background: #f8f8f8;
}

</style>
{% endblock %}
{% block body_class %}project_folder{% endblock %}
{% block body %}

<div class="panel panel-c4 text-left marginTB30">
  <div class="panel-heading-c4 padding1020">
    <h3 class="pull-left font_small marginTB5">{{ project.get_name }}</h3>
    <p class="pull-right marginB0 font26 font_button_small">
      <a href="/project/{{ project.slug }}/" title="{% trans "show project" %}"><i class="fa fa-list-alt font07em c-demiblack" aria-hidden="true"></i></a>
    </p>
    <div style="clear:both;">
      <h1 class="marginTB0"><small class="c-demiblack">{% trans "shared folder"|capfirst %}</small></h1>
    </div>
  </div>
  {% if can_share %}
    <dl class="eval">
       {% if folderdocuments %}
         {% for folderdocument in folderdocuments %}{% with document=folderdocument.document %}
           <dd>
             <div class="row">
               <div class="col-sm-7 col-md-7 col-lg-7">
                 <p>{% if folderdocument.label %}{{ folderdocument.label|safe }} [ {% endif %}{{ document.label|safe }}{% if folderdocument.label %} ]{% endif %}</p>
                 <p class="font12"><span class="demiBold">{% trans "loaded by"|capfirst %}</span> <a href="/profile/{{ folderdocument.user.username }}">{{ folderdocument.user.get_display_name }}</a> <span class="demiBold">{% trans "on" %}</span> {{ document.date_added|date:"d/m/Y" }}</p>
               </div>
               <div class="col-sm-5 col-md-5 col-lg-5">
                 <ul class="list-inline">
                    {% if is_admin or user.is_superuser or user = folderdocument.user %}
                      <li class="marginR10"><a href="/folderdocument/{{ folderdocument.id }}/delete/" title="{% trans "delete" %}"><i class="fa fa-times-circle red"></i></a></li>
                      <li class="marginR20"><a href="/folderdocument/{{ folderdocument.id }}/edit/" title="{% trans "edit" %}"><i class="fa fa-edit"></i></a></li>
                    {% endif %}
                    <li class="marginR10"><a href="/document/{{ document.id }}/download/" title="{% trans "download" %}"><i class="fa fa-download"></i></a></li>
                    {% if document.viewable %}
                      <li class="marginR10"><a href="/document/{{ document.id }}/view/?proj={{ project.id }}" title="{% trans "view" %}"><i class="fa fa-eye"></i></a></li>
                    {% endif %}
                 </ul>
               </div>
             </div>
           </dd>
         {% endwith %}{% endfor %}
       {% else %}
         <dd>
           <p>{% trans "no shared documents are present"|capfirst %}</p>
         </dd>
       {% endif %}
    </dl>
    <dl class="font14 padding20 bc-white marginB0" style="border-bottom-left-radius:4px; border-bottom-right-radius:4px; ">
      <dt class="demiBold marginB5">{% trans "add document"|capfirst %}</dt>
      <dd><form enctype="multipart/form-data" method="post" id="add_document" action="/project/add_document/">{% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ project.id }}">
        <div>{{ form.non_field_errors }}</div>
        <div class="marginB10"><span class="red">{{ form.docfile.errors }}</span>{{ form.docfile }}</div>
          <div><button type="submit" id="add" name="add" class="btn btn-default" value='{% trans "add"|capfirst %}'><i class="fa fa-upload" aria-hidden="true"></i> {% trans "upload" %}</button>
            {% if form.docfile.errors %}&nbsp; <button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %}</button>{% endif %}
          </div>
      </form></dd>
    </dl>
  {% endif %}
</div>
{% endblock %}

{% block extra_script %}
{% if can_share %}
<script type="text/javascript" src="{% static "commons/js/bootstrap-filestyle.min.js" %}"></script>

<script type="text/javascript">
       var exts = "txt|doc|docx|ppt|pptx|pdf|xls|xlsx|odt|odp|ods|jpg|png|mp3|mp4|rtf";
       var appls = "text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,image/jpeg,image/png,image/x-png,image/gif,video/mp3,video/mp4,application/rtf";
       var fsize = 10;
</script>
     {% include "_validate_file.html" %}
{% endif %}
{% endblock %}