{% extends "commons_base.html" %}

{% load i18n %}
{% load mptt_tags %}

{% block head_title %}{% trans "all projects"|capfirst %}{% endblock %}

{% block body_class %}projects{% endblock %}
{% block body %}
   <h1 class="text-center">{% trans "all open projects"|capfirst %}</h1>
   {% if nodes %}
     <section class="view-card">
    {% recursetree nodes %}
    	{% with project=node.project %}
    		{% if project and project.state == 2 and project.proj_type.name != 'com' %}
            	<div style="font-size: larger; margin-top: 1em;"><a href="/project/{{ project.slug }}/">{{ node.project.get_name }}</a></div>
                <div><strong>{% trans "project type"|capfirst %}</strong>: {{ project.proj_type.description }}</div>
            	<div><i>{{ project.description|truncatechars:300 }}</i><div>
    		{% endif %}
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
    	{% endwith %}
    {% endrecursetree %}
  </section>
    {% endif %}
{% endblock %}
