{% extends "commons_base.html" %}

{% load i18n %}
{% comment %}{% if can_chat %}{% load conversejs %}{% endif %}{% endcomment %}

{% block head_title %}{% if project.proj_type.name = 'com' %}{% trans "community"|capfirst %}{% else %}{% trans "project"|capfirst %}{% endif %}: {{ project.get_name }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
	{% comment %}{% if can_chat %}{% conversejs_static %}{% endif %}{% endcomment %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-3" style="margin-top: 4.0em;">
  		 {% if project.group.level > 0 %}
   			<h4>{% trans "members"|capfirst %}</h4>
            <ul class="list-unstyled">
            {% with users=project.members %}{% for user in users %}
            	<li><a href="/profile/{{ user.0.username }}/" title="{% trans "view user profile" %}">{{ user.0.get_display_name }}</a>
            		{% if user.1 %}&nbsp; <i>{{ project.admin_name }}</i>{% endif %}
            	</li>
            {% endfor %}{% endwith %}
			{% if can_accept_member %}
            {% with applications=project.get_applications %}
            {% if applications %}<h4 style="margin-top: 1.0em;">{% trans "applications"|capfirst %}</h4>{% endif %}
            {% for application in applications %}
            	<li><a href="/profile/{{ application.user.username }}/" title="{% trans "view user profile" %}">{{ application.user.get_display_name }}</a> &nbsp; - <a href="/project/{{ project.slug }}/accept/{{ application.user.username }}/"  title="{% trans "accept application to this community or project" %}">accept</a> -</li>
            {% endfor %}{% endwith %}
			{% endif %}
            </ul>
			{% if request.user.is_authenticated %}
			<hr />
			{% if membership == None %}
			<div>- <a href="/project/{{ project.slug }}/apply/{{ user.username }}/" title="{% trans "apply for membership" %}">{% trans "join project"|capfirst %}</a> -</div>
			{% else %}
				{% if membership.state == 0 %}					
				<div><i>{% trans "your application is waiting for acceptation by the " %}
				{% if membership.project.get_project_type == 'com' %}{% trans "community administrator" %}{% else %}{% trans "project supervisor" %}{% endif %}
				</i></div>
				{% endif %}
			{% endif %}
			{% endif %}
		{% endif %}
		{% if project.get_children %}
   			<h4>{% trans "child projects"|capfirst %}</h4>
            <ul class="list-unstyled">
			{% with subprojects=project.get_children %}{% for subproject in subprojects %}
            	<li><a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}">{{ subproject.get_name }}</a></li>
            {% endfor %}{% endwith %}
            </ul>
		{% endif %}
		{% if can_edit %}
			<div>- <a href="/project/{{ project.slug }}/project_new/" title="{% trans "create child project" %}">{% trans "create child project"|capfirst %}</a> -</div>
		{% endif %}
  </div>
  <div class="col-sm-6">
    <section>
            <h2 class="text-center">{% if project.proj_type.name = 'com' %}{% trans "community"|capfirst %}{% else %}{% trans "project"|capfirst %}{% endif %}:
			{{ project.get_name }}&nbsp;
{% comment %}
			{% if parent %}
			<a href="/project/{{ parent.slug }}/" title="parent"><i class="fa fa-level-up" style="font-size: 0.7em;""></i></a>
			{% else %}
			<a href="/cops/" title="community list"><i class="fa fa-level-up" style="font-size: 0.7em;""></i></a>
			{% endif %}
{% endcomment %}
			{% if can_edit %}&nbsp;<a href="/project/{{ project.slug }}/edit/" title="show edit view"><i class="fa fa-edit" style="font-size: 0.8em;""></i></a>{% endif %}
			</h2>
            <p class="lead">
			{% if project.description %}<div style="margin-bottom: 0.5em; font-style: italic;">{{ project.description }}</div>{% endif %}
            <div><strong>{% trans "project type"|capfirst %}</strong>: {{ proj_type.description }}</div>
		{% with parent=project.get_parent %}
			{% if parent %}
            <div><strong>{% if parent.proj_type.name == 'com' %}{% trans "parent community"|capfirst %}{% else %}{% trans "parent project"|capfirst %}{% endif %}</strong>:
            	<a href="/project/{{ parent.slug }}/" title="parent">{{ parent.get_name }}</a></div>
			{% endif %}
		{% endwith %}
    		{% if project.info %}
            <div style="margin-top: 0.5em;"><strong>{% trans "additional information"|capfirst %}</strong>:
				<div style="margin-left: 1.5em;">{{ project.info|safe }}</div></div>
			{% endif %}
            </p>
    </section>
    {% if can_add_repository or can_add_oer %}
    <section>
           <h4 class="text-center">{% trans "contribute"|capfirst %}</h4>
    	<div><a href="/repo/new/"><i class="fa fa-plus" style="font-size: 0.7em;""></i> {% trans "classify external repository"|capfirst %}</a></div>
    	<div><a href="/project/{{ project.id }}/oer_new/"><i class="fa fa-plus" style="font-size: 0.7em;""></i>  {% trans "classify OER"|capfirst %}</a></div>
    </section>
	{% endif %}
    {% if user.is_authenticated %}
    <section>
           <h4 class="text-center">{% trans "interact"|capfirst %}</h4>
           {% if can_chat %}{% comment %}
		       {% conversejs_chatpanel %}
               {% conversejs_initialize %}
           {% endcomment %}{% else %}
               <i>{% trans "chatroom to be added soon"|capfirst %}</i>
           {% endif %}  
    </section>
	{% endif %}
  </div>
  <div class="col-sm-3"  style="margin-top: 4.0em;">
  {% if project.proj_type.name == 'oer'  %}
    {% if repos %}
		<h4>{% trans "recent repositories"|capfirst %}</h4>
		<ul class="list-unstyled">
	        {% for repo in repos %}
	        <li><a href="/repo/{{ repo.slug }}/" {% if repo.state != 3 %}style="color: red;"{% endif %}>{{ repo.name }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
    {% if oers %}
		<h4>{% trans "recent OERs"|capfirst %}</h4>
		<ul class="list-unstyled">
	        {% for oer in oers %}
	        <li><a href="/oer/{{ oer.slug }}/" {% if oer.state != 3 %}style="color: red;"{% endif %}>{{ oer.title }}</a></li>
        	{% endfor %}
        </ul>
	{% endif %}
  {% endif %}
  </div>
</div>
{% endblock %}
