{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load tinymce_tags %}

{% block head_title %}{% if project %}{% trans "edit"|capfirst %} {% trans "project" %}: {{ project.get_name }}{% else %}{{ parent.get_name }}: {% trans "add child project"|capfirst %}{% endif %}{% endblock %}

{% block extra_head %}
{% comment %}
	{% tinymce_preview "preview-content" %}
{% endcomment %}
{% endblock %}

{% block body_class %}project_edit{% endblock %}
{% block body %}
  <h1>{% if project %}<small>{% trans "edit"|capfirst %} {% trans "project" %}:</small> {{ project.get_name }}
      {% else %}{{ parent.get_name }}: <small>{% trans "add"|capfirst %} {% if proj_type and proj_type.name == 'roll'%}{% trans "roll of mentors" %}{% else %}{% trans "child project" %}</small>{% endif %}
      {% endif %}</h1>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">
    <form method="post" action="/project/edit/" id="project_edit_form" class="form-horizontal">
    {% csrf_token %}
    {% if project %}<input type="hidden" id="id" name="id" value="{{ project.id }}" />{% endif %}
    {% if proj_type %}<input type="hidden" id="proj_type" name="proj_type" value="{{ proj_type.id }}" />{% endif %}
    {% if parent %}<input type="hidden" id="parent" name="parent" value="{{ parent.id }}" />{% endif %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
    <div class="form-group">
      <label for="{{ field.name }}" {% if field.field.required %} class="required"{% endif %}>{{ field.label|capfirst}}</label>
      <span class="txt-error">{{ field.errors }}</span>{{ field }}
      {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
    </div>
    {% endwith %}{% endfor %}
    <div class="form-group">
      <button type="submit" name="save" id="save" value="save" class="btn btn-default">{% trans "save"|capfirst %}{% if project %} {% trans "changes" %}{% endif %}</button>&nbsp;
      <button type="submit" name="continue" id="continue" value="continue" class="btn btn-default">{% trans "save and continue"|capfirst %}</button>&nbsp;
      {% if project %}<button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %} ({% trans "user view" %})</button>
      {% else %}<button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default">{% trans "cancel"|capfirst %}</button>
     {% endif %}
    </div>
    </form>
  </div>
  </div>
{% endblock %}

{% block extra_script %}
{% include "_tinymce_init.html" %}
{% endblock %}

