{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{# load tinymce_tags #}


{% block head_title %}
{% if project %} {% trans "edit"|capfirst %}: {{ project.get_name }}
{% else %}
  {{ parent.get_name }}: 

  {% if proj_type_name == proj_type_list.0 %}
    {% trans "request a mentor" %}
  {% elif proj_type_name == proj_type_list.1 %}
    {% trans "add" %} {% trans "roll of mentors" %}
  {% else %}
    {% trans "add" %}
    {% if proj_type_name == 'com' %} {% trans "community" %}
    {% elif parent.get_type_name == 'com' %} {% trans "project" %}
    {% elif parent.get_type_name != 'com' %} {% trans "child project" %}
    {% endif %}
  {% endif %}
{% endif %}{% endblock %}
{% if proj_type_name == 'ment' and info_proj_mentoring %}
{% block extra_style %}
<style>
	div.msg {
	background: white;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid red;
	color: red;
	font-size:13px;
}
</style>
{% endblock %}
{% endif %}

{% block body_class %}project_edit{% endblock %}
{% block body %}
{% if not proj_type_name == 'ment' %}
{% include "_resource_edit_lang_msg.html" %}
{% endif %}
  <div class="panel panel-c{% if not proj_type_name in proj_type_list|slice:":2" %}4{% else %}0{% endif %} text-left marginTB30">
    <div class="panel-heading-c{% if not proj_type_name in proj_type_list|slice:":2" %}4{% else %}0{% endif %} padding1020">
      <h2 class="marginTB5">
      {% if project %}
        <small class="c-{% if not proj_type_name in proj_type_list|slice:":2" %}black{% else %}white{% endif %}">{% trans "edit"|capfirst %}:</small> {{ project.get_name }}
      {% else %}
        {{ parent.get_name }}: <small class="c-{% if not proj_type_name in proj_type_list|slice:":2" %}c-black{%else%}white{%endif%}">
        {% if proj_type_name == proj_type_list.0 %}
          {% trans "request a mentor" %}
        {% elif proj_type_name == proj_type_list.1 %}
          {% trans "add" %} {% trans "roll of mentors" %}
        {% else %}
          {% trans "add" %} 
          {% if proj_type_name == 'com' %} {% trans "community" %}
          {% elif parent.get_type_name == 'com' %} {% trans "project" %}
          {% elif parent.get_type_name != 'com' %} {% trans "child project" %}
          {% endif %}
        {% endif %}</small>
      {% endif %}
      </h2>
    </div>
    {% if proj_type_name == 'ment' and info_proj_mentoring %}
      <div class="msg">{{info_proj_mentoring|safe}}</div>
    {% endif %}
    <form method="post" action="{{ action }}" id="edit_form" enctype="multipart/form-data">{% csrf_token %}
      {% if project %}<input type="hidden" id="id" name="id" value="{{ project.id }}">{% endif %}
      {% if proj_type %}<input type="hidden" id="proj_type" name="proj_type" value="{{ proj_type.id }}">{% endif %}
      {% if parent %}<input type="hidden" id="parent" name="parent" value="{{ parent.id }}">{% endif %}
      {% for field in form.hidden_fields %}{{ field }}{% endfor %}
      <fieldset class="padding1020">
        {% for field in form.visible_fields %}
          {% if not field.name == "reserved" and not field.name == "mentoring_available" %}
            <div class="form-group">
              <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
              <span class="txt-error">{{ field.errors }}</span>{{ field }}
              {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
            </div>
         {% elif field.name == "mentoring_available" and proj_type_name == 'com' %}
             <div class="form-group">
               <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
               <span class="txt-error">{{ field.errors }}</span>{{ field }}
               {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
             </div>
         {% elif field.name == "reserved" and not proj_type_name in proj_type_list %}
             <div class="form-group">
               <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
               <span class="txt-error">{{ field.errors }}</span>{{ field }}
               {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
             </div>
         {% endif %}
        {% endfor %}
      </fieldset>
      <div class="panel-footer-c{% if not proj_type_name in proj_type_list|slice:":2" %}4{% else %}0{% endif %} padding1020">
        {% include "_edit_submit.html" %}
      </div>
    </form>
   </div>
{% endblock %}

{% block extra_script %}
{% include "_tinymce_init.html" %}
{% endblock %}

