{% extends "commons_base.html" %}

{% load staticfiles i18n %}
{% load account_tags %}
{% load commons_tags %}

{% block head_title %}{% if proj_type.name == 'com' %}{% trans "community"|capfirst %}{% else %}{% trans "project"|capfirst %}{% endif %}: {{ project.get_name }}{% endblock %}

{% block extra_style %}
    <link href="{% static "commons/css/select2.css" %}" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_head %}
{% if can_delegate %}
	<script>
	function confirm_delegate(form) {return confirm('{% trans "do you really want to grant the admin or supervisor role to this member" %}?');}
	</script>
	<script>
	function confirm_undelegate(form) {return confirm('{% trans "do you really want to call back the admin or supervisor role from this member" %}?');}
	</script>
{% endif %}
{% endblock %}
{% block body_class %}project_detail{% endblock %}

{% block body %}
{% comment %}{% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}{% endcomment %}
 <h1 class="marginT30">{{ project.get_name }}</h1>
 <p>
    {% if is_closed %}
      <span class="fa fa-lock neutral"></span>
    {% endif %}	
    {% if is_draft %}
      <span class="fa fa-group orange"></span>
    {% elif is_submitted %}
      <span class="fa fa-group limegreen"></span>
    {% elif is_open or is_closed %}
      <span class="fa fa-group neutral"></span>
    {% elif is_deleted %}
      <span class="fa fa-group red"></span>
    {% endif %}
    {{ proj_type.description }}
    {% if project.get_level > 1 %}
      {% if project.get_level == 2 %}
        {% with parent=project.get_parent %}
           &nbsp; - &nbsp;{% trans "community"|capfirst %}: <a href="/project/{{ parent.slug }}/">{{ parent.get_name }}</a>
        {% endwith %}
      {% elif project.get_level == 3 %}
        {% with parent=project.get_parent %}
           &nbsp; - &nbsp;{% trans "child project of" %}: <a href="/project/{{ parent.slug }}/">{{ parent.get_name }}</a>
           &nbsp; - &nbsp;{% trans "community"|capfirst %}: <a href="/project/{{ parent.get_parent.slug }}/" title="{% trans "parent" %}">{{ parent.get_parent.get_name }}</a>
        {% endwith %}
      {% endif %}
    {% endif %}
 </p>
 <div class="row marginB20">
   <div class="col-sm-7 col-md-7 col-lg-8">
     <article class="view-list">
       {% if project.description %}<p class="font16"><i>{{ project.description }}</i></p>{% endif %}
       {% if project.info %}
         <dl class="list-inline font14 clearfix">
            <dt class="with_icon">{% trans "additional information"|capfirst %} <a href="#" class="toggleIcon"><i class="fa fa-plus-circle"></i></a></dt>
            <dd class="field-content width-full" style="display:none"><blockquote class="font14">{{ project.info|safe }}</blockquote></dd>
         </dl>
       {% endif %}
     </article> 
     {% if not project.get_project_type == 'sup' and project_children %}
        <div class="panel-white">
          <div class="panel-heading-c4 padding510 demiBold">{% if project.get_level == 0 %} {% trans "communities"|capfirst %} {% elif project.get_level == 1 %}{% trans "projects"|capfirst %}{% else %}{% trans "child projects"|capfirst %}{% endif %}</div>
            <ul class="list-inline padding10510 list-orange">
             {% with subprojects=project_children %}{% for subproject in subprojects %}
                {% if subproject.state == 2 %}
                   {% comment %} open {% endcomment %}
                   <li><a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}">{{ subproject.get_name }}</a></li>
                {% elif subproject.state == 3 %}
                   {% comment %} closed {% endcomment %}
                   <li><a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}"><span class="fa fa-lock neutral"></span> {{ subproject.get_name }}</a></li>
                {% elif subproject.state == 0 %}
                   {% comment %} draft {% endcomment %}
                   <li><span class="fa fa-group orange"></span> <a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}">{{ subproject.get_name }}</a></li>
                {% elif subproject.state == 4 %}
                  {% comment %} deleted {% endcomment %}
                  <li><span class="fa fa-group red"></span> <a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}">{{ subproject.get_name }}</a></li>
                {% elif subproject.state == 1 %}
                  {% comment %} submitted {% endcomment %}
                  <li><span class="fa fa-group limegreen"></span> <a href="/project/{{ subproject.slug }}/" title="{% trans "view child project" %}">{{ subproject.get_name }}</a></li>
                {% endif %}
             {% endfor %}{% endwith %}
             </ul>
        </div>
     {% endif %}
	 

	 

     {% if user.is_authenticated %}

	   {% if is_admin and  proj_type.name == 'com' and project_support_child %}
	     <div class="panel-white">
          <div class="panel-heading-c4 padding510 demiBold">{% trans "support projects"|capfirst %}</div>
            <ul class="list-inline padding10510 list-orange">
			    {% for proj_sup in project_support_child %}
                <li><a href="/project/{{ proj_sup.slug }}/" title="{% trans "view project" %}">{{ proj_sup.get_name }}</a></li>
				{% endfor %}
				</ul>
				</div>
	   {% endif %}
	 
	 
{% comment %} AMMINISTRAZIONE {% endcomment %}
        {% if can_edit or can_open or can_close or is_admin %}
          <div>
            <ul class="list-inline marginLB020">
              <li class="list-back-c4">
                 <ul class="list-inline">
                    <li><div class="marginB5 demiBold">{% if proj_type.name == 'com' %} {% trans "community"|capfirst %} {% else %} {% trans "project"|capfirst %} {% endif %}</div>
                       <ul class="list-inline list-last">
                       {% if can_edit %}<li><a href="/project/{{ project.slug }}/edit/" title="show edit view" class="btn btn-default"><i class="fa fa-edit"></i> {% trans "modify" %}</a></li>{% endif %}
                       {% if can_open %}<li><a href="/project/{{ project.id }}/open/" title="{% trans "open" %}" class="btn btn-default"><i class="fa fa-unlock"></i> {% trans "open" %}</a></li>{% endif %}
                       {% if can_close %}<li><a href="/project/{{ project.id }}/close/" title="{% trans "close" %}" class="btn btn-default"><i class="fa fa-lock"></i> {% trans "close" %}</a></li>{% endif %}
                       </ul>
                    </li>
                 </ul>
              </li>
              {% if not proj_type.name == 'roll' and not project.get_project_type == 'sup' %}
              {% if can_edit and not project_no_children %}
                <li class="list-back-c4">
                   <ul class="list-inline"><li>
                      {% if project.get_level > 0 %}
                        <div class="marginB5 demiBold">{% if proj_type.name == 'com' %} {% trans "new projects"|capfirst %} {% else %} {% trans "new child projects"|capfirst %} {% endif %}</div>
                        <ul class="list-inline list-last">
                          {% for projType in proj_types %}
                            {% if projType.name != 'com' %}
                              <li><a href="/project/{{ project.slug }}/project_new/{{ projType.name }}/" title="{% if project.get_level == 1 %} {% trans "create project" %}{% else %}{% trans "create child project" %}{% endif %}" class="btn btn-default"><span class="fa fa-group orange"></span> {{ projType.description }}</a></li>
                            {% endif %}
                          {% endfor %}
						  {% if proj_type.name == 'com' %}
						    <li><a href="/project/{{ project.slug }}/project_new/{{ proj_type_sup.name }}/" class="btn btn-default"><span class="fa fa-group orange"></span> {{ proj_type_sup.description }}</a></a></li>
						  {% endif %}
                        </ul>
                     {% else %}
                        <div class="marginB5 demiBold">{% trans "new community"|capfirst %}</div>
                        <ul class="list-inline list-last">
                         <li><a href="/project/{{ project.slug }}/project_new/com/" title="{% trans "create community" %}" class="btn btn-default"><span class="fa fa-group orange"></span> {% trans "community"|capfirst %}</a></li>
                        </ul>
                     {% endif %}
                     </li>
                   </ul>
                </li>
				
              {% endif %}
              {% endif %}
			  </ul>
            
            {% if is_admin and is_open %}
              {% if not project.forum or proj_type.name == 'com' or project.need_create_room or project.need_sync_xmppaccounts %}
                <ul class="list-inline marginLB020">
                  {% if not project.forum or proj_type.name == 'com' %}
                    <li class="list-back-black">
                       <ul class="list-inline">
                         <li><div class="c-white marginB5 demiBold">{% trans "new forum"|capfirst %}</div>
                            <ul class="list-inline list-last">
                              {% if not project.forum %}
                                <li><a class="btn btn-default" href="/project/{{ project.id }}/create_forum/"><i class="fa fa-comment-o"></i> {% if proj_type.name == 'com' %} {% trans "community"|capfirst %} {% else %} {% trans "project"|capfirst %}{% endif %}</a></li>
                              {% endif %}
                              {% if proj_type.name == 'com' %}
                                <li><a class="btn btn-default" href="/project/{{ project.id }}/create_forum/?thematic=true"><i class="fa fa-comment-o"></i> {% trans "thematic" %}</a></li>
                              {% endif %}
                            </ul>
                         </li>
                       </ul>
                    </li>
                  {% endif %}
                  {% if project.need_create_room or project.need_sync_xmppaccounts %}
                    <li class="list-back-black">
                       <ul class="list-inline">
                         <li><div class="c-white marginB5 demiBold">{% trans "chatroom"|capfirst %}</div>
                            <ul class="list-inline list-last">
                              {% if project.need_create_room %}
                                <li><a href="/project/{{ project.id }}/create_room/" class="btn btn-default"><i class="fa fa-comments-o"></i> {% trans "create" %}</a></li>
                              {% endif %}
                              {% if project.need_sync_xmppaccounts %}
                                <li><a href="/project/{{ project.id }}/sync_xmpp/" class="btn btn-default"><i class="fa fa-user"></i> {% trans "add missing accounts"|capfirst %}</a></li>
                              {% endif %}
                            </ul>
                         </li> 
                       </ul>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

{% comment %} or view_chat{% endcomment %}
        {% if view_shared_folder or can_send_message or project.forum %}
        <div>
          <ul class="list-inline marginLB020">
             <li class="list-back-black">
                <ul class="list-inline">
                {% if view_shared_folder %}
                  <li><a href="/project/{{ project.slug }}/folder/" class="btn btn-default"><i class="fa fa-folder-open-o"></i> {% trans "shared folder"|capfirst %}</a></li>
                {% endif %}
                {% if can_send_message %}
                   <li>
                     <form action="/project/{{ project.id }}/compose_message/" method="post">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-default" value="{{ project.id }}"><i class="fa fa-envelope-o"></i> {% trans "message to members"|capfirst %}</button>
                     </form>
                   </li>
                {% endif %}

                {% if project.forum %}
              <li><a href="{{ project.forum.get_absolute_url }}" class="btn btn-default"><div><i class="fa fa-comment-o"></i>
                  	   {% trans "forum"|capfirst %} {% with unviewed_posts_count=project.forum|forum_unviewed_posts_count:user %}{% if is_member and unviewed_posts_count %}<sup style="font-size:10px; background:#dc0d17; border-radius:2px; color: white; padding:1px 3px; font-weight: 600">{{ unviewed_posts_count}}</sup>{% endif %}{% endwith %}</div></a></li>
                {% endif %}
{% comment %}
                {% if view_chat %}
                   <li><a href="/my_chat/" class="btn btn-default"><i class="fa fa-comments-o"></i> {% trans "chatroom"|capfirst %}</a></li>
                {% endif %}
{% endcomment %}
                </ul>
             </li>
           </ul>
        </div>
        {% endif %}
{% comment %} MMR
                {% elif is_member %}
                  <i>{% trans "you are not yet"|capfirst %} {% trans "member of the project chatroom" %}</i>
                {% else %}
                  <i>{% trans "you are not"|capfirst %} {% trans "member of the project" %}</i>
                {% endif %}
              {% else %}
                <i>{% if project.need_create_room and proj_type.name == 'oer' or proj_type.name == 'lp' %}{% trans "no chatroom has has been created for this project"|capfirst %}{% endif %}</i>
              {% endif %}
            {% endif %}
{% endcomment %}

{% comment %} CONTRIBUISCI {% endcomment %}
{% if is_member and not project.get_project_type == 'sup' %}
        {% if can_add_repo or can_add_oer or can_add_lp %}
          <div>
            <ul class="list-inline padding10510">
              {% if can_add_repo %}
                <li class="list-back-c3">
                   <ul class="list-inline">
                      <li><div class="c-white marginB5 demiBold">{% trans "external repository"|capfirst %}</div>
                         <ul class="list-inline list-last">
                            <li><a href="/repo/new/" class="btn btn-default"><i class="fa fa-file-text-o"></i> {% trans "classify"|capfirst %}</a></li>
                         </ul>
                      </li>
                   </ul>
                </li>
              {% endif %}
              {% if can_add_oer %}
                <li class="list-back-c2">
                   <ul class="list-inline">
                      <li><div class="c-white marginB5 demiBold">{% trans "OER" %}</div>
                         <ul class="list-inline list-last">
                            <li ><a href="/project/{{ project.id }}/oer_new/" class="btn btn-default"><i class="fa fa-file-text-o"></i> {% trans "classify"|capfirst %}</a></li>
                            {% if cut_oers %}{% for oer in cut_oers %}
                              <li><a href="/project/{{ project.id }}/paste_oer/{{ oer.id }}/" class="btn btn-default"><i class="fa fa-clipboard"></i> {% trans "paste"|capfirst %} "{{ oer.title|truncatewords:5 }}"</a></li>
                            {% endfor %}{% endif %}
                         </ul>
                      </li>
                   </ul>
                </li>
              {% endif %}
              {% if can_add_lp %}
                <li class="list-back-c3">
                   <ul class="list-inline">
                      <li><div class="c-white marginB5 demiBold">{% trans "LP" %}</div>
                         <ul class="list-inline list-last">
                            <li><a href="/project/{{ project.id }}/lp_new/" class="btn btn-default"><i class="fa fa-file-o"></i> {% trans "create"|capfirst %}</a></li>
                            {% if cut_lps %}{% for lp in cut_lps %}
                              <li><a href="/project/{{ project.id }}/paste_lp/{{ lp.id }}/" class="btn btn-default"><i class="fa fa-clipboard"></i> {% trans "paste"|capfirst %} "{{ lp.title|truncatewords:5 }}"</a></li>
                            {% endfor %}{% endif %}
                         </ul>
                      </li>
                   </ul>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
{% endif %}
{% comment %} MENTORING {% endcomment %}
        {% if proj_type.name == 'com' %}
            <div class="panel">
              <h4 class="text-center">{% trans "mentoring"|capfirst %}</h4>
              <ul class="list-unstyled">
                {% with roll=project.get_roll_of_mentors %}
                  <li><a href="/project/{{ roll.slug }}/" title="{% trans "view" %} {% trans "roll of mentors" %}">{{ roll.name }}</a></li>
                {% endwith %}
                {% if mentoring %}
                  <li><a href="/project/{{ mentoring.slug }}/" title="{% trans "mentoring project" %}"  style="color: {{ mentoring.get_title_color }};">{{ mentoring.get_name }}</a></li>
                {% endif %}
                {% if can_request_mentor %}
                  <li><form class="form-inline" style="margin: 0; padding: 0; display: inline-block;" action="/project/{{ project.slug }}/project_new/ment/" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn-link" style="cursor: hand; padding:0; margin:0;" value="- {% trans "request a mentor"|capfirst %} -">
                  </form></li>
                {% endif %}
                {% if is_admin %}
                  {% if can_add_roll %}
                    <li>- <a href="/project/{{ project.slug }}/project_new/roll/" title="{% trans "create roll of mentors" %}">{% trans "create"|capfirst %}
                     {% trans "roll of mentors"|capfirst %}</a> -</li>
                  {% endif %}
                {% endif %}
              </ul>
              {% if is_admin %}
                 {% if mentoring_projects %}
                    <h5>{% trans "mentoring requests"|capfirst %}</h5>
                    <ul class="list-unstyled" style="font-size: smaller;">
                    {% for proj in mentoring_projects %}
                       <li><a href="/project/{{ proj.slug }}/" title="{% trans "mentoring project" %}"  style="color: {{ proj.get_title_color }};">{{ proj.get_name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
              {% endif %}
            </div>
        {% endif %}
     {% endif %}
   </div>

   <div class="col-sm-5 col-md-5 col-lg-4">
     {% if request.user.is_authenticated %}
       {% if can_apply %}
          <div class="marginB10"><a class="btn btn-green" href="/project/{{ project.slug }}/apply/{{ user.username }}/" title="{% trans "apply for membership" %}">
           {% if proj_type.name == 'roll' %}{% trans "apply"|capfirst %}{% else %}{% trans "join"|capfirst %}{% endif %}</a></div>
       {% elif membership %}
          {% if membership.state == 0 %}
             <div class="panel-white panel-c0 padding510 font12">{% trans "your application is waiting for acceptation by the "|capfirst %} {{ project.admin_name }}</div>
          {% endif %}
       {% endif %}
     {% endif %}


   {% if project.group.level > 0 %}

   <div class="panel-white">
     <div class="panel-heading-c0 padding510 demiBold">{% trans "members"|capfirst %}</div>
     {% with users=project.members %}{% if users|length > 0 %}
     <div {% if users|length > 10 %} class="box-scroll box-medium" {% endif %}>
     <ul class="list-unstyled my-list-unstyled padding510">
     {% for u in users %}
       <li><img {% if u.0.get_profile.avatar %} src="/media/{{ u.0.get_profile.avatar }}" {% else %} src="/media/images/avatars/anonymous.png" {%endif%} class="avatar-small"> <a href="/profile/{{ u.0.username }}/" title="{% trans "view user profile" %}"><small>{{ u.0.get_display_name }}</small></a>{% if u.1 %}<small>, <i>{{ project.admin_name }}</i></small>
          {% if can_delegate and u.0 != user %}<form style="display:inline" action="/project/{{ project.id }}/toggle_supervisor_role/" method="post" onsubmit="return confirm_undelegate(this);" id="undelegate_{{ u.0.username }}">
          {% csrf_token %}<input type="hidden" name="user" value="{{ u.0.username }}">
          <input type="submit" class="btn-link padding0 bold" title="{% trans "call back supervisor role" %}" value="&#x25BE;" id="submit_{{ u.0.username }}">
          </form>{% endif %}
        {% else %}
          {% if can_delegate %}<form style="display:inline" action="/project/{{ project.id }}/toggle_supervisor_role/" method="post" onsubmit="return confirm_delegate(this);" id="delegate_{{ u.0.username }}">
          {% csrf_token %}<input type="hidden" name="user" value="{{ u.0.username }}">
          <input type="submit" class="btn-link padding0 bold" title="{% trans "grant supervisor role" %}" value="&#x25B4;" id="submit_{{ u.0.username }}">
          </form>{% endif %}
        {% endif %}
       </li>
     {% endfor %}
     </ul>
     </div>
     {% endif %}{% endwith %}
     {% if can_accept_member %}
       {% with applications=project.get_applications %}{% if applications|length > 0 %}
       <div class="borderTdotted{% if applications|length > 20 %} box-scroll box-medium {% endif %}">
       <div class="padding510"><div class="bold" >{% trans "applications"|capfirst %}</div>
       <ul class="list-unstyled">
       {% for application in applications %}
         <li><small><a href="/profile/{{ application.user.username }}/" title="{% trans "view user profile" %}">{{ application.user.get_display_name }}</a> &nbsp; <a href="/project/{{ project.slug }}/accept/{{ application.user.username }}/"  title="{% trans "accept application to this community or project" %}"><i class="fa fa-plus"></i></a></small></li>
       {% endfor %}
       </ul>
       </div>
       </div>
       {% endif %}{% endwith %}

       {% if project.get_project_type == 'sup' %}
       <div class="borderTdotted">
       <div class="padding510"><div class="bold" >{% trans "add a member by your initiative"|capfirst %}</div>
  		<form method="post" action="/project/{{ project.slug }}/" id="add_member_form">{% csrf_token %}
	      <div class="form-group">{{ add_member_form.user }}</div>
	      <div>
	        <button type="submit" name="add" id="add" value="add" class="btn btn-default">{% trans "add"|capfirst %}</button>&nbsp;
		  </div>
		</form>
       </div>
       </div>
       {% endif %}
     {% endif %}
   </div>

   {% if recent_actions %}
   <div class="panel-white"><a href="/analytics/project_activity/{{ project.slug }}/">{% trans "recent activity"|capfirst %}</a></div>
   {% endif %}

   {% if project.get_project_type == 'oer' or project.get_project_type == 'lp' %}
    {% if lps %}
      <div class="panel-white">
      <div class="panel-heading-c1 padding510 demiBold">{% trans "last learning paths"|capfirst %}</div>
      <ul class="list-unstyled my-list-unstyled padding510">
      {% for lp in lps %}
	      <li>{% if lp.state != 3 %}<small style="color: {{ lp.get_link_color }};">[{{ lp.get_state }}]</small> {% endif %}<a href="/lp/{{ lp.slug }}/"><small>{{ lp.title }}</small></a></li>
      {% endfor %}
      </ul>
      {% if n_lps > lps|length %}
        <div class="panel-footer-c1 padding510 text-center demiBold"><a href="/project/{{ project.slug }}/project_results/">{% trans "read more"|upper %}</a></div>
      {% endif %}
      </div>
    {% endif %}
    {% if oers %}
      <div class="panel-white">
      <div class="panel-heading-c2 padding510 demiBold">{% trans "last OERs"|capfirst %}</div>
      <ul class="list-unstyled my-list-unstyled padding510">
      {% for oer in oers %}
        <li>{% if oer.state != 3 %}<small style="color: {{ oer.get_link_color }};">[{{ oer.get_state }}]</small> {% endif %}<a href="/oer/{{ oer.slug }}/"><small>{{ oer.title }}</small></a> </li>
      {% endfor %}
      </ul>
      {% if n_oers > oers.count %}
        <div class="panel-footer-c2 padding510 text-center demiBold"><a href="/project/{{ project.slug }}/project_results/">{% trans "read more"|upper %}</a></div>
      {% endif %}
      </div>
    {% endif %}
    {% if oer_evaluations %}
      <div class="panel-white">
      <div class="panel-heading-c2 padding510 demiBold">{% trans "last OER evaluations"|capfirst %}</div>
      <ul class="list-unstyled my-list-unstyled padding510">
      {% for oer_evaluation in oer_evaluations %}
        <li><a href="/oer_evaluation/{{ oer_evaluation.id }}/"><small>{{ oer_evaluation.oer.title }}</small></a></li>
      {% endfor %}
      </ul>
      {% if n_oer_evaluations > oer_evaluations.count %}
         <div class="panel-footer-c2 padding510 text-center demiBold"><a href="/project/{{ project.slug }}/project_results/">{% trans "read more"|upper %}</a></div>
      {% endif %}
      </ul>
      </div>
    {% endif %}
   {% endif %}
   {% endif %}
 </div>
</div>
{% endblock %}

{% block extra_script %}
   <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
   <script type="text/javascript" src="{% static 'commons/js/select2.js' %}"></script>
   <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

	<script type="text/javascript">
	$(document).ready(function (){
		$('dt a.toggleIcon').on('click', function(event){
			event.preventDefault();
			var accordion = $(this).parent();
			var accordionContent = accordion.next('.field-content');
			var accordionToggleIcon = $(this);
			accordion.toggleClass("open");
			accordionContent.slideToggle(250);
			if (accordion.hasClass("open")) {
				accordionToggleIcon.children('i').attr("class","fa fa-minus-circle");
			} else {
				accordionToggleIcon.children('i').attr("class","fa fa-plus-circle");
			}
		});
	});
	</script>
	{% endblock %}