{% extends "base.html" %}

{% load staticfiles i18n %}

{% block head_title %}{% trans "repository"|capfirst %}: {{ repo.name }}{% endblock %}

{% block languages %}{% include "_hreflang.html" %}{% endblock %}

{% block body_class %}repo_detail{% endblock %}

{% block body %}
{% include "_resource_lang_msg.html" %}
<article class="panel-white text-left marginTB30">
  <div class="row panel-c3 panel-heading-c3 marginLR0 padding1020">
    <h2 class="col-sm-8 col-md-9 col-lg-9 marginTB5 paddingL0">{{ repo.name }}</h2>
    <p class="col-sm-4 col-md-3 col-lg-3 marginB0 font26 text-right paddingL0">
      {% if can_edit and not language_mismatch %}&nbsp; <a href="/repo/{{ repo.slug }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit font07em c-white"></i></a>{% endif %}
      {% if can_translate and object.original_language %}&nbsp; <a href="/datatrans/translate/repo/{{ object.pk }}/" title="{% trans "show translate view" %}"><i class="fa fa-language font07em c-white"></i></a>{% endif %}
      {% if is_published or is_un_published %}&nbsp; <a href="/repo_oers/{{ repo.slug }}/" title="list OERs"><i class="fa fa-list font07em c-white"></i></a>{% endif %}
    </p>
  </div>

  <section class="view-card-details">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9">
        {% if repo.description %}<p>{{ repo.description }}</p>{% endif %}
        <dl class="list-inline font14 marginB10">
          <dt class="demiBold">URL</dt>
          <dd><a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a></dd>
        </dl>
        {% if repo.features.all %}
          {% include "_data_all.html" with data=repo.features.all data_class=" font14 marginB10" label_data="features" action="/repos/search/" type_data="features" %}
        {% endif %}
        {% if repo.subjects.all %}
          {% include "_data_all.html" with data=repo.subjects.all data_class=" font14 marginB10" label_data="subject areas" action="/repos/search/" type_data="subjects" %}
        {% endif %}
        {% if repo.languages.all %}
          {% include "_data_languages.html" with data=repo.languages.all data_class=" font14 marginB10" action="/repos/search/" %}
        {% endif %}
        {% include "_data.html" with data=repo_type data_class=" font14 marginB10" label_data="type" action="/repos/search/" type_data="repo_type" desc_data="desc" %}
        {% if repo.info %}
          <dl class="list-inline font14 marginB10 clearfix">
            <dt class="with_icon">{% trans "additional information"|capfirst %} <a href="#" class="toggleIcon"><i class="fa fa-plus-circle"></i></a></dt>
            <dd class="field-content width-full" style="display:none"><blockquote class="font14">{{ repo.info|safe }}</blockquote></dd>
          </dl>
        {% endif %}
        {% if repo.eval %}
          <dl class="list-inline font14 marginB10 clearfix">
            <dt class="with_icon">{% trans "comments / evaluation"|capfirst %} <a href="#" class="toggleIcon"><i class="fa fa-plus-circle"></i></a></dt>
            <dd class="field-content width-full" style="display:none"><blockquote class="font14">{{ repo.eval|safe }}</blockquote></dd>
          </dl>
        {% endif %}
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        {% include "_info_creator_date.html" with data=repo %}
        {% include "_resource_original_lang.html" %}
        {% include "_change_state.html" with data=repo type_object="repo" %}
      </div>
    </div>
		{% include "_object_comments.html" with data_class="c3" data_obj=repo type_obj="repo" %}
  </section>
</article>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
	$(document).ready(function (){
$('dt a.toggleIcon').on('click', function(event){
		event.preventDefault();
		$("body").css("cursor", "default");
		var accordion = $(this).parent();
		var accordionContent = accordion.next('.field-content');
		var accordionToggleIcon = $(this);
		accordion.toggleClass("open");
		accordionContent.slideToggle(250);
		if (accordion.hasClass("open")) {
    		accordionToggleIcon.children('i').attr("class","fa fa-minus-circle");
    	} else {
    		accordionToggleIcon.children('i').attr("class","fa fa-plus-circle");
    	}
	});
});
</script>
{% endblock %}