{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "OER sources"|capfirst %}
    {% if submitter %}{% trans "catalogued by " %}{{ submitter.get_display_name }}{% else %} - {% trans "full catalog" %}{% endif %}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "OER sources"|capfirst %}
				{% if submitter %}{% trans "catalogued by " %}{{ submitter.get_display_name }}{% else %} - {% trans "full catalog" %}{% endif %}
                {% if can_add %}&nbsp; <a href="/repo/new/" title="add a repository"><i class="fa fa-plus" style="font-size: 0.7em;""></i></a>{% endif %}
            </h2>
            <p class="lead">
    {% if repo_list %}
	<ul class="list-unstyled">
        {% for repo, n in repo_list %}
        <li>
            <a href="/repo/{{ repo.slug }}/">{{ repo.name }}</a>. &nbsp;<i>{{ repo.type_description }}</i>.&nbsp; {{ repo.description|truncatechars:80 }}
            {% if n %}(<a href="/repo_oers/{{ repo.slug }}/">{{ n }}</a>){% endif %}
        </li>
        {% endfor %}
	</ul>
	{% else %}
       	<p>{% trans "no repository is present"|capfirst %}.</p>
    {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
