{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "top contributors to"|capfirst %} {% trans "ROERs cataloguing"|capfirst %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "top contributors to"|capfirst %} {% trans "ROERs cataloguing"|capfirst %}</h2>
            <p class="lead">
    {% if user_list %}
	<ul class="list-unstyled">
        {% for user in user_list %}
        <li><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a>
            ({% if user.num_repos > 0 %}<a href="/repos_by/{{ user.username }}/">{{ user.num_repos }}</a>{% else %}{{ user.num_repos }}{% endif %})
        </li>
        {% endfor %}
	</ul>
	{% else %}
       	<p>{% trans "no repository"|capfirst %} {% trans "is present" %}.</p>
    {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
