{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}Repository: {{ repo.name }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Repository:{% endblocktrans %}
            	&nbsp; {{ repo.name }}
            	&nbsp; <a href="/repos/" title="show repository list"><i class="fa fa-level-up" style="font-size: 0.7em;"></i></a>
                &nbsp; <a href="/repo_oers/{{ repo.slug }}/" title="list OERs"><i class="fa fa-list" style="font-size: 0.7em;""></i></a>
                &nbsp; <a href="/admin/commons/repo/{{ repo.id }}/" title="show edit view"><i class="fa fa-edit" style="font-size: 0.7em;""></i></a></h2>
            <p class="lead">
            <div><strong>Type</strong>: {{ repo_type.description }}</div>
            <div><strong>In short</strong>: {{ repo.description }}</div>
            <div><strong>URL</strong>: <a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a></div>
    		{% if repo.features.all %}
    		<div style="margin-top: 0.5em;"><strong>Features</strong>:
			<ul class="root">
		        {% for feature in repo.features.all %}
		        <li>{{ feature.name }}</li>
		        {% endfor %}
			</ul>
			</div>
		    {% endif %}
    		<div><strong>Subject areas</strong>:
    		{% if repo.subjects.all %}
 			<ul class="root">
		        {% for subject in repo.subjects.all %}
		        <li>{{ subject.option_label|safe }}</li>
		        {% endfor %}
			</ul>
		    {% else %}
				<div style="margin-left: 1.5em;"><i>Any</i></div>
		    {% endif %}
			</div>
    		<div><strong>OER languages</strong>:
    		{% if repo.languages.all %}
			<ul class="root">
		        {% for language in repo.languages.all %}
		        <li>{{ language.code }} - {{ language.name }}</li>
		        {% endfor %}
			</ul>
		    {% else %}
				<div style="margin-left: 1.5em;"><i>Any</i></div>
		    {% endif %}
			</div>
    		{% if repo.info %}
    		<div style="margin-top: 0.5em;"><strong>Additional information</strong>:
				<div style="margin-left: 1.5em;">{{ repo.info|safe }}</div>
			</div>
		    {% endif %}
    		{% if repo.eval %}
    		<div style="margin-top: 0.5em;"><strong>Comments / evaluation</strong>:
				<div style="margin-left: 1.5em;">{{ repo.eval|safe }}</div>
			</div>
		    {% endif %}
    		<div style="margin-top: 0.5em;"><strong>OERs from this source</strong>:
			{% with oers=repo.get_oers %}
				{% if oers %}
	                &nbsp; <a href="/repo_oers/{{ repo.slug }}/" title="list OERs"><i class="fa fa-list" style="font-size: 0.7em;""></i></a>
	                &nbsp; <a href="/admin/commons/oer/add/?source={{ repo.id }}" title="add an OER"><i class="fa fa-plus" style="font-size: 0.7em;""></i></a></h2>
				<ul class="root">
			        {% for oer in oers %}
			        <li><a href="/oer/{{ oer.slug }}/">{{ oer.title }}</a></li>
			        {% endfor %}
				</ul>
				{% else %}
	                &nbsp; <a href="/admin/commons/oer/add/?source={{ repo.id }}" title="add an OER"><i class="fa fa-plus" style="font-size: 0.7em;""></i></a></h2>
					<div style="margin-left: 1.5em;"><i>No OERs are present having this repository as their source.</i></div>
				{% endif %}
			{% endwith %}
            </p>
        </div>
    </section>
{% endblock %}
