{% extends "commons_base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load tinymce_tags %}

{% block head_title %}{% if repo %}{% trans "edit repository"|capfirst %}: &nbsp;{{ repo.name }}{% else %}{% trans "add repository"|capfirst %}{% endif %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
	{% tinymce_preview "preview-content" %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="col-sm-12">
    <section>
       <h2 class="text-center">{% if repo %}{% trans "edit repository"|capfirst %}: &nbsp;{{ repo.name }}{% else %}{% trans "add repository"|capfirst %}{% endif %}</h2>
    <form method="post" action="/repo/save/" id="edit_form" class="form-horizontal">
    {% comment %}see http://stackoverflow.com/questions/18539711/input-widths-on-bootstrap-3{% endcomment %}
	{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}{% with i=forloop.counter %}
    <div class="row"  style="margin-top: 0; margin-bottom: 0;">
	<div class="form-group col-lg-{% if i == 2 or i == 5 or i == 6 or i == 7 %}5{% else %}8{% endif %}">
	    <label for="{{ field.name }}" style="margin-bottom: 0;">{{ field.label}} {% if field.required %}<span style="color: red;">*</span>{% endif %}</label>
		<span style="color: red;">{{ field.errors }}</span>{{ field }}
		{% if field.help_text %}<span id="{{ field.name }}helpBlock" class="help-block" style="font-size: smaller; margin-bottom: 0;">{{ field.help_text }}</span>{% endif %}
	</div>
	</div>
    {% endwith %}{% endfor %}
		<button type="submit" name="save" id="save" value="save" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Save{% if repo %} changes{% endif %}</button>&nbsp;
		<button type="submit" name="continue" id="continue" value="continue" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Save and continue</button>&nbsp;
		{% if repo %}<button type="submit" name="cancel" id="cancel" value="cancel" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Cancel (user view)</button>
		{% else %}<button type="button" onclick="window.location.href='/repos/'" name="cancel" id="cancel" value="cancel" class="btn btn-default" style="margin-top: 0.5em; margin-left: 0;">Cancel</button>
		{% endif %}
    </form>
    </section>
  </div>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
	<script>
	tinyMCE.init({
	    mode: "specific_textareas",
	    editor_selector : "richtext",
	    theme : "advanced",
	});	</script>
{% endblock %}

