{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}Catalog of OER Repositories{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Catalog of external OER repositories{% endblocktrans %}
                &nbsp; <a href="/admin/commons/repo/add/" title="add a repository"><i class="fa fa-plus" style="font-size: 0.7em;""></i></a></h2>
            <p class="lead">
    {% if repo_list %}
	<ul class="root">
        {% for repo, n in repo_list %}
        <li>
            <a href="/repo/{{ repo.slug }}/">{{ repo.name }}</a>. &nbsp;<i>{{ repo.type_description }}</i>.&nbsp; {{ repo.description|truncatechars:80 }}
            {% if n %}(<a href="/repo_oers/{{ repo.slug }}/">{{ n }}</a>){% endif %}
        </li>
        {% endfor %}
	</ul>
	{% else %}
       	<p>{% trans "No repository is present" %}.</p>
    {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
