{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}
	{% trans "resources catalogued by"|capfirst %} &nbsp;{{ submitter.get_display_name }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 class="text-center">{% trans "resources catalogued by"|capfirst %} &nbsp;{{ submitter.get_display_name }}</h2>

	    {% if lps %}
        <h3>{% trans "learning paths"|capfirst %}</h3>
		<ul class="list-unstyled">
	        {% for lp in lps %}
	        <li>
	            <a href="/lp/{{ lp.slug }}/">{{ lp.title }}</a>. &nbsp;<i>{{ lp.get_type }}</i>.&nbsp; {{ lp.short|truncatechars:80 }}
	        </li>
	        {% endfor %}
		</ul>
	    {% endif %}

		{% if oer_evaluations %}
        <h3>{% trans "OER evaluations"|capfirst %}</h3>
		<ul class="root">
	        {% for evaluation in oer_evaluations %}
	        <li><a href="/oer_evaluation/{{ evaluation.id }}/">{{ evaluation.oer.title }}: {{ evaluation.overall_score }}/5</a>.</li>
	        {% endfor %}
		</ul>
		{% endif %}

		{% if oers %}
        <h3>{% trans "OERs"|capfirst %}</h3>
		<ul class="root">
	        {% for oer in oers %}
	        <li><a href="/oer/{{ oer.slug }}/">{{ oer.title }}</a>.</li>
	        {% endfor %}
		</ul>
		{% endif %}

	    {% if repos %}
        <h3>{% trans "sources"|capfirst %}</h3>
		<ul class="list-unstyled">
	        {% for repo in repos %}
	        <li>
	            <a href="/repo/{{ repo.slug }}/">{{ repo.name }}</a>. &nbsp;<i>{{ repo.type_description }}</i>.&nbsp; {{ repo.description|truncatechars:80 }}
	        </li>
	        {% endfor %}
		</ul>
	    {% endif %}

        </div>
    </section>
{% endblock %}
