{% extends "commons_base.html" %}

{% load staticfiles i18n %}

{% block head_title %}{% trans "search"|capfirst %} {% trans "of source repositories" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <div class="container">
	<div class="col-sm-12">
    <section>
	<h2 class="text-center">{% trans "search"|capfirst %} {% trans "of source repositories" %}</h2>

	<table style="border-collapse: separate; border-spacing: 0 .0em;">
	<tr><th style="vertical-align: top"><h4>{% trans "search results"|capfirst %}</h4></th></tr>
	{% if repos %}
	{% for repo in repos %}
       <tr><td><a href="/repo/{{ repo.slug }}/" style="color: {{ repo.get_link_color }};">{{ repo.name }}</a>.&nbsp; {{ repo.description|truncatechars:120 }}</td></tr>
	{% endfor %}
	{% elif query %}
       <tr><td><i>{% trans "no results were found"|capfirst %}.</i></td></tr>
	{% else %}
       <tr><td><i>{% trans "no query has been specified"|capfirst %}.</i></td></tr>
	{% endif %}

	</table>

  	<form style="margin: 0;" action="/repos/search/" method="post" id="search_form"><div>
	{% csrf_token %}
	<table style="border-collapse: separate; border-spacing: 0 .5em;"">
	<tr><th style="vertical-align: top"><h4>{% trans "new search"|capfirst %}</h4></th></tr>
   	<tr><td></td><td style="vertical-align: middle; padding-bottom: .5em;"><input type="submit" value="{% trans "apply the search criteria below"|capfirst %}">
   		{% if user.is_authenticated %}&nbsp; <input type="checkbox" name="include_all" value="checked" {% if include_all %}checked{% endif %}> include non published items{% else %}<input type="hidden" name="include" value="">{% endif %}
   	</td></tr>
	{% for field in form.visible_fields %}
       <tr style="vertical-align: top;">
	   		<th style="margin-top: .5em; font-weight: bold; text-align: right; vertical-align: middle;">{% if field.help_text %}<img src="{% static "admin/img/icon-unknown.gif" %}" Title="{{ field.help_text }}" style="cursor: pointer; float:right; margin:5px;">{% endif %}
	   		{{ field.label_tag|capfirst }} &nbsp;</th>
	   		<td><div class="checkbox-multiple">{{ field }}</div></td>
   		</tr>
	{% endfor %}
	</table>
	</div></form>
    </section>
	</div>
	</div>
{% endblock %}

