{% extends "base.html" %}

{% load staticfiles i18n %}

{% block head_title %}{% trans "search of OERs"|capfirst %}{% endblock %}

{% block body_class %}search_oers{% endblock %}

{% block body %}
<div class="marginTB30">
  <div class="panel-heading-c2">
    <h1 class="text-center padding105 margin0">{% trans "open educational resources"|capfirst %} ({% trans "OERs" %})</h1>
  </div>
  <div class="body-panel borderBLRradius borderColor-c2 paddingT20">
  <div class="row marginLR0">
    <div class="col-sm-5 col-md-5 col-lg-5">
      <div class="search-header">
        {% trans "search"|capfirst %} 
        <button class="search-toggle" data-toggle="collapse" data-target=".search-collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="collapse search-collapse search-responsive-collapse">
        <form action="/oers/search/" method="post" id="search_form">
          {% include "_search_form.html" %}
        </form>
      </div>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7">
      {% if oers %}
        <p><small><span class"demiBold">{{ n_oers }} {% if n_oers > 1 %}{% trans "results" %}{% else %}{% trans "result" %}{% endif %}</span>
          {% if term %}
            <br><span class"demiBold">{% trans "search text"|capfirst %}:</span> {{ term }}
          {% endif %}
          {% if criteria %}
            <br><span class"demiBold">{% trans "search criteria"|capfirst %}:</span> 
            {% for c in criteria %}
              {{ c|safe }}
              {% if not forloop.last %}
                -
              {% endif %}
            {% endfor %}
          {% endif %}
        </small></p>
        {% include page_template %}
      {% else %}
        <p><small><span class"demiBold">{% trans "no results were found"|capfirst %}</span>
          {% if criteria %}
            <br><span class"demiBold">{% trans "search criteria"|capfirst %}:</span> 
            {% for c in criteria %}
              {{ c|safe }}
              {% if not forloop.last %}
                -
              {% endif %}
            {% endfor %}
          {% endif %}
        </small></p>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
  {% include "_search_form_js.html" with search='search_oers' %} 
{% endblock %}