{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% load menu account %}
{% generate_menu %}

{# remove to bring back topbar #}
{% block topbar_base %}<a href="/"><img src="/static/commons/img/LogoPerSito.jpg" /></a>
	<div class="nav-collapse" style="display: inline-block; vertical-align: center;">
		{% block nav %}{{ menus }}
			{% with menu=menus.main %}<ul class="nav">{% include "bootstrap-navbar.html" %}</ul>{% endwith %}
		{% endblock %}
		{% block account_bar-language%}
			<ul class="nav pull-right">
				{% if request.user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ request.user.first_name }} {{ request.user.last_name }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/accounts/profile/"><i class="icon-user"></i> {% trans "My profile" %}</a></li>
							<li><a href="/my_resources/"><i class="icon-blank"></i> {% trans "My resources" %}</a></li>
							{% if request.user.is_staff %}
								<li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
							{% endif %}
							<li class="divider"></li>
							<li style="margin-left: 20px;">
								<form action="{% url "account_logout" %}" method="post">
									{% csrf_token %}
									<a id="account_logout" href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a>
								</form>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="divider-vertical"></li>
					<li class="menu-ele"><a href="{% url "account_signup" %}">{% trans "Sign Up" %}</a></li>
					<li class="divider-vertical"></li>
					<li class="menu-ele"><a href="{% url "account_login" %}">{% trans "Log In" %}</a></li>
					<li class="divider-vertical"></li>
				{% endif %}
			</ul>
		{% endblock %}
	</div>
{% endblock %}


{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "jquery/js/jquery-2.1.1.min.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
