{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Text Readability" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "Text Readability" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
<div class="panel panel-c4 text-left marginTB30">
  <div  class="padding1020">
    <div class="marginB5">
      {% if obj_type_label %}<label>{{ obj_type_label|capfirst }}</label>{% endif %}
      {% if title %}<i>{{ title }}</i></span>{% endif %}
      {% if obj_id %}(id = {{ obj_id }})</span>{% endif %}
    </div>
    <div><label>{% trans "language"|capfirst %}</label> {{ language }}</div>
    <h4 class="marginTB0 padding0">{% trans "text features"|capfirst %}</h4>
    <table class="table table-responsive table-bordered table-striped">
    <tbody>
    <tr><th colspan="4" style="text-align: left;">{% trans "raw text features"|capfirst %}</th></tr>
    <tr><td>{% trans "sentences"|capfirst %}</td> <td style="text-align: center;">{{ n_sentences }}</td><td></td><td></td></tr>
    <tr><td>{% trans "tokens"|capfirst %}</td> <td style="text-align: center;">{{ n_tokens }}</td><td>{% trans "mean / max. tokens per sentence"|capfirst %}</td><td>{{ mean_sentence_length|floatformat:2 }} / {{ max_sentence_length }}</td></tr>
    <tr><td>{% trans "characters"|capfirst %}</td> <td style="text-align: center;">{{ n_word_characters }}</td><td>{% trans "mean characters per token"|capfirst %}</td><td>{{ mean_chars_per_word|floatformat:2 }}</td></tr>
    <tr><td>{% trans "syllables"|capfirst %}</td> <td style="text-align: center;">{{ n_word_syllables }}</td><td>{% trans "mean syllables per token"|capfirst %}</td><td>{{ mean_syllables_per_word|floatformat:2 }}</td></tr>
    <tr><th colspan="4" style="text-align: left;">{% trans "lexical features"|capfirst %}</th></tr>
    <tr><td>{% trans "unique word forms"|capfirst %}</td> <td style="text-align: center;">{{ n_unique }}</td><td>{% trans "unique word forms/tokens ratio"|capfirst %} (<a href="https://www.tandfonline.com/doi/abs/10.1080/09296171003643098">lexical diversity</a>)</td><td>{{ voc_density|floatformat:2 }}</td></tr>
    <tr><td>{% trans "lexical/total tokens ratio"|capfirst %} (<a href="https://en.wikipedia.org/wiki/Lexical_density" target="_blank">lexical density</a>)</td><td>{{ lex_density|floatformat:2 }}</td><td>{% trans "lexical rarity"|capfirst %} ({% trans "from basic vocabulary or frequency lists" %})</td><td>{{ lexical_rarity|floatformat:2 }}</td></tr>
    <tr><th colspan="4" style="text-align: left;">{% trans "syntactic features"|capfirst %}</th></tr>
    <tr><td>{% trans "mean / max. largest dependency depth"|capfirst %}</td><td>{{ mean_dependency_depth|floatformat:2 }} / {{ max_dependency_depth }}</td><td></td></tr>
    <tr><td>{% trans "mean / max. largest dependency distance"|capfirst %}</td><td>{{ mean_dependency_distance|floatformat:2 }} / {{ max_dependency_distance }}</td><td>{% trans "mean / max. largest weighted dependency distance"|capfirst %}</td><td>{{ mean_weighted_distance|floatformat:2 }} / {{ max_weighted_distance|floatformat:2 }}</td></tr>
    </tbody>
    </table>

    <h4 class="marginTB5 padding0">{% trans "formulas based on raw text features"|capfirst %}</h4>
    {% if readability_indexes %}
      <table class="table table-responsive table-bordered table-striped">
      <thead>
      <tr><th>{% trans "formula"|capfirst %}</th><th>{% trans "value"|capfirst %}</th><th>{% trans "range"|capfirst %}</th><th>{% trans "reference"|capfirst %}</th></tr>
      </thead>
      <tbody>
      {% for index in readability_indexes.values %}
      <tr><td>{{ index.title }}</td> <td>{{ index.value|floatformat:2 }}</td><td>{{ index.range }}</td><td><a href="{{ index.ref }}" target="doc">{% trans "see documentation" %}</a></td></tr>
      {% endfor %}
      </tbody>
      </table>
    {% else %}
      {% trans "no readability formulas are available yet for"|capfirst %} {{ language }}.
    {% endif %}
    <h4 class="marginTB5 padding0">{% trans "advanced text complexity indexes"|capfirst %}</h4>
      {% trans "in preparation"|capfirst %}.
  </div>
</div>
{% endblock %}

{% block footer_base %}{% endblock footer_base %}
