{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load commons_tags %}

{% block head_title %}{% trans "Text Analysis" %} - {% trans "Text cohesion" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<style>
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 4px;
}
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "Text cohesion" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
<div class="container-fluid">
  <div id="app" class='components-container'>
  {% verbatim %}
    <template v-if="error===null">
    <div class="marginB10">
      <span v-if="obj_type_label"><label>{{ obj_type_label }}</label></span>
      <span v-if="title">: <i>{{ title }}</i></span>
      <span v-if="id">(id = {{ obj_id }})</span>
    </div>
    <div v-if="language"><label>language</label> {{ language }}</div>

    <div style="text-align: center">
    <label>{{ label_entity_graph }} (1)</label>
    <table style="margin: 0 auto; border-collapse: collapse;">
      <thead><tr>
          <td><div style="text-align: right"><i>{{ label_weighted }}</i></div>
              <div style="text-align: left"><i>{{ label_distance }}</i></div></td>
          <th style="vertical-align: top; width: 10%;">No</th><th style="vertical-align: top; width: 10%;">Yes</th><th style="vertical-align: top; width:10%;">Acc. (2)</th>
      </tr></thead>
      <tbody>
          <tr><th style="text-align: center">No</th>
          <td v-for="(item, index) in cohesion_by_entity_graph.slice(0, 3)">
              <span>{{ parseFloat(item[1]).toFixed(2) }}</span>
          </td></tr>
          <tr><th style="text-align: center">Yes</th>
          <td v-for="(item, index) in cohesion_by_entity_graph.slice(3, 6)">
              <span>{{ parseFloat(item[1]).toFixed(2) }}</span>
          </td></tr>
      </tbody>
    </table>
    <div><i><span style="font-size: smaller;">(1) {{ label_see }}:
         <a target="_blank" href="https://aclanthology.org/P13-1010/">Graph-based Local Coherence Modeling</a>,<br>
         <a target="_blank" href="https://trunajod20.readthedocs.io/en/latest/index.html">TRUNAJOD: A text complexity library for text analysis built on spaCy</a>
    </i></span></div>
    <div><i><span style="font-size: smaller">(2) {{ label_syntax }}</span></i></div>
    </div>

    <div class="marginT5 text-center"><label>{{ label_local_cohesion }}</label></div>
    <div class="marginT5"><label>{{ label_cohesive_nouns }}</label>:
      <template v-for="(item, index) in repeated_lemmas">
          <span v-if="index != 0">, </span>
          <span :style="'background-color:'+colors[index][1]">{{ item[0] }}</span> ({{ item[1] }})
      </template>
    </div>
    <table style="margin: 0 auto; border-collapse: collapse;">
      <thead>
         <th style="width:5%">#</th><th style="width:55%">{{ label_paragraph }}</th>
         <th style="width:20%">{{ label_repetitions }} <span>(3)</span></th>
         <th style="width:20%">{{ label_similarity }} <span>(3)(4)</span></th>
      </thead>
      <tbody>
        <tr v-for="(p, index) in paragraphs">
          <td style="vertical-align:top; text-align:center;">{{ p[0] }}</td>
          <td>
              <span v-for="token in tokens.slice(p[2], p[3])">
                <template v-if="token['lemma'] in lemma_color_map">
                  <span :style="'background-color:'+lemma_color_map[token['lemma']]">{{ token['text'] }}</span>
                </template>
                <template v-else>
                  {{ token['text'] }}
                </template>
              </span>
          </td>
          <template v-if="index===0">
            <td style="font-weight: bold; text-align:center;"><i>document average {{ parseFloat(cohesion_by_repetitions[index]).toFixed(2) }}</i></td>
            <td style="font-weight: bold; text-align:center;"><i>document average {{ parseFloat(cohesion_by_similarity[index]).toFixed(2) }}</i></td>
          </template>
          <template v-else>
            <td style="vertical-align:top; text-align:center;">{{ parseFloat(cohesion_by_repetitions[index]).toFixed(2) }}</td>
            <td style="vertical-align:top; text-align:center;">{{ parseFloat(cohesion_by_similarity[index]).toFixed(2) }}</td>
          </template>
          </tr>
        </tr>
      {% endverbatim %}
      </tbody>
    </table>
    <div><i><span style="font-size: smaller">(3) {% trans "with reference to max 3 previous paragraphs"|capfirst %}</span></i></div>
    <div><i><span style="font-size: smaller">(4) {% trans "similarity is computed by spaCy using feature vectors"|capfirst %}</span></i></div>
    </template>
  </div>
</div>
{% endblock %}

{% block footer_base %}{% endblock footer_base %}

{% block script_base %}
  <script>
      var app = new Vue({
        name: 'test',
        data: {
          file_key: '{{ file_key }}',
          obj_type: '{{ obj_type }}',
          obj_id: '{{ obj_id }}',
          obj_type_label: '{{ obj_type_label }}',
          title: '{{ title }}',
          language: '{{ language }}',
          tokens: null, paragraphs: null,
          cohesion_by_entity_graph: null,
          repeated_lemmas: null, colors: null, lemma_color_map: null,
          cohesion_by_repetitions: null, cohesion_by_similarity: null,
          error: null,
          label_local_cohesion: "{% trans "local cohesion"|capfirst %}",
          label_cohesive_nouns: "{% trans "most cohesive nominal lemmas"|capfirst %}",
          label_paragraph: "{% trans "paragraph"|capfirst %}",
          label_entity_graph: "{% trans "text coherence computed with entity graph"|capfirst %}",
          label_see: "{% trans "see"|capfirst %}",
          label_repetitions: "{% trans "text cohesion based on shared lexicon"|capfirst %}",
          label_similarity: "{% trans "text cohesion based on paragraphs similarity"|capfirst %}",
          label_weighted: "{% trans "weight on number of entities shared" %}",
          label_syntax: "{% trans "in weighting, take into account also syntax" %}",
          label_distance: "{% trans "take into account distance between sentences" %}",
        },
        el: '#app',
        methods: {
          resize() {
            console.log('resize')
          }
        },
        mounted: function () {
          $this = this;
          if (! this['obj_id'])
            this['obj_id'] = 0;
            fetch('/text_cohesion/'{% if file_key %}+this['file_key']+'/'{% endif %}{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
            method: 'GET',
            headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
          })
          .then(response => response.json())
          .then(data => {
             for (var key in data) {
              this[key] = data[key];
             };
           })
          .catch(err => (this['error'] = err))
        },
      });
 </script>
{% endblock script_base %}