{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}My account:{% endblocktrans %} {{ user.username }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-3">
   			<h4 style="margin-top: 4.0em;">{% trans "membership"|capfirst %}</h4>
            <ul class="list-unstyled">
            {% for membership in memberships %}
            	<li><a href="/project/{{ membership.project.slug }}/">{{ membership.project.name }}</a>
            	</li>
            {% endfor %}
            {% for application in applications %}
            	<li><a href="/project/{{ application.project.slug }}/">{{ application.project.name }}</a> &nbsp;<i>{% trans "application pending" %}</i>
            	</li>
            {% endfor %}
            </ul>
  </div>
  <div class="col-sm-6">
    <section>
            <h2 class="text-center">{% trans "member"|capfirst %}:
				{% if user.first_name %} {{ user.first_name }} {{ user.last_name }} {% else %} {{ user.username }}{% endif %}
			</h2>
			{% if request.path = '/my_account/' %}
			<div><strong>{% trans "username"|capfirst %}</strong>: {{ user.username }}</div>
			<div><strong>{% trans "email"|capfirst %}</strong>: {{ user.email }}</div>
			{% endif %}
			<div><strong>{% trans "in short"|capfirst %}</strong>:</div>
            </p>
    </section>
  </div>
  <div class="col-sm-3">
   			<h4 style="margin-top: 4.0em;">{% trans "recent work"|capfirst %}</h4>
  </div>
</div>
{% endblock %}
