{% extends "commons_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "preferences of"|capfirst %}: {{ user.get_display_name }}{% endblock %}

{% block body_class %}my_preferences{% endblock %}

{% block body %}

<article class="panel text-left marginTB30 panel-c0">
  <div class="navbar panel-heading-c0 padding10">
	<div class="pull-left">
    {% if profile.avatar %}
      <img src="/media/{{ profile.avatar }}" class="avatar-large">
    {% else %}
      <img src="/media/images/avatars/anonymous.png" class="avatar-large">
    {% endif %}
    </div>
	<h2 class="pull-left marginTB0" style="margin-top:33px; padding-left:6px">{{  user.get_display_name }}</h2>
    <ul class="pull-right marginT20 marginB0 font16">
      <li><a href="/my_profile/">{% trans "my profile"|capfirst %}</a></li>
      <li><a href="/my_home/">{% trans "my home"|capfirst %}</a></li>
    </ul>
  </div>
  <section class="padding10">
    <div class="panel-white padding10">
	  <dl class="list-inline marginB10">
		<dt>{% trans "Notification by email"|capfirst %}</dt>
        <dd>{{ profile.get_notification_choice }}</dd>		
	  </dl>
	  <ul class="list-inline">
        <li class="list-back-c0"><a href="/edit_preferences/" title='{% trans "edit preferences" %}' class="btn btn-default"><i class="fa fa-edit"></i> {% trans "modify" %}</a></li>
 	  </ul>
    </div>
  </section>
</article>
{% endblock %}
