{% extends "commons_base.html" %}

{% load i18n staticfiles %}
{% load commons_tags %}

{% block head_title %}{% trans "my home"|capfirst %}: {{ user.get_display_name }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block body_class %}my_home{% endblock %}

{% block body %}
<article class="panel text-left marginTB30 panel-c0">
  <div class="navbar panel-heading-c0 padding10">
    {% if complete_profile %}
      <div class="pull-left">
        {% if profile.avatar %}
          <img src="/media/{{ profile.avatar }}" class="avatar-large">
        {% else %}
          <img src="/media/images/avatars/anonymous.png" class="avatar-large">
        {% endif %}
      </div>
    {% endif %}
    <h2 class="pull-left marginTB0" style="margin-top:33px; padding-left:6px">{{  user.get_display_name }}</h2>
    {% if complete_profile %}
      <ul class="pull-right marginT20 marginB0 font16">
        <li><a href="/my_profile/">{% trans "my profile"|capfirst %}</a></li>
        <li><a href="/edit_preferences/?next={{request.path}}">{% trans "preferences"|capfirst %}</a></li>
      </ul>
    {% endif %}
  </div>
  <section class="{% if complete_profile %}padding10{% else %}view-card-details{% endif %}">
    {% if complete_profile %}
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="panel-white">
            <ul class="list-inline list-unstyled margin0 padding105">
              <li><a href="/my_mail/" title='{% trans "my messages" %}'><div><i class="fa fa-envelope"></i> {% trans "messages"|capfirst %}{% if user.inbox_count %}<sup class="format">{{ user.inbox_count}}</sup>{% endif %}</div></a></li>
              <li><a href="/dashboard/{{ user.username }}/new_posts/" title='{% trans "new posts"|capfirst %}'><div><i class="fa fa-comment"></i> {% trans "forum"|capfirst %}{% with unviewed_posts_count=user.unviewed_posts_count %}{% if unviewed_posts_count %}<sup class="format">{{ unviewed_posts_count}}</sup>{% endif %}{% endwith %}</div></a></li>
              {% comment %}<li><a href="/analytics/user_activity/{{ user.username }}/">{% trans "recent activity"|capfirst %}</a></li>{% endcomment %}
              {% if user.is_superuser or user.is_manager %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart" aria-hidden="true"></i> {% trans "analytics"|capfirst %} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "activity_stream" %}">{% trans "activity stream"|capfirst %}</a></li>
                    <li><a href="{% url "forum_analytics" %}">{% trans "forums"|capfirst %}</a></li>
                    <li><a href="{% url "message_analytics" %}">{% trans "messages"|capfirst %}</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
            {% if request.user.is_staff and request.LANGUAGE_CODE == 'en' %}
              <ul class="list-inline list-unstyled margin0 padding105">
                <li><i class="fa fa-edit"></i> {% trans "manage"|capfirst %}:</li>
                <li><a href="/admin/commons/featured/" target="_blank">{% trans "featured"|capfirst %}</a></li>
                <li class="paddingLR0">|</li>
                <li><a href="/admin/flatpages/flatpage/" target="_blank">{% trans "flatpages"|capfirst %}</a></li>
                <li class="paddingLR0">|</li>
                <li><a href="/admin/zinnia/entry/" target="_blank">{% trans "Weblog"|capfirst %}</a></li>
              </ul>
            {% endif %}
          </div>

          {% if com_applications  %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "pending applications to communities"|capfirst %}</div>
              <div {% if com_applications|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for application in com_applications %}
                  <li><a href="/project/{{ application.project.slug }}/"><small>{{ application.project.get_name }}</small></a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if proj_applications  %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "pending applications to projects"|capfirst %}</div>
              <div {% if proj_applications|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for application in proj_applications %}
                  <li><a href="/project/{{ application.project.slug }}/"><small>{{ application.project.get_name }}</small></a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if roll_applications  %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "pending applications to rolls of mentors"|capfirst %}</div>
              <div {% if roll_applications|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for application in roll_applications %}
                  <li><a href="/project/{{ application.project.slug }}/"><small>{{ application.project.get_name }}</small></a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if com_adminships %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "admin of the following communities"|capfirst %}</div>
              <div {% if com_adminships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                 {% for membership in com_adminships %}
                   <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{ membership.project.get_name }}</a>{% if membership.proj_applications %} [{{ membership.proj_applications }} {% trans "applications" %}]{% endif %}</small>
                   </li>
                 {% endfor %}
                </ul>
              </div>
            </div>
          {% endif%}

          {% if adminrollmentorships %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "supervisor of the following rolls of mentors"|capfirst %}</div>
              <div {% if adminrollmentorships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for membership in adminrollmentorships %}
                  <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{membership.project.get_name }}</a>{% if membership.roll_applications %} [{{ membership.roll_applications|length }} {% trans "applications" %}]{% endif %}</small>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif%}

          {% if adminships %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "supervisor of the following projects"|capfirst %}</div>
              <div {% if adminships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for membership in adminships %}
                  <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{membership.project.get_name }}</a>{% if membership.proj_applications %} [{{ membership.proj_applications|length }} {% trans "applications" %}]{% endif %}</small>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif%}
         
          {% if com_only_memberships %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "member of the following communities"|capfirst %}</div>
              <div {% if com_only_memberships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                  {% for membership in com_only_memberships %}
                    <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{ membership.project.get_name }}</a></small>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif%}

          {% if only_rollmentorships %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "member of the following rolls of mentors"|capfirst %}</div>
              {% if only_rollmentorships %}
                <div {% if only_rollmentorships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                  <ul class="list-unstyled my-list-unstyled padding510">
                  {% for membership in only_rollmentorships %}
                    <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{ membership.project.get_name }}</a></small>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              {% else %}
                <div class="padding510"><small>{% trans "no projects"|capfirst %}</small></div>
              {% endif %}
            </div>
          {% endif%}

          {% if only_memberships %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "member of the following projects"|capfirst %}</div>
              {% if only_memberships %}
                <div {% if only_memberships|length > 10 %} class="box-scroll box-medium" {% endif %}>
                  <ul class="list-unstyled my-list-unstyled padding510">
                  {% for membership in only_memberships %}
                    <li>
                      {% if membership.project.state == 0 %}
                        <span class="fa fa-group orange"></span> 
                      {% elif membership.project.state == 1 %}
                        <span class="fa fa-group limegreen"></span> 
                      {% elif membership.project.state == 3 %}
                        <span class="fa fa-lock neutral"></span> 
                      {% endif %}
                      <small><a href="/project/{{ membership.project.slug }}/">{{ membership.project.get_name }}</a></small>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              {% else %}
                <div class="padding510"><small>{% trans "no projects"|capfirst %}</small></div>
              {% endif %}
            </div>
          {% endif%}
          
           {% with rels=mentoring_rels_mentoring_request %}{% if rels %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "mentoring requests in my communities"|capfirst %}</div>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for rel in rels %}
                  <li>
                    <span class="limegreen"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></span>
                    <small><a href="/project/{{ rel.slug }}/">{{ rel.name }}</a></small>
                  </li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}{% endwith %}
          
          {% with rels=mentoring_rels_mentoring_requests_waiting %}{% if rels %}
            <div class="panel-white">
              <div class="panel-heading-c4 padding510 demiBold">{% trans "mentoring requests in my communities waiting for mentor answer"|capfirst %}</div>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for rel in rels %}
                  <li>
                      <span class="limegreen"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></span>
                    <small><a href="/project/{{ rel.slug }}/">{{ rel.name }}</a></small>
                  </li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}{% endwith %}
          
          {% with rels=mentoring_rels_selected_mentor %}{% if rels %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "mentees requesting me as a mentor"|capfirst %}</div>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for rel in rels %}
                  <li>
                      <span class="limegreen"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></span>
                    <small><a href="/project/{{ rel.project.slug }}/">{{ rel.project.name }}</a></small>
                  </li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}{% endwith %}
          {% with rels=mentoring_rels_mentor %}{% if rels %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "my mentoring projects as a mentor"|capfirst %}</div>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for rel in rels %}
                  <li>
                    {% if rel.project.state == 3 %}
                      <span class="fa fa-lock neutral"></span> 
                    {% endif %}
                    <small><a href="/project/{{ rel.project.slug }}/">{{ rel.project.name }}</a></small>
                  </li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}{% endwith %}
          {% with rels=mentoring_rels_mentee %}{% if rels %}
            <div class="panel-white">
              <div class="panel-heading-c0 padding510 demiBold">{% trans "my mentoring projects as a mentee"|capfirst %}</div>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for rel in rels %}
                  <li>
                    {% if rel.project.state == 0 %}
                      <span class="orange"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></span>
                    {% elif rel.project.state == 1 %}
                      <span class="limegreen"><i class="fa fa-user" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></span>
                    {% elif rel.project.state == 3 %}
                      <span class="fa fa-lock neutral"></span> 
                    {% endif %}
                    <small><a href="/project/{{ rel.project.slug }}/">{{ rel.project.name }}</a></small>
                  </li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}{% endwith %}
          <div class="panel-white">
            <div class="panel-heading-c0 padding510 demiBold">{% trans "suggested mentors"|capfirst %}</div>
            {% if best_mentors %}
              <div {% if best_mentors|length > 10 %} class="box-scroll box-medium" {% endif %}>
                <ul class="list-unstyled my-list-unstyled padding510">
                {% for mentor in best_mentors %}
                  {% if mentor.0 > 0.5 or forloop.counter < 6 %}
                    <li><small class="demiBold">{{ mentor.0|floatformat:2 }}</small> &nbsp; <img {% if mentor.2 %} src="/media/{{ mentor.2 }}" {% else %} src="/media/images/avatars/anonymous.png" {% endif %} class="avatar-small"> <a href="/profile/{{mentor.1.username }}/" title='{% trans "view user profile" %}'><small>{{ mentor.1.get_display_name }}</small></a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            {% else %}
              <div class="padding510"><small>{% trans "no fit mentors were found in the communities of which you are member"|capfirst %}</small></div>
            {% endif %}
          </div>
        </div>	
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="panel-white">
            <div class="panel-heading-c0 padding510 demiBold">{% trans "my activity of last period"|capfirst %} ({{ max_days }} {% trans "days" %})</div>
             {% if my_last_actions %}
               <div {% if my_last_actions|length > 10 %} class="box-scroll box-medium" {% endif %}>
                 <ul class="list-unstyled my-list-unstyled padding510">
                 {% for action in my_last_actions %}
                    {% with action.action_object|object_class as obj_type %}
                    <li><small>{{ action.timestamp|date:"d.m.Y" }} - {{ action.verb }}  {{action.action_object_content_type }}: 
                    {% if action.action_object.get_absolute_url and not obj_type == 'PathNode' %}
                      <a href="{{ action.action_object.get_absolute_url }}">{% endif %}<span class="demiBold">
                    {% if action.action_object.name %}
                       {{ action.action_object.name|truncatechars:60 }}
                    {% elif action.action_object.title %}
                      {{ action.action_object.title|truncatechars:60 }}
                    {% elif action.action_object.label %}
                      {{ action.action_object.label|truncatechars:60 }}
                    {% endif %}</span>
                    {% if action.action_object.get_absolute_url and not obj_type == 'PathNode' %}</a>{% endif %}
                    {% if action.action_object.user_data.username %}
                      <a href="/profile/{{action.action_object.user_data.username}}/">{% endif %}
                    {% if action.action_object.user_data.get_display_name %}
                      <span class="demiBold"> {{ action.action_object.user_data.get_display_name }}</span>
                    {% endif %}
                  {% if action.action_object.user_data.username %}</a>{% endif %}
                  {% if action.target or action.description %} &nbsp; 
                  [{% if action.target %}
                  {{action.target_content_type}}: 
                  {% if obj_type == 'PathNode' %}<a href="/{% if action.target_content_type == 'LearningPath' %}lp/{% else %}project/{% endif %}{{action.target}}/">{% endif %}
                    <span class="demiBold">{{ action.target }}</span>
                       {% if obj_type == 'PathNode' %}</a>{% endif %}{% endif %}
                     {% if action.description %}<span class="demiBold"> - {{ action.description }}</span>{% endif %}]{% endif %}</small></li>
                  {% endwith %}
                 {% endfor %}
                 </ul>
               </div>
             {% else %}
               <div class="padding510"><small>{% trans "no actions of last period"|capfirst %}</small></div>
             {% endif %}
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="panel-white">
                <div class="panel-heading-c1 padding510 demiBold">{% trans "my personal Learning Paths"|capfirst %}</div>
                {% if my_lps %}
                  <div {% if my_lps|length > 10 %} class="box-scroll box-medium" {% endif %}>
                    <ul class="list-unstyled my-list-unstyled padding510">
                      {% for lp in my_lps %}
                        <li>{% if lp.state != 3 %}<small style="color: {{ lp.get_link_color }};">[{{ lp.get_state }}]</small> {% endif %}<a href="/lp/{{ lp.slug }}/"><small>{{ lp.title }}</small></a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="padding510"><small>{% trans "no personal Learning Path created yet"|capfirst %}</small></div>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="paddingT20 text-center"><a class="bc-c1 borderRadius4 c-white padding510 demiBold" href="/lp_new/"><i class="fa fa-file"></i> {% trans "create personal Learning Path"|capfirst %}</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="panel-white">
                <div class="panel-heading-c2 padding510 demiBold">{% trans "my OERs"|capfirst %}</div>
                {% if oers %}
                  <div {% if oers|length > 10 %} class="box-scroll box-medium" {% endif %}>
                    <ul class="list-unstyled my-list-unstyled padding510">
                    {% for oer in oers %}
                      <li>{% if oer.state != 3 %}<small style="color: {{ oer.get_link_color }};">[{{ oer.get_state }}]</small> {% endif %}<a href="/oer/{{oer.slug }}/"><small>{{ oer.title }}</small></a></li>
                    {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="padding510"><small>{% trans "no OER classified yet"|capfirst %}</small></div>
                {% endif %}
              </div>
              {% if oers_admin %}
                <div class="panel-white">
                  <div class="panel-heading-c2 padding510 demiBold">{% trans "OERs in supervisor project"|capfirst %}</div>
                  <div {% if oers_admin|length > 10 %} class="box-scroll box-medium" {% endif %}>
                    <ul class="list-unstyled my-list-unstyled padding510">
                    {% for oer in oers_admin %}
                      <li><small style="color: {{ oer.get_link_color }};">[{{ oer.get_state }}]</small> <a href="/oer/{{oer.slug }}/"><small>{{ oer.title }}</small></a></li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="panel-white">
                <div class="panel-heading-c1 padding510 demiBold">{% trans "my Learning Paths"|capfirst %}</div>
                {% if lps %}
                  <div {% if lps|length > 10 %} class="box-scroll box-medium" {% endif %}>
                    <ul class="list-unstyled my-list-unstyled padding510">
                    {% for lp in lps %}
                      <li>{% if lp.state != 3 %}<small style="color: {{ lp.get_link_color }};">[{{ lp.get_state }}]</small> {% endif %}<a href="/lp/{{lp.slug }}/"><small>{{ lp.title }}</small></a></li>
                    {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="padding510"><small>{% trans "no Learning Path created yet"|capfirst %}</small></div>
                {% endif %}
              </div>
              {% if lps_admin %}
                <div class="panel-white">
                  <div class="panel-heading-c1 padding510 demiBold">{% trans "Learning Paths in supervisor project"|capfirst %}</div>
                  <div {% if lps_admin|length > 10 %} class="box-scroll box-medium" {% endif %}>
                    <ul class="list-unstyled my-list-unstyled padding510">
                    {% for lp in lps_admin %}
                      <li><small style="color: {{ lp.get_link_color }};">[{{ lp.get_state }}]</small> <a href="/lp/{{lp.slug }}/"><small>{{ lp.title }}</small></a></li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p class="text-center font18 txt-error">{% trans "please, complete your profile"|capfirst %}! &nbsp; <a href="/profile/{{user}}/edit"><i class="fa fa-edit"></i></a></p>
    {% endif %}
  </section>
</article>
{% endblock %}
