{% extends "commons_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{{ title }}{% endblock %}
{% block extra_style %}
<style>
body {
  background: #A8B0B2 !important;
}
.container-back {
  background: url({% static 'commons/img/community2.jpg' %}) no-repeat top center;
  background-size: cover;
  padding-bottom: 5.80%;
}
.box_sup {
  margin:70px 0 0 0;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding:10px 20px;
  background: rgba(255,255,255,0.9);
}
.box_inf {
  margin:0 0 70px 0;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding:10px 20px 10px 20px;
  background: rgba(255,255,255,1);
}
</style>
{% endblock %}
{% block body_class %} user_welcome{% endblock %}

{% block body_base %}
<div class="container-fluid container-back">
    <div class="container">
        <div class="box_sup">
            <h1 class="text-center">{{ title }}</h1>
            <div class="font16 demiBold">{{ page|safe }}</div>
        </div>
        <div class="box_inf">
            <ul class="list-inline marginB0 marginL0 text-center">
                <li class="font24" style="vertical-align:middle"><a href="/profile/{{username}}/edit" class="bc-c0 borderRadius4 paddingLR40 c-white" style="padding-bottom:3px">{% trans "complete your profile"|capfirst %}</a></li>
            </ul>
        </div>
    </div>     
</div>
{% endblock %}
