{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "member"|capfirst %}: {{ user.get_display_name }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-3">
   			<h4 style="margin-top: 4.0em;">{% trans "membership"|capfirst %}</h4>
            <ul class="list-unstyled">
            {% for membership in memberships %}
            	<li><a href="/project/{{ membership.project.slug }}/">{{ membership.project.get_name }}</a>
            	</li>
            {% endfor %}
            {% for application in applications %}
            	<li><a href="/project/{{ application.project.slug }}/">{{ application.project.get_name }}</a> &nbsp;<i>{% trans "application pending" %}</i>
            	</li>
            {% endfor %}
            </ul>
  </div>
  <div class="col-sm-6">
    <section>
            <h2 class="text-center">{% trans "member"|capfirst %}:
				{{ user.get_display_name }}
				{% if can_edit %}&nbsp;<a href="/profile/{{ user.username }}/edit/" title="show edit profile"><i class="fa fa-edit" style="font-size: 0.8em;""></i></a>{% endif %}
			</h2>
{% if profile %}
			{% if profile.short %}<div style="margin-bottom: 0.5em; font-style: italic;">{{ profile.short }}</div>{% endif %}
{% endif %}
{% if request.path = '/my_profile/' %}
			<div><strong>{% trans "username"|capfirst %}</strong>: {{ user.username }}</div>
			<div><strong>{% trans "email"|capfirst %}</strong>: {{ user.email }}</div>
{% endif %}
{% if profile %}
			{% if profile.country %}<div><strong>{% trans "country"|capfirst %}</strong>:
				{% comment %}{{ profile.country }}{% endcomment %}
	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_{{ profile.country.code }}">
	{% csrf_token %}<input type="hidden" name="country" value="{{ profile.country.code }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ profile.country.option_label|safe }}">
	</form>
			</div>{% endif %}
			{% if profile.city %}<div><strong>{% trans "city"|capfirst %}</strong>: {{ profile.city }}</div>{% endif %}
			{% if profile.edu_level %}<div><strong>{% trans "education"|capfirst %}</strong>:
				{% comment %}{{ profile.edu_level }}{% endcomment %}
	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_{{ profile.edu_level.id }}">
	{% csrf_token %}<input type="hidden" name="edu_level" value="{{ profile.edu_level.id }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ profile.edu_level.option_label|safe }}">
	</form>
			</div>{% endif %}
			{% if profile.pro_status %}<div><strong>{% trans "status"|capfirst %}</strong>:
				{% comment %}{{ profile.pro_status }}{% endcomment %}
	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_{{ profile.pro_status.id }}">
	{% csrf_token %}<input type="hidden" name="pro_status" value="{{ profile.pro_status.id }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ profile.pro_status.option_label|safe }}">
	</form>
			</div>{% endif %}
			{% if profile.position %}<div><strong>{% trans "position"|capfirst %}</strong>:
				{{ profile.position }}
			</div>{% endif %}
			{% if profile.edu_field %}<div><strong>{% trans "field of study"|capfirst %}</strong>:
				{% comment %}{{ profile.edu_field }}{% endcomment %}
	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_edu_field.id">
	{% csrf_token %}<input type="hidden" name="edu_field" value="{{ profile.edu_field.id }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ profile.edu_field.option_label|safe }}">
	</form>
			</div>{% endif %}
			{% if profile.pro_field %}<div><strong>{% trans "sector of work"|capfirst %}</strong>:
				{% comment %}{{ profile.pro_field }}{% endcomment %}
	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_pro_field">
	{% csrf_token %}<input type="hidden" name="pro_field" value="{{ profile.pro_field.id }}">
   	<input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ profile.pro_field.option_label|safe }}">
	</form>
			</div>{% endif %}
			{% if profile.languages.all or profile.other_languages %}<div><strong>{% trans "languages"|capfirst %}</strong>:
				{% for language in profile.languages.all %}
				{% comment %}{{ language }}{% endcomment %}
  	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_language_{{ language.code }}">
	{% csrf_token %}<input type="hidden" name="languages" value="{{ language.code }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ language.option_label|safe }}">{% if not forloop.last %},{% endif %}
	</form>
				{% endfor %}
				{% if profile.other_languages %},{{ profile.other_languages }}{% endif %}
			</div>{% endif %}
			{% if profile.subjects.all %}<div><strong>{% trans "subjects of interest"|capfirst %}</strong>:
				{% for subject in profile.subjects.all %}
				{% comment %}{{ subject }}{% endcomment %}
  	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_subject_{{ subject.id }}">
	{% csrf_token %}<input type="hidden" name="subjects" value="{{ subject.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ subject.option_label|safe }}">{% if not forloop.last %},{% endif %}
	</form>
				{% endfor %}
			</div>{% endif %}
			{% if profile.url %}<div><strong>{% trans "web site"|capfirst %}</strong>: <a href="{{ profile.url }}" target="_blank">{{ profile.url }}</a></div>{% endif %}
			{% if profile.networks.all %}<div><strong>{% trans "social networks"|capfirst %}</strong>:
				{% for network in profile.networks.all %}
				{% comment %}{{ network }}{% endcomment %}
  	<form class="form-inline" style="display: inline;" action="/people/search/" method="post" id="people_network_{{ network.id }}">
	{% csrf_token %}<input type="hidden" name="networks" value="{{ network.id }}">
    <input type="submit" class="btn-link" style="padding:0; margin:0;" value="{{ network.option_label|safe }}">{% if not forloop.last %},{% endif %}
	</form>
				{% endfor %}
			</div>{% endif %}
			{% if profile.long %}<div style="margin-top: 1em">{{ profile.long|safe }}</div>{% endif %}
{% endif %}
    </section>
  </div>
  <div class="col-sm-3"  style="margin-top: 4.0em;">
  </div>
</div>
{% endblock %}
