{% extends "commons_base.html" %}

{% load i18n %}

{% block head_title %}{{ flatpage.title }}{% endblock %}

{% block body_class %}flatpage{% endblock %}

{% block body %}
	<h1 class="text-center">{{ flatpage.title }}
	{% if request.user.is_staff %}
		{% if request.LANGUAGE_CODE == 'en' %}
			<small><a href="/admin/flatpages/flatpage/{{ flatpage.id }}/" title=""><i class="fa fa-edit"></i></a></small>
		{% endif %}
		<small><a href="/datatrans/translate/flatpage/{{ flatpage.id }}/" title=""><i class="fa fa-language"></i></a></small>
	{% endif %}
	</h1>
	<section class="view-card">
		{{ flatpage.content|safe }}
	</section>
{% endblock %}
