{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head_title %}{{ flatpage.title }}{% endblock %}
{% block extra_style %}
<style>
body {
  padding-block-start: 60px !important;
}
</style>
{% endblock %}

{% block body_class %}{{ flatpage.title }}{% endblock %}

{% block topbar_base %}
<header>
  <div class="navbar-fixed-top">
    <div class="navbar navbar-inverse">
      <div class="container">
       <div class="navbar-header pull-left">
         <a class="navbar-brand mynavbar-brand hidden-xs" href="/"><img src="{% static "commons/img/common_logo_white.png" %}" class="img-responsive"></a>
         <a  class="navbar-brand mynavbar-brand-xs visible-xs" href="/"><img src="{% static "commons/img/common_logo_white_short.png" %}" class="img-responsive"></a>
         {% if SITE_ID > 1 %}<a class="navbar-brand" style="margin-inline-start: -20px; color:white; line-height:22px" href="/"><span style="font-size:85%">{% trans "for" %}</span><span style="margin-left:5px; font-family: LeagueMonoVariable,sans-serif; font-size:x-large;">{{ site_name }}</span></a>{% endif %}
       </div>
     </div>
    </div>
  </div>
</header>

{% endblock %}

{% block body_base %}
<section id="content_body">
  <div>
        {% comment %}<div class="font16 demiBold">{{ flatpage.content|safe }}</div>{% endcomment %}
        <div>{{ flatpage.content|safe }}</div>
  </div>
</section>
{% endblock %}


