{% extends 'pybb/base.html' %}

{% comment %}{% load url from future %}{% endcomment %}

{% load i18n %}

{% block title %}{% trans "List" %} {% if category.name %}{{ category.name }}{% else %}forum{% endif %}{% endblock title %}

{% block breadcrumb %}
    {% with extra_crumb="Forum" %}{% include "pybb/breadcrumb.html" %}{% endwith %}
{% endblock %}
{% block body_class %}bc-white index{% endblock %}
{% block content %}
    {% if categories %}
        {% for category in categories %}
            {% include 'pybb/category.html' %}
        {% endfor %}
    {% else %}
        <h3>{% trans "Forum categories are not created" %}</h3>
        <a href="{% url 'admin:pybb_category_add' %}">{% trans "Add a category now" %}</a>
    {% endif %}
    {% if user.is_superuser %}  {% comment %} 20190211 MMR user.is_authenticated {% endcomment %}
        <p id='topic_latest'>
            <a href='{% url 'pybb:topic_latest' %}'>
                {% trans "Last updates in topics" %}
            </a>
        </p>
		{% comment %}
        <div id='mark-all-as-read'>
            <a href='{% url 'pybb:mark_all_as_read' %}'>
                {% trans "Mark all forums as read" %}
            </a>
        </div>
		{% endcomment %}
    {% endif %}
{% endblock content %}
